<div class="row">
  <div class="col-xs-12 m-t-md">
    <div class="pull-left">
      Найдено —
      <strong>{{ searchResult && searchResult.numFound ? searchResult.numFound : 0}}</strong>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 table-overflow-container" style="min-height: 400px;">
    <table class="table table-striped table-hover" style="font-size:14px;color: #676a6c;min-height: 400px;">
      <thead>
        <tr style="border-top: 1px solid #f0f0f0;font-weight:600;">
          <th [style]="s.width" style="outline: none;" *ngFor="let s of sortings" (click)="sortingChanged(s)"
            role="button">
            <span [style.white-space]="s.wrap === true ? null : 'nowrap'">
              {{s.name}}
              <span *ngIf="s.value === 'none'" class="fa fa-angle-down"></span>
              <span *ngIf="s.value === 'desc'" class="fa fa-caret-down"></span>
              <span *ngIf="s.value === 'asc'" class="fa fa-caret-up"></span>
            </span>
          </th>
        </tr>
        <tr>
          <th>
            <ng-select [items]="dicts.statuses" [multiple]="false" [closeOnSelect]="true" [hideSelected]="true"
              bindLabel="name" [(ngModel)]="tableFilter.conditionInst" name="conditionInst" (change)="onFilterChange()">
            </ng-select>
          </th>
          <th>
            <div style="position: relative">
              <cdp-date-range-select-table [(dateFrom)]="tableFilter.docDateInst.from"
                [(dateTo)]="tableFilter.docDateInst.to" [onChange]="changeDateRangeField"
                                           (dateFromChange)="changeDateField($event, 'docDateInst','from'); changeDateRangeField"
                                           (dateToChange)="changeDateField($event, 'docDateInst', 'to'); changeDateRangeField">
              </cdp-date-range-select-table>
            </div>
          </th>
          <th>
            <input type="text" class="form-control" (input)="onFilterChange()" [(ngModel)]="tableFilter.docNumberInst"
              name="docNumberInst">
          </th>
          <th *ngIf="!isMka">
            <mggt-select-ldap-users [(model)]="tableFilter.creatorLogInst" [multiline]="true"
              (modelChange)="changeLdapField($event, 'creatorLogInst')" [multiple]="false"></mggt-select-ldap-users>
          </th>
          <th *ngIf="isMka">
            <input type="text" class="form-control" (input)="onFilterChange()" [(ngModel)]="tableFilter.creatorLogInst"
              name="creatorLogInst" />
          </th>
          <th>
            <input type="text" class="form-control" (input)="onFilterChange()" [(ngModel)]="tableFilter.contentInst"
              name="contentInst">
          </th>
          <th *ngIf="!isMka">
            <mggt-select-ldap-users [(model)]="tableFilter.executorLogInst" [multiline]="true"
              (modelChange)="changeLdapField($event, 'executorLogInst')" [multiple]="false"></mggt-select-ldap-users>
          </th>
          <th *ngIf="isMka">
            <input type="text" class="form-control" (input)="onFilterChange()" [(ngModel)]="tableFilter.executorLogInst"
              name="executorLogInst" />
          </th>
          <th>
            <ng-select [items]="dicts.priorities" [multiple]="false" [closeOnSelect]="true" [hideSelected]="true"
              bindLabel="name" [(ngModel)]="tableFilter.priorityInst" name="priorityInst" (change)="onFilterChange()">
            </ng-select>
          </th>
          <th>
            <div style="position: relative">
              <cdp-date-range-select-table [position]="'right'" [(dateFrom)]="tableFilter.planDateInst.from"
                [(dateTo)]="tableFilter.planDateInst.to" [onChange]="changeDateRangeField"
                                           (dateFromChange)="changeDateField($event, 'planDateInst','from')"
                                           (dateToChange)="changeDateField($event, 'planDateInst', 'to')">
              </cdp-date-range-select-table>
            </div>
          </th>
          <th>
            <div style="position: relative">
              <cdp-date-range-select-table [position]="'right'" [(dateFrom)]="tableFilter.reportDateInst.from"
                [(dateTo)]="tableFilter.reportDateInst.to" [onChange]="changeDateRangeField"
                                           (dateFromChange)="changeDateField($event, 'reportDateInst','from')"
                                           (dateToChange)="changeDateField($event, 'reportDateInst', 'to')">
              </cdp-date-range-select-table>
            </div>
          </th>
          <th>
            <div style="position: relative">
              <cdp-date-range-select-table [position]="'right'" [(dateFrom)]="tableFilter.acceptDateInst.from"
                [(dateTo)]="tableFilter.acceptDateInst.to" [onChange]="changeDateRangeField"
                                           (dateFromChange)="changeDateField($event, 'acceptDateInst','from')"
                                           (dateToChange)="changeDateField($event, 'acceptDateInst', 'to')">
              </cdp-date-range-select-table>
            </div>
          </th>
          <!--th>
            <div style="position: relative">
              <ng-select [items]="dicts.acceptStatuses" [multiple]="false" [closeOnSelect]="true" [hideSelected]="true"
                         bindLabel="name" [(ngModel)]="tableFilter.acceptStatus" name="acceptStatus"
                         (change)="onFilterChange()">
              </ng-select>
            </div>
          </th-->
        </tr>
      </thead>
      <tbody *ngIf="searchResult && !isLoading">
        <tr *ngFor="let doc of searchResult.docs; let i=index;">
          <td style="white-space: nowrap;">
            <a uiSref="app.instruction.instruction-card" [uiParams]="{id: doc.documentId}" (click)="saveLink(doc.documentId)" >
              <span class="label label-{{doc.statusColor}}">{{doc.statusName}}</span>
            </a>
          </td>
          <td>
            <a uiSref="app.instruction.instruction-card" [uiParams]="{id: doc.documentId}" (click)="saveLink(doc.documentId)" >
              {{doc.beginDate | date: 'dd.MM.yyyy HH:mm'}}
            </a>
          </td>
          <td>
            <a uiSref="app.instruction.instruction-card" [uiParams]="{id: doc.documentId}" (click)="saveLink(doc.documentId)" >
              <i *ngIf="doc.confident === 'true'" class="fa fa-handshake-o" aria-hidden="true"></i>
              {{doc.instructionNumber}}
              <div>
                <div class="label label-success" *ngIf="doc.repeatedSign">Регулярное</div>
              </div>
            </a>
          </td>
          <td>
            <a uiSref="app.instruction.instruction-card" [uiParams]="{id: doc.documentId}" (click)="saveLink(doc.documentId)" >
              {{doc.creatorFioFull}}
            </a>
          </td>
          <td>
            <div *ngIf="doc.content" class="m-b-xs">
              <div style="overflow-wrap: break-word; max-width: 275px;">
                <a uiSref="app.instruction.instruction-card" [uiParams]="{id: doc.documentId}" (click)="saveLink(doc.documentId)" >
                  {{doc.content}}
                </a>
            </div>
            </div>
            <div *ngIf="links[doc.documentId] && links[doc.documentId].length">
              <div *ngFor="let link of links[doc.documentId]">
                <a *ngIf="link.targetType === 'SDO_ORDER_ORDER'" style="color:#337ab7 !important;" target="_blank"
                   href="/sdo/order/#/app/order/document/{{link.targetId}}">
                  Перейти к Распорядительному документу
                </a>
              </div>
            </div>
            <div *ngIf="doc.instructionMKAID">
              <a uiSref="app.instruction.instruction-card" [uiParams]="{id: doc.instructionMKAID}" target="_blank"
                style="color:#337ab7 !important;">
                Перейти к Поручению МКА
              </a>
            </div>
            <div *ngIf="doc.parentId">
              <a uiSref="app.instruction.instruction-card" [uiParams]="{id: doc.parentId}" target="_blank"
                style="color:#337ab7 !important;">
                Перейти к Главному поручению
              </a>
            </div>
            <div *ngIf="doc.orderMKAID" class="m-b-xs">
              <a style="color:#337ab7 !important;" target="_blank" href="/sdo/order/#/app/order/document/{{doc.orderMKAID}}">
                Перейти к Распорядительному документу МКА
              </a>
            </div>
            <div *ngIf="doc.agendaMKAID" class="m-b-xs">
              <a style="color:#337ab7 !important;" target="_blank"
                href="/sdo/meeting/#/app/meeting/agenda/{{doc.agendaMKAID}}">
                <span *ngIf="!doc.isExpress">
                  Перейти к Регламентному совещанию МКА
                </span>
                <span *ngIf="doc.isExpress">
                  Перейти к Административному совещанию МКА
                </span>
              </a>
            </div>
            <div *ngIf="doc.protocolMKAID" class="m-b-xs">
              <a style="color:#337ab7 !important;" target="_blank"
                href="/sdo/meeting/#/app/meeting/protocol/{{doc.protocolMKAID}}">
                Перейти к Протоколу Регламентного совещания МКА
              </a>
            </div>
            <div *ngIf="doc.subjectName" class="m-b-xs">
              <a uiSref="app.instruction.instruction-card" [uiParams]="{id: doc.documentId}" (click)="saveLink(doc.documentId)" >
                Тема: {{doc.subjectName}}
              </a>
            </div>
            <div *ngIf="doc.memoId && doc.memoView" class="m-b-xs">
              <a *ngIf="!doc.receivedFromMKA" style="color:#337ab7 !important;" uiSref="app.instruction.memo-card"
                [uiParams]="{id: doc.memoId}">
                Перейти к Служебной записке
              </a>
              <a *ngIf="doc.receivedFromMKA" style="color:#337ab7 !important;" uiSref="app.instruction.memomka-card"
                [uiParams]="{id: doc.memoId}">
                Перейти к Служебной записке
              </a>
            </div>
            <div *ngIf="doc.memoMKAID" class="m-b-xs">
              <a style="color:#337ab7 !important;" uiSref="app.instruction.memomka-card"
                [uiParams]="{id: doc.memoMKAID}">
                Перейти к Служебной записке МКА
              </a>
            </div>
            <div *ngIf="doc.questionId && !doc.expressMeetingID" class="m-b-xs">
              <a style="color:#337ab7 !important;" target="_blank"
                href="/sdo/meeting/#/app/meeting/question/{{doc.questionId}}">Перейти к Вопросу Регламентного совещания</a>
            </div>
            <div *ngIf="doc.expressMeetingID" class="m-b-xs">
              <a style="color:#337ab7 !important;" target="_blank"
                href="/sdo/meeting/#/app/meeting/agenda/{{doc.expressMeetingID}}">Перейти к Административному совещанию</a>
            </div>
            <div *ngIf="doc.themeName" class="m-b-xs">
              <a uiSref="app.instruction.instruction-card" [uiParams]="{id: doc.documentId}" (click)="saveLink(doc.documentId)" >{{doc.themeName}}</a>
            </div>
            <div *ngIf="doc.difficultyName">
              <a uiSref="app.instruction.instruction-card" [uiParams]="{id: doc.documentId}" (click)="saveLink(doc.documentId)" >{{doc.difficultyName}}</a>
            </div>
          </td>
          <td>
            <a uiSref="app.instruction.instruction-card" [uiParams]="{id: doc.documentId}" (click)="saveLink(doc.documentId)" >
              {{doc.executorFioFull}}
            </a>
          </td>
          <td>
            <span *ngIf="doc.priorityName">
              <a uiSref="app.instruction.instruction-card" [uiParams]="{id: doc.documentId}" (click)="saveLink(doc.documentId)" >
                <span class="text-{{doc.priorityColor}}">{{doc.priorityName}}</span>
              </a>
            </span>
          </td>
          <td>
            <a uiSref="app.instruction.instruction-card" [uiParams]="{id: doc.documentId}" (click)="saveLink(doc.documentId)" >
              <span [class]="doc.isOverdue ? 'text-danger font-bold' : ''">
                {{doc.planDate | date: 'dd.MM.yyyy'}}
                <div>{{doc.planDate | date: 'HH:mm'}}</div>
                <span *ngIf="doc.primaryDate && !doc.repeatedSign">
                  (перенесено с {{doc.primaryDate | date: 'dd.MM.yyyy'}})
                </span>
              </span>
            </a>
          </td>
          <td>
            <a *ngIf="doc.statusCode !== 'inwork'"
              uiSref="app.instruction.instruction-card" [uiParams]="{id: doc.documentId}" (click)="saveLink(doc.documentId)" >
              {{doc.reportDate | date:'dd.MM.yyyy'}}
              <div>{{doc.reportDate | date: 'HH:mm'}}</div>
            </a>
          </td>
          <td>
            <a uiSref="app.instruction.instruction-card" [uiParams]="{id: doc.documentId}" (click)="saveLink(doc.documentId)" >
              <div style="white-space: pre-wrap">{{getAcceptDate(doc)}}</div>
            </a>
          </td>
          <!--td>
            <a uiSref="app.instruction.instruction-card" [uiParams]="{id: doc.documentId}" (click)="saveLink(doc.documentId)" >
              <div>{{getAcceptStatus(doc)}}</div>
            </a>
          </td-->
        </tr>
      </tbody>
      <tbody
        *ngIf="(!searchResult || (searchResult && searchResult.docs && searchResult.docs.length === 0)) && !isLoading">
        <tr>
          <td style="text-align: center" colspan="10">
            <span class="text-warning" style="font-size: 20px">Ничего не найдено</span>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="isLoading">
        <tr>
          <td style="text-align: center" colspan="10">
            <cdp-spinner *ngIf="isLoading" [type]="'three-bounce'"></cdp-spinner>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row" *ngIf="!isLoading && searchResult">
  <div class="col-xs-12 text-center" style="z-index: 1;">
    <pagination [totalItems]="searchResult.numFound" [(ngModel)]="currentPage" [firstText]="'1'"
      [lastText]="searchResult.numFound" [previousText]="'Предыдущая'" [nextText]="'Следующая'" [rotate]="true"
      (ngModelChange)="changePage()" [itemsPerPage]="10" class="m-b-xs" [maxSize]="3"
      *ngIf="searchResult.numFound > searchRequest.pageSize"></pagination>
  </div>
</div>
