<div class="col-xs-12">
  <div class="pull-right">
    <button class="btn btn-default btn-sm m-r-xs" (click)="clear()">
      Очистить
    </button>
    <button class="btn btn-default btn-sm" (click)="toggleExtendSearch()">
      <i class="fa fa-filter"></i>
      Расширенный поиск
    </button>
  </div>

</div>
<div class="col-xs-12 animated fadeIn" *ngIf="isExtendedSearch">
  <form (submit)="onFilterChange()">

    <div class="container-fluid">
      <h3 class="m-t-md" style="color:#aaa;margin-bottom:20px;">Расширенный поиск</h3>
      <!--Статус-->
      <div class="row m-t-sm m-l-xs">
        <div class="col-md-3 title">
          Статус
        </div>
        <div class="col-md-9">
          <ng-select [items]="dicts.statuses" [multiple]="true" [closeOnSelect]="true" [hideSelected]="true"
                     bindLabel="name" placeholder=""
                     [(ngModel)]="filter.conditionInst" name="conditionInst" (change)="onFilterChange()">
          </ng-select>
        </div>
      </div>

      <!--Автор поручения-->
      <div class="row m-t-sm m-l-xs">
        <div class="col-md-3 title">
          Автор поручения
        </div>
        <div class="col-md-9" *ngIf="!isMka">
          <mggt-select-ldap-users [(model)]="filter.creatorLogInst"
                                  (modelChange)="changeLdapField($event, 'creatorLogInst')"
                                  [multiple]="false"
                                  [placeholder]="'Введите 3 символа для начала поиска'"
          ></mggt-select-ldap-users>
        </div>
        <div class="col-md-9" *ngIf="isMka">
          <input type="text"
                 class="form-control"
                 (input)="onFilterChange()"
                 [(ngModel)]="filter.creatorLogInst"
                 name="creatorLogInst"/>
        </div>
      </div>

      <!--Карточку создал-->
      <div class="row m-t-sm m-l-xs">
        <div class="col-md-3 title">
          Карточку создал
        </div>
        <div class="col-md-9" *ngIf="!isMka">
          <mggt-select-ldap-users [(model)]="filter.assistantLogInst"
                                  (modelChange)="changeLdapField($event, 'assistantLogInst')"
                                  [multiple]="false"
                                  [placeholder]="'Введите 3 символа для начала поиска'"
          ></mggt-select-ldap-users>
        </div>
        <div class="col-md-9" *ngIf="isMka">
          <input type="text"
                 class="form-control"
                 (input)="onFilterChange()"
                 [(ngModel)]="filter.assistantLogInst"
                 name="assistantLogInst"/>
        </div>
      </div>

      <!--Личное поручение-->
      <div class="row m-t-sm m-l-xs">
        <div class="col-md-3 title">
          Личное поручение
        </div>
        <div class="col-md-9">
          <input cdp-icheck type="checkbox" (ngModelChange)="changeCheckbox($event, 'privateInst')" [(ngModel)]="filter.privateInst"
                 name="privateInst">
        </div>
      </div>

      <!--Дата поручения-->
      <div class="row m-t-sm m-l-xs">
        <div class="col-md-3 title">
          Дата поручения
        </div>
        <div class="col-md-9">
          <cdp-date-range-select [dateFrom]="filter.docDateInst.from" [dateTo]="filter.docDateInst.to"
                                 (dateFromChange)="changeDateField($event, 'docDateInst','from')"
                                 (dateToChange)="changeDateField($event, 'docDateInst', 'to')"></cdp-date-range-select>
        </div>
      </div>

      <!--Тема-->
      <div class="row m-t-sm m-l-xs">
        <div class="col-md-3 title">
          Тема
        </div>
        <div class="col-md-9">
          <ng-select [items]="dicts._themes" [multiple]="true" [closeOnSelect]="true" [hideSelected]="true"
                     bindLabel="name" placeholder=""
                     [(ngModel)]="filter.subjectInst" name="subjectInst" (change)="onFilterChange()">
          </ng-select>
        </div>
      </div>

      <!--Рубрикатор-->
      <div class="row m-t-sm m-l-xs">
        <div class="col-md-3 title">
          Рубрикатор
        </div>
        <div class="col-md-9">
          <ng-select [items]="dicts.themes" [multiple]="true" [closeOnSelect]="true" [hideSelected]="true"
                     bindLabel="name" placeholder=""
                     [(ngModel)]="filter.themeInst" name="themeInst" (change)="onFilterChange()">
          </ng-select>
        </div>
      </div>

      <!--Содержание поручения-->
      <div class="row m-t-sm m-l-xs">
        <div class="col-md-3 title">
          Содержание поручения
        </div>
        <div class="col-md-9">
          <input class="form-control" [(ngModel)]="filter.contentInst" name="contentInst" (blur)="onFilterChange()">
        </div>
      </div>

      <!--Описание поручения-->
      <div class="row m-t-sm m-l-xs">
        <div class="col-md-3 title">
          Описание поручения
        </div>
        <div class="col-md-9">
          <input class="form-control" [(ngModel)]="filter.descriptionInst" name="descriptionInst"
                 (blur)="onFilterChange()">
        </div>
      </div>

      <!--Приоритет-->
      <div class="row m-t-sm m-l-xs">
        <div class="col-md-3 title">
          Приоритет
        </div>
        <div class="col-md-9">
          <ng-select [items]="dicts.priorities" [multiple]="true" [closeOnSelect]="true" [hideSelected]="true"
                     bindLabel="name" placeholder=""
                     [(ngModel)]="filter.priorityInst" name="priorityInst" (change)="onFilterChange()">
          </ng-select>
        </div>
      </div>

      <!--Сложность-->
      <div class="row m-t-sm m-l-xs">
        <div class="col-md-3 title">
          Сложность
        </div>
        <div class="col-md-9">
          <ng-select [items]="dicts.difficulties" [multiple]="true" [closeOnSelect]="true" [hideSelected]="true"
                     bindLabel="name" placeholder=""
                     [(ngModel)]="filter.difficultyInst" name="difficultyInst" (change)="onFilterChange()">
          </ng-select>
        </div>
      </div>

      <!--Срок исполнения-->
      <div class="row m-t-sm m-l-xs">
        <div class="col-md-3 title">
          Срок исполнения
        </div>
        <div class="col-md-9">
          <cdp-date-range-select [dateFrom]="filter.planDateInst.from" [dateTo]="filter.planDateInst.to"
                                 (dateFromChange)="changeDateField($event, 'planDateInst','from')"
                                 (dateToChange)="changeDateField($event, 'planDateInst', 'to')"></cdp-date-range-select>
        </div>
      </div>

       <!--Просроченные-->
       <div class="row m-t-sm m-l-xs">
        <div class="col-md-3 title">
          Просроченные
        </div>
        <div class="col-md-9">
          <input cdp-icheck type="checkbox" (ngModelChange)="onOverdueChange($event)" [(ngModel)]="overdue.value"
                 name="overdue">
        </div>
      </div>

      <!--Ответственный исполнитель-->
      <div class="row m-t-sm m-l-xs">
        <div class="col-md-3 title">
          Ответственный исполнитель
        </div>
        <div class="col-md-9" *ngIf="!isMka">
          <mggt-select-ldap-users [(model)]="filter.executorLogInst"
                                  name="executorLogInst"
                                  (modelChange)="changeLdapField($event, 'executorLogInst')"
                                  [multiple]="false"
                                  [placeholder]="'Введите 3 символа для начала поиска'"
          ></mggt-select-ldap-users>
        </div>
        <div class="col-md-9" *ngIf="isMka">
          <input type="text"
                 class="form-control"
                 (input)="onFilterChange()"
                 [(ngModel)]="filter.executorLogInst"
                 name="executorLogInst"/>
        </div>
      </div>

      <!--Соисполнители-->
      <div class="row m-t-sm m-l-xs" *ngIf="!isMka">
        <div class="col-md-3 title">
          Соисполнители
        </div>
        <div class="col-md-9">
          <mggt-select-ldap-users [(model)]="filter.coExecutorsLogInst" name="coExecutorsLogInst"
                                  (modelChange)="changeLdapField($event, 'coExecutorsLogInst')"
                                  [multiple]="false"
                                  [placeholder]="'Введите 3 символа для начала поиска'"></mggt-select-ldap-users>
        </div>
      </div>

      <!--Исполнители-->
      <div class="row m-t-sm m-l-xs" *ngIf="isMka">
        <div class="col-md-3 title">
          Исполнители
        </div>
        <div class="col-md-9">
          <input type="text"
                 class="form-control"
                 (input)="onFilterChange()"
                 [(ngModel)]="filter.coExecutorsLogInst"
                 name="coExecutorsLogInst"/>
        </div>
      </div>

      <!--К сведению-->
      <div class="row m-t-sm m-l-xs" *ngIf="!isMka">
        <div class="col-md-3 title">
          К сведению
        </div>
        <div class="col-md-9">
          <mggt-select-ldap-users [(model)]="filter.forInformationLogin" name="forInformationLogin"
                                  (modelChange)="changeLdapField($event, 'forInformationLogin')"
                                  [multiple]="false"
                                  [placeholder]="'Введите 3 символа для начала поиска'"></mggt-select-ldap-users>
        </div>
      </div>

      <!--Регулярное-->
      <div class="row m-t-sm m-l-xs">
        <div class="col-md-3 title">
          Регулярное
        </div>
        <div class="col-md-9">
          <input cdp-icheck type="checkbox" (ngModelChange)="changeCheckbox($event, 'repeatedSign')"
                 [(ngModel)]="filter.repeatedSign" name="repeatedSign">
        </div>
      </div>

      <button type="submit" hidden></button>
    </div>
  </form>
</div>
