<div class="clearfix" *ngIf="isShow" (mouseenter)="switchReady(true)">

  <!-- normal checkbox -->
  <input cdp-icheck type="checkbox" name="{{name}}" *ngIf="!disabled"
         [(ngModel)]="model.signingElectronically" (ngModelChange)="change()" />

  <!-- disabled checkbox -->
  <input cdp-icheck disabled type="checkbox" name="{{name}}" *ngIf="disabled"
         [(ngModel)]="model.signingElectronically" />

</div>
