<div class="cdp-radio-wrapper">
   <div (click)="click()" class="cdp-radio" [class.checked]="(_value === value)" [class.disabled]="disabled" [ngClass]="color">
   </div>
   <div class="cdp-radio-content" [class.disabled]="disabled">
      <ng-content></ng-content>
   </div>
</div>
