@import '../../../../styles/variables';

.cdp-radio-wrapper::after {
   content: "";
   clear: both;
   display: table;
 }

 .cdp-radio {
   float: left;
   margin: 0;
   padding: 0;
   width: 22px;
   height: 22px;
   &.green {
     background: url($green_check_radio) no-repeat;
   }
   &.aero {
     background: url($aero_check_radio) no-repeat;
   }
   &.blue {
     background: url($blue_check_radio) no-repeat;
   }
   &.gray {
     background: url($gray_check_radio) no-repeat;
   }
   &.orange {
     background: url($orange_check_radio) no-repeat;
   }
   &.pink {
     background: url($pink_check_radio) no-repeat;
   }
   border: none;
   cursor: pointer;
 }

 .cdp-radio-content {
   margin: 0;
   padding: 0;
   margin-left: 22px;
   cursor: default;
   &.disabled {
     opacity: 0.5;
   }
 }

 .cdp-radio {
   background-position: -120px 0 !important;
   &:hover {
     background-position: -144px 0 !important;
   }
   &.checked {
     background-position: -168px 0 !important;
   }
   &.disabled {
     background-position: -192px 0 !important;
     cursor: default;
   }
   &.checked.disabled {
     background-position: -216px 0 !important;
   }
 }
