<mggt-desktop-approval-list [list]="list" *ngIf="!$localStorage.isMobile"></mggt-desktop-approval-list>
<mggt-mobile-approval-list [list]="list" *ngIf="$localStorage.isMobile"></mggt-mobile-approval-list>
