<button cdp-is-auth="INSTRUCTION_MEMO_MAIL" (click)="mail()" class="btn btn-default visible-lg-inline-block m-r-xs">
  <span><i class="fa fa-envelope-o"></i> Отправить по e-mail</span>
</button>
<button cdp-is-auth="INSTRUCTION_MEMO_MAIL" placement="left" tooltip="Отправить по e-mail" (click)="mail()"
  class="btn btn-default visible-md-inline-block visible-sm-inline-block visible-xs-inline-block m-r-xs">
  <i class="fa fa-envelope-o"></i>
</button>

<ng-container *ngIf="showInstruction">
  <a uiSref="app.instruction.instruction-fromMemo" [uiParams]="{memoId: document.documentId, memoType: memoType}"
    class="visible-lg-inline-block btn btn-violet m-r-xs">
    <span><i class="fa fa-file"></i> Дать поручение</span>
  </a>
  <a placement="left" tooltip="Дать поручение" uiSref="app.instruction.instruction-fromMemo"
    [uiParams]="{memoId: document.documentId, memoType: memoType}"
    class="btn btn-violet visible-md-inline-block visible-sm-inline-block visible-xs-inline-block m-r-xs">
    <i class="fa fa-file"></i>
  </a>
</ng-container>

<ng-container *ngIf="memoType === 'memo'">
  <a uiSref="app.instruction.memo-copy" [uiParams]="{ copiedId: document.documentId }"
    cdp-is-auth="INSTRUCTION_MEMO_COPY" class="btn btn-primary visible-lg-inline-block m-r-xs">
    <span><i class="fa fa-link"></i> Скопировать</span>
  </a>
  <a placement="left" tooltip="Скопировать" uiSref="app.instruction.memo-copy" cdp-is-auth="INSTRUCTION_MEMO_COPY"
    [uiParams]="{ copiedId: document.documentId }"
    class="btn btn-primary visible-md-inline-block visible-sm-inline-block visible-xs-inline-block m-r-xs">
    <i class="fa fa-link"></i>
  </a>
</ng-container>

<ng-container *ngIf="showCopy">
  <a uiSref="app.instruction.memo-copy" [uiParams]="{ copiedId: document.documentId }"
    class="btn btn-primary visible-lg-inline-block m-r-xs">
    <span><i class="fa fa-link"></i> Скопировать</span>
  </a>
  <a placement="left" tooltip="Скопировать" uiSref="app.instruction.memo-copy"
    [uiParams]="{ copiedId: document.documentId }"
    class="btn btn-primary visible-md-inline-block visible-sm-inline-block visible-xs-inline-block m-r-xs">
    <i class="fa fa-link"></i>
  </a>
</ng-container>

<ng-container *ngIf="showEdit">
  <button (click)="editMemo()" class="btn btn-success visible-lg-inline-block m-r-xs">
    <span><i class="fa fa-pencil"></i> Редактировать</span>
  </button>
  <button placement="left" tooltip="Редактировать" (click)="editMemo()"
    class="btn btn-success visible-md-inline-block visible-sm-inline-block visible-xs-inline-block m-r-xs">
    <i class="fa fa-pencil"></i>
  </button>
</ng-container>

<ng-container *ngIf="showDelete">
  <button (click)="delete()" class="btn btn-default visible-lg-inline-block m-r-xs">
    <span class="text-danger"><i class="fa fa-trash"></i> Удалить</span>
  </button>
  <button (click)="delete()" class="btn btn-default visible-md-inline-block visible-sm-inline-block visible-xs-inline-block m-r-xs">
    <i class="fa fa-trash text-danger"></i>
  </button>
</ng-container>
