<div>
  <div *ngIf="document.draftFiles && document.draftFiles.length > 0">
    <cdp-ex-file [fileInfo]="document.draftFiles[0]" [showSize]="true" [showDate]="true" [checkSign]="true"
      [downloadBaseHref]="'/filestore'"></cdp-ex-file>
  </div>
  <mggt-approval-list *ngIf="document.approval && document.approval.approvalCycle"
    [list]="document.approval.approvalCycle"></mggt-approval-list>


  <mggt-approval-list-history [approvalHistory]="document.approvalHistory"></mggt-approval-list-history>

</div>
