<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">
      <div *blockUI="'newMemo'" class="m-t-sm">
        <form class="form-horizontal">
          <mggt-memo-editor [model]="model"
                            [dicts]="dicts"
                            [document]="document"
          ></mggt-memo-editor>

          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
            <div class="col-lg-7 col-md-8 col-sm-9 control-block">
              <button (click)="create()" class="btn btn-primary margin-right">
                Создать и зарегистрировать
              </button>
              <button [disabled]="(!model.memoKind || (model.memoKind && model.memoKind.code !== '16'))"
                      (click)="sendToApproval()" class="btn btn-primary margin-right">
                Отправить на согласование
              </button>
              <button (click)="save()" class="btn btn-primary margin-right">
                Сохранить данные
              </button>
              <button (click)="goToCard()" class="btn btn-warning margin-right">Отмена</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div error>
    <div style="height: 200px; padding-top: 70px;">
      <h3 class="text-center"><i class="fa fa-exclamation-triangle text-warning"></i>&nbsp;Ошибка при инициализации
        приложения</h3>
    </div>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>
