<div *ngIf="list">
  <div class="ibox-content" *ngFor="let item of list.agreed">
    <div class="mob-approve-item">
      <div class="mob-approve-item-num">
        <span>{{item.approvalNum}}</span>
      </div>
      <div class="mob-approve-item-content">
        <div class="approval-type m-b-xs">{{item.approvalType}} {{item.approvalPlanDate | date: 'dd.MM.yyyy HH:mm'}}
        </div>
        <div class="approval-type m-b-xs">{{item.approvalPlanDate | date: 'dd.MM.yyyy HH:mm'}}
        </div>
        <div class="m-b-xs">
          <div class="semibold">{{item.agreedBy.fioFull}}</div>
          <div>{{item.agreedBy.post}}</div>
          <div *ngIf="!!item.factAgreedBy">({{item.factAgreedBy.fioFull}}, {{item.factAgreedBy.post}})</div>
        </div>
        <div class="m-b-xs">
          <span *ngIf="!item.approvalResult" class="label label-default">Ожидание</span>
          <span *ngIf="item.approvalResult"
                class="label {{getApprovalResultColor(item.approvalTypeCode, item.approvalResult)}}">{{item.approvalResult}}</span>
          <span
            *ngIf="item.approvalFactDate"><label>{{item.approvalFactDate | date: 'dd.MM.yyyy HH:mm'}}</label></span>
        </div>
        <div>
          <div *ngIf="item.added && item.added.length" class="m-b-xs">
            <div class="semibold">Добавление согласующего</div>
            <div *ngFor="let addedItem of item.added">
              <span class="semibold">{{addedItem.additionalAgreed.iofShort}}:</span>
              {{addedItem.addedNote}}
            </div>
          </div>

          <div
            *ngIf="!(item.approvalResult=='Не согласовано' || item.approvalResult=='Не утверждено') && item.approvalNote">
            <div class="semibold">{{item.approvalResult}}</div>
            <div>{{item.approvalNote}}</div>
          </div>

          <div
            *ngIf="(item.approvalResult=='Не согласовано' || item.approvalResult=='Не утверждено') && item.approvalNote">
            <div class="semibold">На доработку</div>
            <div>{{item.approvalNote}}</div>
          </div>

          <div *ngFor="let approvalFile of item.fileApproval" class="m-t-xs">
            <cdp-ex-file [fileInfo]="{nameFile: approvalFile.nameFile,
                            idFile:   approvalFile.idFile,
                            sizeFile: approvalFile.sizeFile,
                            dateFile: approvalFile.dateFile,
                            signed:   approvalFile.signed}" [showSize]="true" [showDate]="true"
                         [downloadBaseHref]="'/filestore'"></cdp-ex-file>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
