<div class="m-t-sm m-l-md visible-lg">
  <table class="table animated fadeIn">
    <thead>
    <tr>
      <th style="vertical-align: bottom;padding-left:0;">Дата отчета</th>
      <th>Исполнитель</th>
      <th>Дата принятия</th>
      <th>Результат</th>
      <th>Автор</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let r of results">
      <td style="padding-left:0;">{{r.reportDate | date:'dd.MM.yyyy HH:mm'}}</td>
      <td>
        <div class="m-b-sm">
               <span style="white-space:pre-wrap;"><i style="cursor:pointer;font-size:16px;margin-right: 5px"
                                                      placement="bottom" tooltip="{{r.executorFIOFull}}"
                                                      class="fa fa-user"
                                                      aria-hidden="true"></i> {{r.reportContent}}</span>
        </div>
        <div *ngFor="let f of r.reportFiles">
          <cdp-ex-file [fileInfo]="f" [showSize]="true" [showDate]="true" [checkSign]="true"
                       [downloadBaseHref]="'/filestore'">
          </cdp-ex-file>
        </div>
      </td>
      <td>{{r.acceptDate | date:'dd.MM.yyyy HH:mm'}}</td>
      <td>
        <span *ngIf="r.acceptStatus === 'Принято'" class="label label-success">{{r.acceptStatus}}</span>
        <span *ngIf="r.acceptStatus === 'Отклонено'" class="label label-danger">{{r.acceptStatus}}</span>
      </td>
      <td>
        <div class="m-b-sm" *ngIf="r.acceptorFIOFull">
               <span style="white-space:pre-wrap;">
                 <i style="cursor:pointer;font-size:16px;margin-right: 5px"
                    placement="bottom"
                    tooltip="{{r.acceptorFIOFull}}"
                    class="fa fa-user"
                    aria-hidden="true"></i> {{r.acceptContent}}
               </span>
        </div>
        <div *ngFor="let f of r.acceptFiles">
          <cdp-ex-file [fileInfo]="f" [showSize]="true" [showDate]="true" [checkSign]="true"
                       [downloadBaseHref]="'/filestore'">
          </cdp-ex-file>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="m-t-sm m-l-md visible-md visible-sm visible-xs">
  <table class="table animated fadeIn">
    <tbody>
    <tr *ngFor="let r of results">
      <td style="padding-left:0px">
        <span style="white-space: pre-wrap">{{r.reportContent}}</span>
        <div *ngFor="let f of r.reportFiles">
          <cdp-ex-file [fileInfo]="f" [showSize]="true" [showDate]="true" [checkSign]="true"
                       [downloadBaseHref]="'/filestore'">
          </cdp-ex-file>
        </div>
        <br>
        <i>{{r.executorFIOFull}} от {{r.factDate | date:'dd.MM.yyyy HH:mm'}}</i><br>
        <div class="m-l-lg m-t-sm" *ngIf="r.acceptorFIOFull">
          <span *ngIf="r.acceptStatus === 'Принято'" class="label label-success">{{r.acceptStatus}}</span>
          <span *ngIf="r.acceptStatus === 'Отклонено'" class="label label-danger">{{r.acceptStatus}}</span><br>
          <span style="white-space: pre-wrap">{{r.acceptContent}}</span>
          <div *ngFor="let f of r.acceptFiles">
            <cdp-ex-file [fileInfo]="f" [showSize]="true" [showDate]="true" [checkSign]="true"
                         [downloadBaseHref]="'/filestore'">
            </cdp-ex-file>
          </div>
          <br>
          <i>{{r.acceptorFIOFull}} от {{r.acceptDate | date:'dd.MM.yyyy HH:mm'}}</i>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
