<div class="inmodal">
  <div class="modal-header">
    <h3 class="modal-title">Снятие поручения</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label">Причина</label>
        <div class="col-lg-9 col-md-9 col-sm-9 m-t-sm">
          <label><input cdp-icheck type="radio" value="Отменено" [(ngModel)]="result" name="result">&nbsp;&nbsp;Отменено</label><br>
          <label><input cdp-icheck type="radio" value="Не выполнено" [(ngModel)]="result" name="result">&nbsp;&nbsp;Не выполнено</label><br>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label">Комментарий</label>
        <div class="col-lg-9 col-md-9 col-sm-9 m-t-sm">
          <textarea class="form-control" [(ngModel)]="comment" rows="2" name="comment"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer control-block">
    <button type="button" class="btn btn-primary" (click)="ok('cancel')">Снять</button>
    <button type="button" class="btn btn-primary" (click)="ok('recreate')">Перепоручить</button>
    <button type="button" class="btn btn-white" (click)="cancel()">Отмена</button>
  </div>
</div>
