<div class="col-xs-12">
    <div class="pull-right">
        <button class="btn btn-default btn-sm m-r-xs" (click)="clear()">
            Очистить
        </button>
        <button class="btn btn-default btn-sm" (click)="toggleExtendSearch()">
            <i class="fa fa-filter"></i>
            Расширенный поиск
        </button>
    </div>

</div>
<div class="col-xs-12 animated fadeIn" *ngIf="isExtendedSearch">
    <form (submit)="onFilterChange()">


        <div class="container-fluid">
            <h3 class="m-t-md" style="color:#aaa;margin-bottom:20px;">Расширенный поиск</h3>
            <!--Статус-->
            <div class="row m-t-sm m-l-xs">
                <div class="col-md-3 title">
                    Статус
                </div>
                <div class="col-md-9">
                    <ng-select [items]="dicts.statuses" [multiple]="true" [closeOnSelect]="true" [hideSelected]="true" bindLabel="name" placeholder=""
                        [(ngModel)]="filter.statusMemo" name="statusMemo" (change)="onFilterChange()">
                    </ng-select>
                </div>
            </div>

            <!--От кого-->
            <div class="row m-t-sm m-l-xs">
                <div class="col-md-3 title">
                    От кого
                </div>
                <div class="col-md-9">
                    <mggt-select-ldap-users [(model)]="filter.creatorMemo" (modelChange)="changeLdapField($event, 'creatorMemo')" [multiple]="false"
                        [placeholder]="'Введите 3 символа для начала поиска'"></mggt-select-ldap-users>
                </div>
            </div>

            <!--Карточку создал-->
            <div class="row m-t-sm m-l-xs">
                <div class="col-md-3 title">
                    Карточку создал
                </div>
                <div class="col-md-9">
                    <mggt-select-ldap-users [(model)]="filter.assistantMemo" (modelChange)="changeLdapField($event, 'assistantMemo')" [multiple]="false"
                        [placeholder]="'Введите 3 символа для начала поиска'"></mggt-select-ldap-users>
                </div>
            </div>

            <!--Кому-->
            <div class="row m-t-sm m-l-xs">
                <div class="col-md-3 title">
                    Кому
                </div>
                <div class="col-md-9">
                    <mggt-select-ldap-users [(model)]="filter.executorMemo" (modelChange)="changeLdapField($event, 'executorMemo')" [multiple]="false"
                        [placeholder]="'Введите 3 символа для начала поиска'"></mggt-select-ldap-users>
                </div>
            </div>

            <!--Дата служебной записки-->
            <div class="row m-t-sm m-l-xs">
                <div class="col-md-3 title">
                    Дата служебной записки
                </div>
                <div class="col-md-9">
                    <cdp-date-range-selector-ms [(ngModel)]="filter.docDateMemo" name="docDateMemo" (modelFromChange)="changeDateField($event, 'docDateMemo','from')"
                        (modelToChange)="changeDateField($event, 'docDateMemo', 'to')"></cdp-date-range-selector-ms>
                </div>
            </div>

            <!--Тема-->
            <div class="row m-t-sm m-l-xs">
                <div class="col-md-3 title">
                    Тема
                </div>
                <div class="col-md-9">
                    <input class="form-control" [(ngModel)]="filter.contentMemo" name="contentMemo" (blur)="onFilterChange()">
                </div>
            </div>

            <!--Описание-->
            <div class="row m-t-sm m-l-xs">
                <div class="col-md-3 title">
                    Описание
                </div>
                <div class="col-md-9">
                    <input class="form-control" [(ngModel)]="filter.descriptionMemo" name="descriptionMemo" (blur)="onFilterChange()">
                </div>
            </div>

            <button type="submit" hidden></button>
        </div>
    </form>
</div>