<div class="row">
  <div class="col-xs-12 m-t-md">
    <div class="pull-left">
      Найдено —
      <strong *ngIf="searchResult && searchResult.numFound">{{searchResult.numFound}}</strong>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 table-overflow-container" style="min-height: 400px;">
    <table class="table table-striped table-hover" style="font-size:14px;color: #676a6c;min-height: 400px;">
      <thead>
      <tr style="border-top: 1px solid #f0f0f0;font-weight:600;">
        <th [style]="s.width" style="outline: none;" *ngFor="let s of sortings"
            (click)="sortingChanged(s)" role="button">
                    <span [style.white-space]="s.wrap === true ? null : 'nowrap'">
                    {{s.name}}
                    <span *ngIf="s.value === 'none'" class="fa fa-angle-down"></span>
                    <span *ngIf="s.value === 'desc'" class="fa fa-caret-down"></span>
                    <span *ngIf="s.value === 'asc'" class="fa fa-caret-up"></span>
                    </span>
        </th>
      </tr>
      <tr>
        <th>
          <ng-select [items]="dicts.statuses" [multiple]="true" [closeOnSelect]="true" [hideSelected]="true"
                     bindLabel="name" [(ngModel)]="filter.statusMemo"
                     name="statusMemo" (change)="onFilterChange()">
          </ng-select>
        </th>
        <th>
          <div style="position: relative">
            <cdp-date-range-select-table [(dateFrom)]="filter.docDateMemo.from" [(dateTo)]="filter.docDateMemo.to"
                                         [onChange]="changeDateRangeField"></cdp-date-range-select-table>
          </div>
        </th>
        <th>
          <input type="text" class="form-control" (blur)="onFilterChange()" [(ngModel)]="filter.docNumberMemo"
                 name="docNumberMemo">
        </th>
        <th>
          <mggt-select-ldap-users [(model)]="filter.creatorMemo" (modelChange)="changeLdapField($event, 'creatorMemo')"
                                  [multiple]="false"></mggt-select-ldap-users>
        </th>
        <th>
          <input type="text" class="form-control" (blur)="onFilterChange()" [(ngModel)]="filter.contentMemo"
                 name="contentMemo">
        </th>
        <th>
          <mggt-select-ldap-users [(model)]="filter.executorMemo"
                                  (modelChange)="changeLdapField($event, 'executorMemo')"
                                  [multiple]="false"></mggt-select-ldap-users>
        </th>
      </tr>
      </thead>
      <tbody *ngIf="searchResult && !isLoading">
      <tr *ngFor="let doc of searchResult.docs">
        <td style="white-space: nowrap;">
          <span class="label label-{{doc.statusColor}}">{{doc.statusMemo}}</span>
        </td>
        <td>
          {{doc.docDateMemo | date: 'dd.MM.yyyy'}}
        </td>
        <td>
          <a href="{{doc.link}}" target="_blank">
            {{doc.docNumberMemo}}
          </a>
        </td>
        <td>
          {{doc.creatorMemo}}
        </td>
        <td>
          {{doc.contentMemo}}
        </td>
        <td>
          {{doc.executorMemo}}
        </td>
      </tr>
      </tbody>
      <tbody
        *ngIf="(!searchResult || (searchResult && searchResult.docs && searchResult.docs.length === 0)) && !isLoading">
      <tr>
        <td style="text-align: center" colspan="10">
          <span class="text-warning" style="font-size: 20px">Ничего не найдено</span>
        </td>
      </tr>
      </tbody>
      <tbody *ngIf="isLoading">
      <tr>
        <td style="text-align: center" colspan="10">
          <cdp-spinner *ngIf="isLoading" [type]="'three-bounce'"></cdp-spinner>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row" *ngIf="!isLoading && searchResult">
  <div class="col-xs-12 text-center" style="z-index: 1;">
    <pagination [totalItems]="searchResult.numFound" [(ngModel)]="currentPage" [firstText]="'1'"
                [lastText]="searchResult.numFound"
                [previousText]="'Предыдущая'" [nextText]="'Следующая'" [rotate]="true" (ngModelChange)="changePage()"
                [itemsPerPage]="10"
                class="m-b-xs" [maxSize]="3" *ngIf="searchResult.numFound > searchRequest.pageSize"></pagination>
  </div>
</div>

