<div class="hidden-xs hidden-sm">
  <div style="min-width:800px;padding-right:30px;">
    <table class="table table-bordered table-responsive table-fixed" style="min-width:800px;">
      <thead>
        <tr>
          <th class="nowrap center" width="110px"></th>
          <th class="nowrap center" width="50px">№ пп</th>
          <th class="nowrap center" width="190px">Вид действия</th>
          <th class="nowrap center" width="340px">ФИО и должность</th>
          <th class="nowrap center">Комментарий</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let agreed of agreed; let index = index; let first = first; let last = last">
          <td>
            <button type="button" class="btn btn-xs btn-default" (click)="delApproval(index)">
              <i class="fa fa-minus m-r-xs"></i>
            </button>
            <button type="button" class="btn btn-xs btn-default" *ngIf="!first"
              (click)="swapApprovals(index, index - 1)">
              <i class="fa fa-arrow-up m-r-xs"></i>
            </button>
            <button type="button" class="btn btn-xs btn-default" *ngIf="!last"
              (click)="swapApprovals(index, index + 1)">
              <i class="fa fa-arrow-down m-r-xs"></i>
            </button>
          </td>
          <td>{{agreed.approvalNum}}</td>
          <td>
            <ng-select name="approvalType" [items]="approvalTypes" [multiple]="false" [closeOnSelect]="true"
              [hideSelected]="true" bindLabel="approvalType" bindValue="approvalTypeCode"
              [(ngModel)]="agreed.approvalTypeCode" (change)="approvalTypeChanged(index)">
            </ng-select>
          </td>
          <td class="fio">
            <ng-select *ngIf="agreed.approvalTypeCode === 'assent'" name="agreedBy" [items]="approversAssentFiltered"
              [multiple]="false" [closeOnSelect]="true" [hideSelected]="true" bindLabel="fioPost"
              class="multiline-select"
              [(ngModel)]="agreed.agreedBy" (change)="recalculateApprovers()">
            </ng-select>
            <ng-select *ngIf="agreed.approvalTypeCode === 'agreed'" name="agreedBy" [items]="approversAgreedFiltered"
              [multiple]="false" [closeOnSelect]="true" [hideSelected]="true" bindLabel="fioPost"
              class="multiline-select"
              [(ngModel)]="agreed.agreedBy" (change)="recalculateApprovers()">
            </ng-select>
          </td>
          <td>
            <textarea class="form-control" [(ngModel)]="agreed.note" name="note" style="resize:vertical;"></textarea>
          </td>
        </tr>
        <tr>
          <td>
            <button *ngIf="approvalTypes.length" type="button" class="btn btn-xs btn-default" (click)="addApproval()">
              <i class="fa fa-plus m-r-xs"></i>
            </button>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="visible-xs visible-sm">
  <div *ngFor="let agreed of agreed; let index = index;" class="panel panel-default">
    <div class="panel-heading"><button (click)="delApproval(index)" class="btn btn-default">Убрать</button></div>
    <div class="panel-body">
      <div class="form-group">
        <label class="control-label">
          Вид действия
        </label>
        <div>
          <ng-select name="approvalType" [items]="approvalTypes" [multiple]="false" [closeOnSelect]="true"
            [hideSelected]="true" bindLabel="approvalType" bindValue="approvalTypeCode"
            [(ngModel)]="agreed.approvalTypeCode" (change)="approvalTypeChanged(index)">
          </ng-select>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">
          ФИО и должность
        </label>
        <div>
          <ng-select *ngIf="agreed.approvalTypeCode === 'assent'" name="agreedBy" [items]="approversAssentFiltered"
            [multiple]="false" [closeOnSelect]="true" [hideSelected]="true" bindLabel="fioPost"
            class="multiline-select"
            [(ngModel)]="agreed.agreedBy" (change)="recalculateApprovers()">
          </ng-select>
          <ng-select *ngIf="agreed.approvalTypeCode === 'agreed'" name="agreedBy" [items]="approversAgreedFiltered"
            [multiple]="false" [closeOnSelect]="true" [hideSelected]="true" bindLabel="fioPost"
            class="multiline-select"
            [(ngModel)]="agreed.agreedBy" (change)="recalculateApprovers()">
          </ng-select>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">
          Комментарий
        </label>
        <div>
          <textarea class="form-control" [(ngModel)]="agreed.note" name="note" style="resize:vertical;"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div>

  </div>
  <button (click)="addApproval()" class="btn btn-default">Новый согласующий</button>
</div>