<div class="cdp-checkbox-wrapper">
  <div (click)="click()" class="cdp-checkbox" [class.checked]="value === trueValue" [class.disabled]="disabled" [ngClass]="color">
  </div>
  <div class="cdp-checkbox-content" [class.disabled]="disabled">
    <ng-content></ng-content>
  </div>
</div>
