@import '../../../../styles/variables';

.cdp-checkbox-wrapper::after {
  content: "";
  clear: both;
  display: table;
}

.cdp-checkbox {
  float: left;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  &.green {
    background: url($green_check_radio) no-repeat;
  }
  &.aero {
    background: url($aero_check_radio) no-repeat;
  }
  &.blue {
    background: url($blue_check_radio) no-repeat;
  }
  &.gray {
    background: url($gray_check_radio) no-repeat;
  }
  &.orange {
    background: url($orange_check_radio) no-repeat;
  }
  &.pink {
    background: url($pink_check_radio) no-repeat;
  }
  border: none;
  cursor: pointer;
}

.cdp-checkbox-content {
  margin: 0;
  padding: 0;
  margin-left: 22px;
  cursor: default;
  &.disabled {
    opacity: 0.5;
  }
}

.cdp-checkbox {
  background-position: 0 0;
  &:hover {
    background-position: -24px 0;
  }
  &.checked {
    background-position: -48px 0;
  }
  &.disabled {
    background-position: -72px 0;
    cursor: default;
  }
  &.checked.disabled {
    background-position: -96px 0;
  }
}
