<div class="inmodal">
  <div class="modal-header">
    <h3 class="modal-title"><i class="fa fa-pencil text-primary" aria-hidden="true"></i> Изменение поручения</h3>
  </div>
  <div class="modal-body">
    <cdp-loading-block [loadingStatus]="loadingStatus">
      <div success>
        <div *ngIf="success">
          <form class="form-horizontal">
            <mggt-order-editor
              [model]="model"
              [dicts]="dicts"
              [edit]="true"
              [extData]="extData"></mggt-order-editor>
          </form>
        </div>
      </div>
      <div error>
        <div style="height: 200px; padding-top: 70px;">
          <h3 class="text-center"><i class="fa fa-exclamation-triangle text-warning"></i>&nbsp;Ошибка при формировании
            формы</h3>
        </div>
      </div>
      <div loading>
        <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
      </div>
    </cdp-loading-block>
  </div>
  <div class="modal-footer control-block">
      <button type="button"
              *ngIf="success"
              class="btn btn-primary m-r-sm"
              (click)="ok()">
        Изменить
      </button>
      <button type="button"
              class="btn btn-white m-r-sm"
              (click)="cancel()">
        Отмена
      </button>
  </div>
</div>
