<span *ngIf="show">
  (перенесено с <span style="cursor:pointer" placement="bottom" tooltip="{{i.tooltipText}}" *ngFor="let i of items; let index = index;">{{i.date | date:'dd.MM.yyyy HH:mm'}}<span *ngIf="index < items.length - 1">, </span></span>)
</span>
