<div class="description">
  <dl class="dl-horizontal m-l-md  m-t-md">
    <dt>
      <span>Номер</span>
    </dt>
    <dd>
      <a uiSref="app.instruction.instruction-card" [uiParams]="{id: mainOrder.documentId}">{{mainOrder.instruction.number}}</a>
    </dd>
    <dt>
      <span>Дата</span>
    </dt>
    <dd>
      <span>{{mainOrder.instruction.beginDate | date:'dd.MM.yyyy'}}</span>
    </dd>
    <dt>
      <span>Содержание поручения</span>
    </dt>
    <dd>
      <span style="white-space:pre-wrap;">{{mainOrder.instruction.content}}</span>
    </dd>
    <dt>
      <span>Описание поручения</span>
    </dt>
    <dd>
      <span style="white-space:pre-wrap;">{{mainOrder.instruction.description}}</span>
    </dd>
  </dl>
</div>
