<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">
      <div *blockUI="'newMemo'" class="m-t-sm">
        <form class="form-horizontal">
          <mggt-memo-editor [(model)]="model" [dicts]="dicts"></mggt-memo-editor>
          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
            <div class="col-lg-7 col-md-8 col-sm-9 control-block">
              <button (click)="create()" class="btn btn-primary">
                <i class="fa fa-pencil" aria-hidden="true"></i> Создать служебную записку
              </button>
              <button (click)="goBack()" class="btn btn-warning">Отмена</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>
