<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Автор поручения <span [hidden]="!!model.instruction?.creator" class="text-danger">*</span>
  </label>
  <div class="col-lg-7 col-md-8 col-sm-9">
    <ng-select name="creator"
               [disabled]="edit"
               [items]="dicts.creators"
               [multiple]="false"
               [closeOnSelect]="true"
               [hideSelected]="true"
               bindLabel="creator.displayName"
               bindValue="creator.accountName"
               [(ngModel)]="model.instruction.creator.login"
               (change)="creatorChanged($event)">
    </ng-select>
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Карточку создал
  </label>
  <div class="col-lg-7 col-md-8 col-sm-9">
    <input class="form-control" [disabled]="true" type="text"
           [(ngModel)]="model.instruction.assistant.fioFull">
  </div>
</div>

<div cdp-is-not-auth="INSTRUCTION_INSTRUCTION_ANYEXECUTOR" class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Ответственный исполнитель <span [hidden]="model.instruction.executor" class="text-danger">*</span>
  </label>
  <div class="col-lg-7 col-md-8 col-sm-9">
    <ng-select name="executor"
               [disabled]="isDisabled('executor')"
               [items]="executors"
               [multiple]="false"
               [closeOnSelect]="true"
               [hideSelected]="true"
               bindLabel="displayName"
               placeholder="Исполнители"
               [(ngModel)]="executor"
               (change)="executorChanged()">
    </ng-select>
  </div>
</div>

<div cdp-is-auth="INSTRUCTION_INSTRUCTION_ANYEXECUTOR" class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Ответственный исполнитель <span [hidden]="model.instruction.executor" class="text-danger">*</span>
  </label>
  <div class="col-lg-7 col-md-8 col-sm-9">
    <mggt-select-ldap-users [(model)]="executor" [multiple]="false"
                            [placeholder]="'Исполнители'" (modelChange)="executorChanged()"
                            [disabled]="isDisabled('executor')"></mggt-select-ldap-users>
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Личное поручение
  </label>
  <div class="col-lg-7 col-md-8 col-sm-9 col-xs-1">
    <input cdp-icheck type="checkbox" [(ngModel)]="model.instruction.private" name="private">
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Соисполнители
  </label>
  <div class="col-lg-7 col-md-8 col-sm-9">
    <mggt-select-ldap-users [disabled]="model.instruction?.repeated?.currentNumberRepeat >= 2"
                            [(model)]="coExecutors" [multiple]="true" (modelChange)="onCoExecutorChange()"
                            [placeholder]="'Соисполнители'"></mggt-select-ldap-users>
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    К сведению
  </label>
  <div class="col-lg-7 col-md-8 col-sm-9">
    <mggt-select-ldap-users [disabled]="model.instruction?.repeated?.currentNumberRepeat >= 2"
                            [(model)]="forInformationUsers" [multiple]="true" (modelChange)="onForInformationChange()"
                            [placeholder]="'К сведению'"></mggt-select-ldap-users>
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Дата поручения <span [hidden]="model.instruction.beginDate" class="text-danger">*</span>
  </label>
  <div class="col-lg-7 col-md-8 col-sm-9">
    <cdp-date-selector [minDate]="extData.minDate" [model]="model.instruction.beginDate"
                       (modelChange)="beginDateChange($event)"></cdp-date-selector>
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">Тема</label>
  <div class="col-lg-7 col-md-8 col-sm-9">
    <ng-select name="subject"
               [items]="d.subjects"
               [multiple]="false"
               [closeOnSelect]="true"
               [hideSelected]="true"
               bindLabel="name"
               [(ngModel)]="model.instruction.subject">
    </ng-select>
    <button cdp-is-auth="INSTRUCTION_THEME_CREATE_BUTTON" class="btn btn-primary m-t-sm" (click)="createTheme()">
      Создать тему
    </button>
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Рубрикатор
  </label>
  <div class="col-lg-7 col-md-8 col-sm-9">
    <ng-select name="theme"
               [items]="d.themes"
               [multiple]="false"
               [closeOnSelect]="true"
               [hideSelected]="true"
               bindLabel="name"
               [(ngModel)]="model.instruction.theme">
    </ng-select>
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Содержание поручения <span [hidden]="model.instruction.content" class="text-danger">*</span>
  </label>
  <div class="col-lg-7 col-md-8 col-sm-9">
    <textarea class="form-control" [(ngModel)]="model.instruction.content" rows="2" name="content"></textarea>
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Описание поручения
  </label>
  <div class="col-lg-7 col-md-8 col-sm-9">
    <textarea class="form-control" [(ngModel)]="model.instruction.description" rows="10" name="description"></textarea>
  </div>
</div>

<div class="form-group" *ngIf="model.instruction?.theme?.code === 'cadastral'">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Номер обращения <span [hidden]="cadastral.request" class="text-danger">*</span>
  </label>
  <div class="col-lg-7 col-md-8 col-sm-9">
    <textarea class="form-control" [(ngModel)]="cadastral.request" rows="2" name="cadastralRequest"></textarea>
  </div>
</div>

<div class="form-group" *ngIf="model.instruction?.theme?.code === 'cadastral'">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Количество территориальных зон <span [hidden]="cadastral.count" class="text-danger">*</span>
  </label>
  <div class="col-lg-7 col-md-8 col-sm-9">
    <input class="form-control" [(ngModel)]="cadastral.count" ui-mask-placeholder-char=" " name="cadastralCount"
           ui-mask="9?9?9?9?9?9?9?"/>
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Файлы
  </label>
  <div class="col-lg-7 col-md-8 col-sm-9">
    <div class="m-b-md clearfix">
      <div *ngFor="let file of fileService.ex.files">
        <cdp-ex-file [fileInfo]="file" [showSize]="true" [showDate]="false"
                     [deletable]="true"
                     (onRemove)="fileService.deleteExFile($event)"
                     [showOpenWordButton]="true"
                     [downloadBaseHref]="'/filestore'"></cdp-ex-file>
      </div>
      <cdp-ex-file-manager [(files)]="fileService.ex.filesToUpload"
                           [fileType]="'MkaDocOrder'"
                           [downloadable]="true"
                           [deletable]="true"
                           [downloadBlank]="true"
                           [openable]="true"
                           [baseMode]="true"
                           (onChanged)="exFilesChanged()"
                           [showOpenWordButton]="true"
                           [showSize]="true"
                           [showDate]="true">
      </cdp-ex-file-manager>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Приоритет <span [hidden]="model.instruction.priority" class="text-danger">*</span>
  </label>
  <div class="col-lg-7 col-md-8 col-sm-9">
    <div class="btn-group">
      <label class="btn btn-default" *ngFor="let p of dicts.priorities"
             [(ngModel)]="extData.priority" btnRadio="{{p.code}}" (click)="priorityChanged()">
        {{p.name}}
      </label>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Сложность <span [hidden]="model.instruction.difficulty" class="text-danger">*</span>
  </label>
  <div class="col-lg-7 col-md-8 col-sm-9">
    <div class="btn-group">
      <label class="btn btn-default" *ngFor="let p of dicts.difficulties" (click)="difficultyChanged()"
             [(ngModel)]="extData.difficulty" btnRadio="{{p.code}}">
        {{p.name}}
      </label>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label col-xs-12">
    Срок исполнения <span [hidden]="model.instruction.planDate" class="text-danger">*</span>
  </label>
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
    <cdp-date-selector [minDate]="model.instruction.beginDate" [(model)]="model.instruction.planDate"
                       (modelChange)="planDateChange($event)"></cdp-date-selector>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
    <timepicker [(ngModel)]="model.instruction.planDate" name="planTime" [showMeridian]="false"
      [mousewheel]="false" [showSpinners]="false" [hourStep]="'1'" [minuteStep]="'1'">
    </timepicker>
  </div>
</div>

<mggt-order-repeat-editor *ngIf="isShowRepeat"
                          [model]="model.instruction.repeated"
                          [create]="model.documentId.length === 0"
                          [edit]="editRepeat"
                          [dicts]="dicts"
                          [planDate]="model.instruction.planDate"></mggt-order-repeat-editor>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Предоставить материалы
  </label>
  <div class="col-lg-7 col-md-8 col-sm-9 col-xs-1">
    <input cdp-icheck type="checkbox" [(ngModel)]="model.filesRequired" name="filesRequired">
  </div>
</div>

<div *ngIf="model.instruction.memoId && extData.memoContent" class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Служебная записка
  </label>
  <div class="m-t-xs col-lg-7 col-md-8 col-sm-9">
    {{extData.memoContent}}
  </div>
</div>

<div *ngIf="model.instruction.memoId" class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">Доступ к служебной записке</label>
  <div class="col-lg-7 col-md-8 col-sm-9 col-xs-1">
    <input cdp-icheck type="checkbox" [(ngModel)]="extData.memoView" name="memoView">
  </div>
</div>
