<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Повторять
  </label>
  <div class="col-lg-7 col-md-8 col-sm-9 col-xs-1">
    <input cdp-icheck type="checkbox" [(ngModel)]="model.repeatedSign" name="repeated" [disabled]="!create">
  </div>
</div>

<div *ngIf="model.repeatedSign">
  <div class="form-group">
    <label class="col-lg-3 col-md-3 col-sm-3 control-label">
      Дата окончания
    </label>
    <div class="col-lg-7 col-md-8 col-sm-9">
      <cdp-date-selector [(model)]="model.dateEndPeriodRepeat"
                         [minDate]="planDate"
                         (modelChange)="repeatPeriodEndDateChange($event)"></cdp-date-selector>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-3 col-md-3 col-sm-3 control-label">
      Период повтора <span [hidden]="model.periodRepeat" class="text-danger">*</span>
    </label>
    <div class="col-lg-7 col-md-8 col-sm-9">
      <ng-select name="repeatPeriod"
                 [items]="dicts.repeatPeriods"
                 [multiple]="false"
                 [closeOnSelect]="true"
                 [hideSelected]="true"
                 bindLabel="name"
                 [disabled]="!create && !edit"
                 [(ngModel)]="model.periodRepeat"
                 (change)="repeatPeriodChange()">
      </ng-select>
    </div>
  </div>

  <div *ngIf="model.periodRepeat && model.periodRepeat.code === 'daily'">
    <div class="form-group">
      <label class="col-xs-3 col-lg-3 col-md-3 col-sm-3 control-label padding-xs">
        Каждый <span [hidden]="model.periodicity" class="text-danger">*</span>
      </label>
      <div class="col-xs-2 col-lg-1 col-md-1 col-sm-1" style="padding-right: 0">
        <input class="form-control" type="text" [(ngModel)]="model.periodicity" name="repeatPeriodicity"
               [textMask]="{mask: helper.maskNumber.bind(this), pipe: fromOneAndMore.bind(this)}"
               [disabled]="!create && !edit">
      </div>
      <label class="col-xs-2 col-lg-2 col-md-2 col-sm-2 control-label padding-xs" style="text-align: left">
        день
      </label>
      <div class="col-lg-4 col-md-5 col-sm-6 m-t-xs" style="text-align: right">
        <input cdp-icheck type="checkbox" [(ngModel)]="model.RepeatWorkingDay" name="repeatWorkingDay"
               [disabled]="!create && !edit">
        <b class="m-l-sm">Только рабочие дни</b>
      </div>
    </div>
  </div>

  <div *ngIf="model.periodRepeat && model.periodRepeat.code === 'weekly'">
    <div class="form-group">
      <label class="col-xs-3 col-lg-3 col-md-3 col-sm-3 control-label padding-xs">
        Каждую <span [hidden]="model.periodicity" class="text-danger">*</span>
      </label>
      <div class="col-xs-2 col-lg-3 col-md-3 col-sm-3">
        <input class="form-control" type="text" [(ngModel)]="model.periodicity" name="repeatPeriodicity"
               [textMask]="{mask: helper.maskNumber.bind(this), pipe: fromOneAndMore.bind(this)}"
               [disabled]="!create && !edit">
      </div>
      <label class="col-xs-3 col-lg-3 col-md-3 col-sm-3 control-label padding-xs" style="padding-left: 0; text-align: left">
        неделю
      </label>
    </div>
    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-3 control-label">
        День недели <span [hidden]="model.weekday.length" class="text-danger">*</span>
      </label>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <ng-select name="weekday"
                   [items]="dicts.weekdays"
                   [multiple]="true"
                   [closeOnSelect]="true"
                   [hideSelected]="true"
                   bindLabel="name"
                   [(ngModel)]="model.weekday"
                   [disabled]="!create && !edit">
        </ng-select>
      </div>
    </div>
  </div>

  <div *ngIf="model.periodRepeat && model.periodRepeat.code === 'monthly'">
    <div class="form-group">
      <label class="col-xs-3 col-lg-3 col-md-3 col-sm-3 control-label padding-xs">
        Каждый <span [hidden]="model.periodicity" class="text-danger">*</span>
      </label>
      <div class="col-xs-2 col-lg-3 col-md-3 col-sm-3">
        <input class="form-control" type="text" [(ngModel)]="model.periodicity"
               [textMask]="{mask: helper.maskNumber.bind(this), pipe: fromOneAndMore.bind(this)}"
               name="repeatPeriodicity" [disabled]="!create && !edit">
      </div>
      <label class="col-xs-3 col-lg-3 col-md-3 col-sm-3 control-label padding-xs" style="padding-left: 0; text-align: left">
        месяц
      </label>
    </div>
    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-3 control-label">
        Число месяца <span *ngIf="isMandatory('dayMonth')" class="text-danger">*</span>
      </label>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <input class="form-control" type="text" [(ngModel)]="model.dayMonth"
               name="repeatDayOfMonth"
               [textMask]="{mask: helper.maskNumber.bind(this), pipe: dayNumberPipe.bind(this)}"
               [disabled]="(!create && !edit) || model.weekday.length || !!model.numberWeek">
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-1 col-lg-3 col-md-3 col-sm-3 control-label padding-xs">
        В <span *ngIf="isMandatory('numberWeek')" class="text-danger">*</span>
      </label>
      <div class="col-xs-5 col-lg-4 col-md-4 col-sm-5">
        <ng-select name="repeatWeekNumber"
                   [items]="d.weekNumbers"
                   [multiple]="false"
                   [closeOnSelect]="true"
                   [hideSelected]="true"
                   bindLabel="name"
                   [(ngModel)]="model.numberWeek"
                   [disabled]="(!create && !edit) || !!model.dayMonth">
        </ng-select>
      </div>

      <div class="col-xs-6 col-lg-3 col-md-4 col-sm-4" style="padding-left: 0">
        <ng-select name="weekday"
                   [items]="d.weekdays"
                   [multiple]="true"
                   maxSelectedItems="1"
                   [closeOnSelect]="true"
                   [hideSelected]="true"
                   bindLabel="name"
                   [(ngModel)]="model.weekday"
                   [disabled]="(!create && !edit) || !!model.dayMonth">
        </ng-select>
      </div>
    </div>
  </div>

  <div *ngIf="model.periodRepeat && model.periodRepeat.code === 'yearly'">
    <div class="form-group">
      <label class="col-xs-3 col-lg-3 col-md-3 col-sm-3 control-label padding-xs">
        Каждый <span [hidden]="model.periodicity" class="text-danger">*</span>
      </label>
      <div class="col-xs-2 col-lg-3 col-md-3 col-sm-3">
        <input class="form-control" type="text" [(ngModel)]="model.periodicity"
               [textMask]="{mask: helper.maskNumber.bind(this), pipe: fromOneAndMore.bind(this)}"
               name="repeatPeriodicity" [disabled]="!create && !edit">
      </div>
      <label class="col-xs-3 col-lg-1 col-md-1 col-sm-1 control-label padding-xs" style="padding-left: 0; text-align: left">
        год
      </label>
    </div>
    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-3 control-label">
        Месяц <span [hidden]="model.Month.length" class="text-danger">*</span>
      </label>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <ng-select name="repeatMonth"
                   [items]="d.months"
                   [multiple]="true"
                   [closeOnSelect]="true"
                   [hideSelected]="true"
                   bindLabel="name"
                   [(ngModel)]="model.Month"
                   [disabled]="!create && !edit">
        </ng-select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-3 control-label">
        Число месяца <span *ngIf="isMandatory('dayMonth')" class="text-danger">*</span>
      </label>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <input class="form-control" type="text" [(ngModel)]="model.dayMonth"
               name="repeatDayOfMonth"
               [textMask]="{mask: helper.maskNumber.bind(this), pipe: dayNumberPipe.bind(this)}"
               [disabled]="(!create && !edit) || model.weekday.length || model.numberWeek">
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-1 col-lg-3 col-md-3 col-sm-3 control-label padding-xs">
        В <span *ngIf="isMandatory('numberWeek')" class="text-danger">*</span>
      </label>
      <div class="col-xs-5 col-lg-4 col-md-4 col-sm-5">
        <ng-select name="repeatWeekNumberYear"
                   [items]="d.weekNumbers"
                   [multiple]="false"
                   [closeOnSelect]="true"
                   [hideSelected]="true"
                   bindLabel="name"
                   [(ngModel)]="model.numberWeek"
                   [disabled]="(!create && !edit) || !!model.dayMonth">
        </ng-select>
      </div>
      <div class="col-xs-6 col-lg-3 col-md-4 col-sm-4" style="padding-left: 0">
        <ng-select name="weekday"
                   [items]="dicts.weekdays"
                   [multiple]="true"
                   maxSelectedItems="1"
                   [closeOnSelect]="true"
                   [hideSelected]="true"
                   bindLabel="name"
                   [(ngModel)]="model.weekday"
                   [disabled]="(!create && !edit) || !!model.dayMonth">
        </ng-select>
      </div>
    </div>
  </div>
</div>
