

<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">
      <div *blockUI="'newOrder'" class="m-t-sm m-b-lg">
        <form class="form-horizontal">
          <mggt-order-editor [(model)]="model"
                             [dicts]="dicts"
                             [extData]="extData"></mggt-order-editor>
          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
            <div class="col-lg-7 col-md-8 col-sm-9 control-block m-t-md m-b-lg">
              <button (click)="create()" class="btn btn-violet m-r-sm">
                <i class="fa fa-file" aria-hidden="true"></i> Дать поручение
              </button>
              <button (click)="goBack()" class="btn btn-warning m-r-sm">Отмена</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div error>
    <div style="height: 200px; padding-top: 70px;">
      <h3 class="text-center"><i class="fa fa-exclamation-triangle text-warning"></i>&nbsp;Ошибка при инициализации
        приложения</h3>
    </div>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>


