<div class="table-overflow-container visible-lg">
  <table class="table search-result-table table-hover order-sub-tasks-doc">
    <thead>
    <tr>
      <th>Статус</th>
      <th>Дата</th>
      <th>Номер</th>
      <th>Содержание</th>
      <th>Ответственный</th>
      <th>Исполнение (план)</th>
      <th>Исполнение (факт)</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let d of subTasks">
      <td style="white-space: nowrap;"><a href="{{d.link}}">
        <span class="label label-{{statuses[d.statusName]}}">{{d.statusName}}
        </span>
      </a></td>
      <td *ngIf="!d.receivedFromMKA" >
        <a href="{{d.link}}">{{d.beginDate | date: 'dd.MM.yyyy HH:mm'}}</a>
      </td>
      <td *ngIf="d.receivedFromMKA" >
        <a href="{{d.link}}">{{d.beginDate | date: 'dd.MM.yyyy'}}</a>
      </td>
      <td><a href="{{d.link}}"><i *ngIf="d.confident === 'true'" class="fa fa-handshake-o" aria-hidden="true"></i>
        {{d.instructionNumber}}</a></td>
      <td>
        <a href="{{d.link}}">
          <div *ngIf="d.content" class="m-b-xs" style="word-break: break-all;">{{d.content}}</div>
          <div *ngIf="d.themeNamethemeName" class="m-b-xs">{{d.themeName}}</div>
          <div *ngIf="d.difficultyName">{{d.difficultyName}}</div>
        </a>
      </td>
      <td><a href="{{d.link}}">{{d.executorFioFull}}</a></td>
      <td *ngIf="!d.receivedFromMKA">
        <a href="{{d.link}}">{{d.planDate | date: 'dd.MM.yyyy HH:mm'}}</a>
        <span *ngIf="d.primaryDate">(перенесено с {{d.primaryDate | date: 'dd.MM.yyyy HH:mm'}})</span>
      </td>
      <td *ngIf="d.receivedFromMKA">
        <a href="{{d.link}}">{{d.planDate | date: 'dd.MM.yyyy'}}</a>
        <span *ngIf="d.primaryDate">(перенесено с {{d.primaryDate | date: 'dd.MM.yyyy'}})</span>
      </td>
      <td *ngIf="!d.receivedFromMKA">
        <a href="{{d.link}}">{{d.reportDate | date: 'dd.MM.yyyy HH:mm'}}</a>
      </td>
      <td *ngIf="d.receivedFromMKA">
        <a href="{{d.link}}">{{d.reportDate | date: 'dd.MM.yyyy'}}</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="visible-md visible-sm visible-xs">
  <a href="{{d.link}}" class="order-sub-tasks-card" *ngFor="let d of subTasks">
    <div class="clearfix m-b-xs">
      <div class="pull-left mobile-task-date">{{d.beginDate | date: 'dd.MM.yyyy'}}</div>
      <div class="pull-right mobile-task-date">Срок: <span>{{d.planDate | date: 'dd.MM.yyyy HH:mm'}}</span>
      <span *ngIf="d.primaryDate">(перенесено с {{d.primaryDate | date: 'dd.MM.yyyy HH:mm'}})</span></div>
    </div>
    <div class="m-b-xs"><span style="font-weight: 600" class="text-{{priorities[d.priorityName]}}">{{d.priorityName}} приоритет</span></div>
    <div class="semibold m-b-xs" style="word-break: break-all;">{{d.content}}</div>
    <div>Номер: {{d.instructionNumber}}</div>
    <div>Автор: {{d.creatorFioFull}}</div>
    <div>Отв.: {{d.executorFioFull}}</div>
    <div *ngIf="d.themeName">Тема: {{d.themeName}}</div>
    <div *ngIf="d.reportDate">Факт: {{d.reportDate | date: 'dd.MM.yyyy'}}</div>
    <div class="m-b-xs">Сложность: {{d.difficultyName}}</div>
    <div><span class="label label-{{statuses[d.statusName]}}">{{d.statusName}}</span></div>
  </a>
</div>
