<div class="table-overflow-container visible-lg">
  <table class="table search-result-table table-hover order-sub-tasks-doc">
    <thead>
    <tr>
      <th>Статус</th>
      <th>Дата</th>
      <th>Номер</th>
      <th>Автор</th>
      <th>Содержание</th>
      <th>Ответственный</th>
      <th>Приоритет</th>
      <th>Исполнение (план)</th>
      <th>Исполнение (факт)</th>
      <th>Дата принятия</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let d of subTasks">
      <td style="white-space: nowrap;">
        <a uiSref="app.instruction.instruction-card" [uiParams]="{id: d.documentId}">
          <span class="label label-{{statuses[d.statusName]}}">{{d.statusName}}</span>
        </a>
      </td>
      <td *ngIf="!d.receivedFromMKA">
        <a uiSref="app.instruction.instruction-card" [uiParams]="{id: d.documentId}">
          {{d.beginDate | date: 'dd.MM.yyyy HH:mm'}}
        </a>
      </td>
      <td *ngIf="d.receivedFromMKA">
        <a uiSref="app.instruction.instruction-card" [uiParams]="{id: d.documentId}">{{d.beginDate | date: 'dd.MM.yyyy'}}</a>
      </td>
      <td><a uiSref="app.instruction.instruction-card" [uiParams]="{id: d.documentId}"><i *ngIf="d.confident === 'true'" class="fa fa-handshake-o" aria-hidden="true"></i>
        {{d.instructionNumber}}</a></td>
      <td><a uiSref="app.instruction.instruction-card" [uiParams]="{id: d.documentId}">{{d.creatorFioFull}}</a></td>
      <td>
        <a uiSref="app.instruction.instruction-card" [uiParams]="{id: d.documentId}">
          <div *ngIf="d.content" class="m-b-xs" style="word-break: break-all;">{{d.content}}</div>
          <div *ngIf="d.subjectName" class="m-b-xs">Тема: {{d.subjectName}}</div>
          <div *ngIf="d.themeName" class="m-b-xs">{{d.themeName}}</div>
          <div *ngIf="d.difficultyName">{{d.difficultyName}}</div>
        </a>
      </td>
      <td><a uiSref="app.instruction.instruction-card" [uiParams]="{id: d.documentId}">{{d.executorFioFull}}</a></td>
      <td><a uiSref="app.instruction.instruction-card" [uiParams]="{id: d.documentId}"><span
        class="text-{{priorities[d.priorityName]}}">{{d.priorityName}}</span></a></td>
      <td *ngIf="!d.receivedFromMKA">
        <a uiSref="app.instruction.instruction-card" [uiParams]="{id: d.documentId}">
          {{d.planDate | date: 'dd.MM.yyyy HH:mm'}}
        </a>
        <span *ngIf="d.primaryDate">(перенесено с {{d.primaryDate | date: 'dd.MM.yyyy HH:mm'}})</span>
      </td>
      <td *ngIf="d.receivedFromMKA">
        <a uiSref="app.instruction.instruction-card" [uiParams]="{id: d.documentId}">
          {{d.planDate | date: 'dd.MM.yyyy'}}
        </a>
        <span *ngIf="d.primaryDate">(перенесено с {{d.primaryDate | date: 'dd.MM.yyyy'}})</span>
      </td>
      <td *ngIf="!d.receivedFromMKA">
        <a uiSref="app.instruction.instruction-card" [uiParams]="{id: d.documentId}">
          {{d.reportDate | date: 'dd.MM.yyyy HH:mm'}}
        </a>
      </td>
      <td *ngIf="d.receivedFromMKA">
        <a uiSref="app.instruction.instruction-card" [uiParams]="{id: d.documentId}">
          {{d.reportDate | date: 'dd.MM.yyyy'}}
        </a>
      </td>
      <td *ngIf="!d.receivedFromMKA">
        <a uiSref="app.instruction.instruction-card" [uiParams]="{id: d.documentId}">
          {{d.acceptDate | date: 'dd.MM.yyyy HH:mm'}}
        </a>
      </td>
      <td *ngIf="d.receivedFromMKA">
        <a uiSref="app.instruction.instruction-card" [uiParams]="{id: d.documentId}">
          {{d.acceptDate | date: 'dd.MM.yyyy'}}
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="visible-md visible-sm visible-xs">
  <a uiSref="app.instruction.instruction-card" [uiParams]="{id: d.documentId}" class="order-sub-tasks-card" *ngFor="let d of subTasks">
    <div class="clearfix m-b-xs">
      <div class="pull-left mobile-task-date">{{d.beginDate | date: 'dd.MM.yyyy'}}</div>
      <div class="pull-right mobile-task-date">Срок: <span>{{d.planDate | date: 'dd.MM.yyyy HH:mm'}}</span>
        <span *ngIf="d.primaryDate">(перенесено с {{d.primaryDate | date: 'dd.MM.yyyy HH:mm'}})</span></div>
    </div>
    <div class="m-b-xs"><span class="text-{{priorities[d.priorityName]}}">{{d.priorityName}} приоритет</span></div>
    <div class="semibold m-b-xs" style="word-break: break-all;">{{d.content}}</div>
    <div>Номер: {{d.instructionNumber}}</div>
    <div>Автор: {{d.creatorFioFull}}</div>
    <div>Отв.: {{d.executorFioFull}}</div>
    <div *ngIf="d.themeName">Тема: {{d.themeName}}</div>
    <div *ngIf="d.factDate">Факт.: {{d.factDate | date: 'dd.MM.yyyy'}}</div>
    <div *ngIf="d.acceptDate">Принятие: {{d.acceptDate | date: 'dd.MM.yyyy'}}</div>
    <div  class="m-b-xs">Сложность: {{d.difficultyName}}</div>
    <div class="clearfix">
      <span class="label label-{{statuses[d.statusName]}}">{{d.statusName}}</span>
    </div>
  </a>
</div>
