table.order-sub-tasks-doc {
  font-size:14px;
  color: #676a6c;
  thead {
    tr {
      border-top: 1px solid #f0f0f0;
      th {
        font-weight: 600;
      }
    }
  }
}

a.order-sub-tasks-card {
  padding: 8px 5px;
  display: inline-block;
  color: inherit;
  width: 100%;

  &:not(:last-child) {
    border-bottom: 1px solid #f3f3f4;
  }

  div:first-child {
    font-weight: 600;
  }

  &:hover {
    background-color: #f8f8f8;
  }
}

.table-overflow-container {
  overflow-x: auto;
  max-width: 100%;
}
.table-overflow-container a {
  color: inherit;
}
.mobile-task-date{
  color: #999b9c;
}
