<div class="inmodal">
  <div class="modal-header">
    <h3 class="modal-title text-warning">Файл '{{oldName}}' уже существует</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-lg-6 col-md-6 col-sm-6 control-label">Новое имя файла (без расширения)</label>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <input class="form-control" [(ngModel)]="newName" name="newName">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button [disabled]="(newName.trim() === '')" type="button" class="btn btn-primary" (click)="rename()">Переименовать</button>
    <button type="button" class="btn btn-white" (click)="cancel()">Отмена</button>
  </div>
</div>
