<div class="m-t-md">
  <div class="description" *ngIf="$localStorage.isMobile !== true">
    <table class="table animated fadeIn m-t-sm">
      <thead>
        <tr>
          <th>ФИО ознакомленного</th>
          <th>Фактическая дата ознакомления</th>
          <th>Комментарий</th>
          <th>Файлы</th>
        </tr>
      </thead>
      <tbody *ngIf="isRepeated">
        <ng-container *ngFor="let h of coExecutorGroups">
          <tr>
            <td colspan="4">
              <div (click)="h.expand = !h.expand" style="cursor: pointer">
                <i class="fa m-r-sm" [ngClass]="{
                  'fa-caret-down': h.expand,
                  'fa-caret-right': !h.expand
                }"></i>
                <b>{{h.title}}</b>
              </div>
            </td>
          </tr>
          <ng-container *ngIf="h.expand">
            <tr *ngFor="let e of h.coExecutor">
              <td>
                <span *ngIf="e.reviewBy">{{e.reviewBy.fioFull}}</span>
                <br />
                <span *ngIf="e.factReviewBy && e.factReviewBy.login && e.factReviewBy.login !== e.reviewBy.login">({{e.factReviewBy.fioFull}})</span>
              </td>
              <td>{{e.reviewFactDate | date:'dd.MM.yyyy'}}</td>
              <td>{{e.reviewNote}}</td>
              <td>
                <div *ngIf="e.fileId">
                  <div class="fileMemo" *ngFor="let f of files[e.reviewBy.login + e.numberRepeat]">
                    <cdp-ex-file [fileInfo]="f" [showSize]="true" [showDate]="true" [checkSign]="true"
                                 [downloadBaseHref]="'/filestore'">
                    </cdp-ex-file>
                  </div>
                </div>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
      <tbody *ngIf="!isRepeated"><!-- Ordinary case -->
        <tr *ngFor="let e of coExecutor">
          <td>
            <span *ngIf="e.reviewBy">{{e.reviewBy.fioFull}}</span>
            <br />
            <span *ngIf="e.factReviewBy && e.factReviewBy.login && e.factReviewBy.login !== e.reviewBy.login">({{e.factReviewBy.fioFull}})</span>
          </td>
          <td>{{e.reviewFactDate | date:'dd.MM.yyyy'}}</td>
          <td>{{e.reviewNote}}</td>
          <td>
            <div class="fileMemo" *ngFor="let f of files[e.reviewBy.login]">
              <cdp-ex-file [fileInfo]="f" [showSize]="true" [showDate]="true" [checkSign]="true"
                           [downloadBaseHref]="'/filestore'">
              </cdp-ex-file>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="description" *ngIf="$localStorage.isMobile === true">
    <div *ngIf="isRepeated">
      <ng-container *ngFor="let h of coExecutorGroups">
        <div (click)="h.expand = !h.expand" style="cursor: pointer">
          <i class="fa m-r-sm" [ngClass]="{
              'fa-caret-down': h.expand,
              'fa-caret-right': !h.expand
            }"></i>
          <b>{{h.title}}</b>
        </div>
        <ng-container *ngIf="h.expand">
          <div *ngFor="let e of h.coExecutor" class="m-b-lg">
            <div>{{e.reviewNote}}</div>
            <div>
              <div class="fileMemo" *ngFor="let f of files[e.reviewBy.login + e.numberRepeat]">
                <cdp-ex-file [fileInfo]="f" [showSize]="true" [showDate]="true" [checkSign]="true"
                             [downloadBaseHref]="'/filestore'">
                </cdp-ex-file>
              </div>
            </div>
            <div class="m-t-xs m-l-sm">
              <i>
                <span *ngIf="e.reviewBy">{{e.reviewBy.fioFull}}</span>
                {{e.reviewFactDate ? ' от ' : ''}}
                {{e.reviewFactDate | date:'dd.MM.yyyy'}}
              </i>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <div *ngIf="!isRepeated">
      <div *ngFor="let e of coExecutor" class="m-b-lg">
        <div>{{e.reviewNote}}</div>
        <div>
          <div class="fileMemo" *ngFor="let f of files[e.reviewBy.login]">
            <cdp-ex-file [fileInfo]="f" [showSize]="true" [showDate]="true" [checkSign]="true"
                         [downloadBaseHref]="'/filestore'">
            </cdp-ex-file>
          </div>
        </div>
        <div class="m-t-xs m-l-sm">
          <i>
            <span *ngIf="e.reviewBy">{{e.reviewBy.fioFull}}</span>
            {{e.reviewFactDate ? ' от ' : ''}}
            {{e.reviewFactDate | date:'dd.MM.yyyy'}}
          </i>
        </div>
      </div>
    </div>
  </div>
</div>
