<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="nowrap center" width="5%">№ пп</th>
        <th class="nowrap center" width="27%">ФИО и должность</th>
        <th class="nowrap center" width="17%">Вид действия</th>
        <th class="nowrap center" width="15%">Срок согласования</th>
        <th class="nowrap center" width="14%">Результат</th>
        <th class="nowrap center">Комментарии</th>
      </tr>
    </thead>
    <tbody *ngIf="list">
      <tr *ngFor="let item of list.agreed">
        <td class="center">{{item.approvalNum}}</td>
        <td>
          <div class="semibold">{{item.agreedBy.fioFull}}</div>
          <div>{{item.agreedBy.post}}</div>
          <div *ngIf="!!item.factAgreedBy">({{item.factAgreedBy.fioFull}}, {{item.factAgreedBy.post}})</div>
        </td>
        <td class="center">
          {{item.approvalType}}
        </td>
        <td class="center">
          {{item.approvalPlanDate | date: "dd.MM.yyyy HH:mm"}}
        </td>
        <td class="center">
          <span *ngIf="!item.approvalResult" class="label label-default">Ожидание</span>
          <span *ngIf="item.approvalResult"
            class="label {{getApprovalResultColor(item.approvalTypeCode, item.approvalResult)}}">{{item.approvalResult}}</span>
          <div *ngIf="item.approvalFactDate"><label>{{item.approvalFactDate | date: "dd.MM.yyyy HH:mm"}}</label></div>
        </td>
        <td>

          <div *ngIf="item.added && item.added.length" class="m-b-sm">
            <div class="semibold">Добавление согласующего</div>
            <div *ngFor="let addedItem of item.added">
              <span class="semibold">{{addedItem.additionalAgreed.iofShort || addedItem.additionalAgreed.fio}}:</span> {{addedItem.addedNote}}
            </div>
          </div>

          <div
            *ngIf="!(item.approvalResult=='Не согласовано' || item.approvalResult=='Не утверждено') && item.approvalNote">
            <div class="semibold">{{item.approvalResult}}</div>
            <div>{{item.approvalNote}}</div>
          </div>

          <div
            *ngIf="(item.approvalResult=='Не согласовано' || item.approvalResult=='Не утверждено') && item.approvalNote">
            <div class="semibold">На доработку</div>
            <div>{{item.approvalNote}}</div>
          </div>
          <div *ngFor="let approvalFile of item.fileApproval" class="m-t-xs">
            <cdp-ex-file [fileInfo]="{nameFile: approvalFile.nameFile,
              idFile:   approvalFile.idFile,
              sizeFile: approvalFile.sizeFile,
              dateFile: approvalFile.dateFile,
              signed:   approvalFile.signed}" [showSize]="true" [showDate]="true"
              [downloadBaseHref]="'/filestore'"></cdp-ex-file>

          </div>

        </td>
      </tr>
    </tbody>
  </table>
</div>
