.zindex {
    z-index: 4050 !important;
}

mggt-approval-list-add {
    .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
        white-space: normal !important;
    }

    .fio {
        .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
            white-space: normal !important;
        }
    }
}