<div class="inmodal">
    <div class="modal-header">
        <h3 class="modal-title">Добавление согласующего</h3>
    </div>
    <div class="modal-body" style="background:white; overflow-x: visible">
        <mggt-approval-list-add [(agreed)]="agreed" [except]="except" [dueDate]="dueDate" [approvalNum]="approvalNum" [alreadyAddedCounter]="alreadyAddedCounter"></mggt-approval-list-add>
    </div>
    <div class="modal-footer">
        <button type="button" *ngIf="agreed.length > 0" class="btn btn-primary" (click)="add()"
                [disabled]="!isValid()">Добавить согласующих
        </button>
        <button type="button" class="btn btn-white" (click)="cancel()">Отменить</button>
    </div>
</div>
