<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">
      <div *blockUI="'cardOrder'">
        <div class="clearfix">
          <div class="pull-left">
            <h3>Поручение № {{document.instruction.number}}</h3>
          </div>
          <div class="pull-right order-card-menu">
            <mggt-order-card-menu [document]="document" [dicts]="dicts" [initProcess]="init" (onSave)="reload($event)">
            </mggt-order-card-menu>
          </div>
        </div>
        <h2 class="m-t-sm m-b-sm small-title-mobile semibold" style="word-break: break-all;" >{{document.instruction.content}}</h2>
        <h3 *ngIf="document.instruction.subject?.code">Тема: {{document.instruction.subject?.name}}</h3>
        <div class="m-t-xs m-b-xs">
          <span>Автор поручения: <span
              style="font-weight:600">{{document.instruction.creator.fioFull}}</span></span><br>
          <span *ngIf="document.instruction.assistant.fioFull">Карточку создал: <span
              style="font-weight:600">{{document.instruction.assistant.fioFull}}</span></span><br
            *ngIf="document.instruction.assistant.fioFull">
          <span>Ответственный исполнитель: <span
              style="font-weight:600">{{document.instruction.executor?.fioFull}}</span></span><br>
          <div *ngIf="!document.instruction.repeated.repeatedSign">
            <span>Дата поручения: <span
                style="font-weight:600">{{document.instruction.beginDate | date: 'dd.MM.yyyy HH:mm'}}</span></span>
          </div>
          <div *ngIf="document.instruction.repeated.repeatedSign">
            <span>Первичный срок исполнения:
              <span style="font-weight:600">{{document.instruction.primaryDate | date: 'dd.MM.yyyy HH:mm'}}</span>
            </span>
            <br>
            <span>Период повтора:
              <span style="font-weight:600">{{getRepeatPeriod(document.instruction.repeated)}}</span>
            </span>
            <br>
            <span>Ближайший срок исполнения:
              <span style="font-weight:600">{{document.instruction.planDate | date: 'dd.MM.yyyy HH:mm'}}</span>
            </span>
          </div>
          <span>Срок исполнения: <span
              style="font-weight:600">{{document.instruction.planDate | date: 'dd.MM.yyyy HH:mm'}}</span>
            <mggt-plan-date-history [document]="document"></mggt-plan-date-history>
          </span>
        </div>
        <div class="m-t-sm m-b-xs">
          <span class="label label-{{document.statusId.color}} m-r-xs">{{document.statusId.name}}</span>
          <span *ngIf="document.instruction.repeated.repeatedSign" class="label label-success">Регулярное</span>
        </div>
        <div class="panel blank-panel">
          <div style="margin-top:20px;background-color:white;">
            <ul class="nav nav-pills nav-stacked" id="mobile-nav-pills-stacked">
              <li (click)="onTabSelected(0)" [class]="hideOvers === false || isActive(0) ? '' : 'hidden'">
                <a [class]="isActive(0) ? 'active-tab-bottom' : ''">
                  Поручение
                  <span class="pull-right" [hidden]="!isActive(0)">
                    <i class="glyphicon glyphicon-tasks"></i>
                  </span>
                </a>
              </li>
              <li (click)="onTabSelected(9)" *ngIf="!document?.receivedFromMKA?.FromMKA && document?.instruction?.coExecutor && document?.instruction?.coExecutor?.length > 0"
                [class]="hideOvers === false || isActive(9) ? '' : 'hidden'">
                <a [class]="isActive(9) ? 'active-tab-bottom' : ''">
                  Соисполнители
                  <span class="pull-right" [hidden]="!isActive(9)">
                    <i class="glyphicon glyphicon-tasks"></i>
                  </span>
                </a>
              </li>
              <li (click)="onTabSelected(8)"
                *ngIf="(!document.receivedFromMKA || !document?.receivedFromMKA?.FromMKA) && document?.forInformation && document?.forInformation?.length"
                [class]="hideOvers === false || isActive(8) ? '' : 'hidden'">
                <a [class]="isActive(8) ? 'active-tab-bottom' : ''">
                  К сведению
                  <span class="pull-right" [hidden]="!isActive(8)">
                    <i class="glyphicon glyphicon-tasks"></i>
                  </span>
                </a>
              </li>
              <li *ngIf="subTasks?.length " (click)="onTabSelected(1)"
                [class]="hideOvers === false || isActive(1) ? '' : 'hidden'">
                <a [class]="isActive(1) ? 'active-tab-bottom' : ''">
                  Подзадачи
                  <span class="pull-right" [hidden]="!isActive(1)">
                    <i class="glyphicon glyphicon-tasks"></i>
                  </span>
                </a>

              </li>
              <li *ngIf="linked?.length && showLinked" (click)="onTabSelected(2)"
                [class]="hideOvers === false || isActive(2) ? '' : 'hidden'">
                <a [class]="isActive(2) ? 'active-tab-bottom' : ''">
                  Связанные поручения
                  <span class="pull-right" [hidden]="!isActive(2)">
                    <i class="glyphicon glyphicon-tasks"></i>
                  </span>
                </a>
              </li>

              <li (click)="onTabSelected(3)" [class]="hideOvers === false || isActive(3) ? '' : 'hidden'">
                <a [class]="isActive(3) ? 'active-tab-bottom' : ''">
                  Процесc
                  <span class="pull-right" [hidden]="!isActive(3)">
                    <i class="glyphicon glyphicon-tasks"></i>
                  </span>
                </a>
              </li>
            </ul>
          </div>

          <div class="tab-content">
            <div class="m-t-md" *ngIf="isActive(0)">
              <cdp-expanded-section [(expand)]="parentDocumentExpanded"
                *ngIf="parentDocument && document.instruction.subject?.code === ''">
                <span header-slot style="display:inline;">Главное поручение</span>
                <div content-slot>
                  <mggt-main-order-info [mainOrder]="parentDocument"></mggt-main-order-info>
                </div>
              </cdp-expanded-section>
              <cdp-expanded-section [(expand)]="meetingExpanded"
                *ngIf="pairs?.length && !document.instruction.expressMeetingID">
                <span header-slot style="display:inline;">Совещание</span>
                <div content-slot>
                  <div class="m-b-sm  m-t-md">
                    <div *ngFor="let p of pairs">
                      <p class="m-l-md" *ngIf="p.protocol">
                        <a target="_blank" href="/sdo/meeting/#/app/meeting/protocol/{{p.protocol.documentId}}">
                          {{p.protocol.meetingFullName}} № {{p.protocol.meetingNumber}} от
                          {{p.protocol.meetingDate | date:'dd.MM.yyyy'}}
                        </a>&nbsp;&nbsp;&nbsp;
                        <a target="_blank" href="/sdo/meeting/#/app/meeting/question/{{p.question.documentId}}">Вопрос № {{p.question.itemNumber}}
                          {{p.question.question}} </a>
                      </p>
                      <p class="m-l-md" *ngIf="!p.protocol">
                        {{p.question.meetingFullName}}&nbsp;&nbsp;&nbsp;
                        <a target="_blank" href="/sdo/meeting/#/app/meeting/question/{{p.question.documentId}}">Вопрос № {{p.question.itemNumber}}
                          {{p.question.question}} </a>
                      </p>
                    </div>
                  </div>
                </div>
              </cdp-expanded-section>
              <cdp-expanded-section [(expand)]="admMeetingExpanded" *ngIf="document.instruction.expressMeetingID">
                <span header-slot style="display:inline;">Административное совещание</span>
                <div content-slot>
                  <div class="m-b-sm  m-t-md">
                    <div *ngFor="let m of meeting">
                      <p class="m-l-md">
                        <a href="/sdo/meeting/#/app/meeting/agenda/{{m.agendaID}}" target="_blank">
                          {{instructionDocumentService.getMeetingType(m.meetingType,
                          dicts.meetingTypes).meetingFullName}}
                          №{{m.meetingNumber}} от {{m.meetingDate | date:'dd.MM.yyyy'}}
                          <span *ngFor="let m of meetingQuestion">Вопрос №{{m.itemNumber}}</span>
                        </a>
                      </p>
                      <p class="m-l-md" *ngFor="let m of meetingQuestion">
                        {{m.question}}
                      </p>
                    </div>
                  </div>
                </div>
              </cdp-expanded-section>
              <cdp-expanded-section [(expand)]="memoExpanded"
                *ngIf="document.instruction.memoView && document.instruction.memoId">
                <span header-slot style="display:inline;">Служебная записка</span>
                <div content-slot>
                  <div class="description">
                    <dl class="dl-horizontal m-l-md  m-t-md">
                      <dt><span>Номер</span></dt>
                      <dd>
                        <a *ngIf="!(document.receivedFromMKA && document.receivedFromMKA.FromMKA)" uiSref="app.instruction.memo-card" [uiParams]="{id: memo.documentId}">{{memo.number}}</a>
                        <a *ngIf="document.receivedFromMKA && document.receivedFromMKA.FromMKA" uiSref="app.instruction.memo-card" [uiParams]="{id: memo.documentId}">{{memo.number}}</a>
                      </dd>
                      <dt><span>Дата</span></dt>
                      <dd><span>{{memo.beginDate | date:'dd.MM.yyyy'}}</span>
                      </dd>
                      <dt><span>Тема</span></dt>
                      <dd><span style="white-space:pre-wrap;">{{memo.content}}</span>
                      </dd>
                    </dl>
                  </div>
                </div>
              </cdp-expanded-section>
              <cdp-expanded-section [(expand)]="memoMKAExpanded" *ngIf="document.instruction.memoMKAID">
                <span header-slot style="display:inline;">Служебная записка МКА</span>
                <div content-slot>
                  <div class="description">
                    <dl class="dl-horizontal m-l-md  m-t-md">
                      <dt><span>Номер</span></dt>
                      <dd><a uiSref="app.instruction.memomka-card" [uiParams]="{id: memoMKA.documentId}">{{memoMKA.number}}</a>
                      </dd>
                      <dt><span>Дата</span></dt>
                      <dd><span>{{memoMKA.beginDate | date:'dd.MM.yyyy'}}</span>
                      </dd>
                      <dt><span>Тема</span></dt>
                      <dd><span style="white-space:pre-wrap;">{{memoMKA.content}}</span>
                      </dd>
                    </dl>
                  </div>
                </div>
              </cdp-expanded-section>
              <cdp-expanded-section [(expand)]="commentExpanded">
                <span header-slot style="display:inline;">Поручение</span>
                <div content-slot>
                  <div class="m-t-md">
                    <div class="description">
                      <dl class="dl-horizontal m-l-md">
                        <dt *ngIf="previousDocument"><span>Предыдущее поручение</span></dt>
                        <dd *ngIf="previousDocument">
                          <a uiSref="app.instruction.instruction-card" [uiParams]="{id: previousDocument.documentId}" target="_blank">{{previousDocument.title}}</a>
                        </dd>
                        <dt *ngIf="document.instruction?.coExecutor?.length">
                          <span>Соисполнители</span></dt>
                        <dd *ngIf="document.instruction?.coExecutor?.length">
                          <div *ngFor="let e of document.instruction.coExecutor">{{e.fioFull}}
                          </div>
                        </dd>
                        <dt *ngIf="document?.forInformation?.length">
                          <span>К сведению</span></dt>
                        <dd *ngIf="document?.forInformation?.length">
                          <div *ngFor="let e of document.forInformation">{{e.reviewBy.fioFull}}
                          </div>
                        </dd>
                        <dt *ngIf="document.instruction.description">
                          <span>Описание поручения</span></dt>
                        <dd *ngIf="document.instruction.description"><span
                            style="white-space:pre-wrap; word-break: break-all;">{{document.instruction.description}}</span>
                        </dd>
                        <dt *ngIf="document.instruction.theme?.name"><span>Рубрикатор</span></dt>
                        <dd *ngIf="document.instruction.theme?.name">
                          {{document.instruction.theme?.name}}
                        </dd>
                        <dt *ngIf="document.instruction.private !== null"><span>Личное поручение</span></dt>
                        <dd *ngIf="document.instruction.private !== null">
                          {{(document.instruction.private)
                          ? 'да' : 'нет'}}
                        </dd>
                        <dt *ngIf="files?.length"><span>Файлы</span></dt>
                        <dd *ngIf="files?.length">
                          <div *ngFor="let f of files">
                            <cdp-ex-file [fileInfo]="f" [showSize]="true" [showDate]="true" [checkSign]="true"
                                         [downloadBaseHref]="'/filestore'">
                            </cdp-ex-file>
                          </div>
                        </dd>
                        <dt *ngIf="document.instruction.priority.name"><span>Приоритет</span></dt>
                        <dd *ngIf="document.instruction.priority.name">
                          {{document.instruction.priority.name}}
                        </dd>
                        <dt *ngIf="document.instruction.difficulty.name"><span>Сложность</span>
                        </dt>
                        <dd *ngIf="document.instruction.difficulty.name">
                          {{document.instruction.difficulty.name}}
                        </dd>
                        <dt *ngIf="document.instruction.factDate"><span>Дата закрытия</span></dt>
                        <dd *ngIf="document.instruction.factDate">
                          {{document.instruction.factDate | date:'dd.MM.yyyy'}}
                        </dd>
                        <dt *ngIf="document.removeBase"
                          [hidden]="!(document.statusId.code === 'notExecuted' || document.statusId.code === 'refused')">
                          <span>Причина снятия поручения</span></dt>
                        <dd *ngIf="document.removeBase"
                          [hidden]="!(document.statusId.code === 'notExecuted' || document.statusId.code === 'refused')">
                          {{document.removeBase}}
                        </dd>
                        <dt><span>Предоставить материалы</span></dt>
                        <dd>
                          <span *ngIf="document.filesRequired">Да</span>
                          <span *ngIf="!document.filesRequired">Нет</span>
                        </dd>
                      </dl>
                    </div>
                  </div>
                  <h4 class="m-l-md" *ngIf="document.instruction.cadastral && document.instruction.cadastral.author">
                    Проверка территориальной зоны</h4>
                  <div class="description m-t-sm"
                    *ngIf="document.instruction.cadastral && document.instruction.cadastral.author">
                    <dl class="dl-horizontal m-l-md">
                      <dt *ngIf="cadastralAuthor"><span>Запрос от</span></dt>
                      <dd>
                        <div *ngIf="cadastralAuthor">{{cadastralAuthor}}</div>
                      </dd>
                      <dt *ngIf="document.instruction.cadastral.request">
                        <span>Номер обращения</span></dt>
                      <dd *ngIf="document.instruction.cadastral.request"><span
                          style="white-space:pre-wrap;">{{document.instruction.cadastral.request}}</span>
                      </dd>
                      <dt *ngIf="document.instruction.cadastral.count">
                        <span>Количество территориальных зон </span>
                      </dt>
                      <dd *ngIf="document.instruction.cadastral.count">
                        {{document.instruction.cadastral.count}}
                      </dd>
                    </dl>
                  </div>
                </div>
              </cdp-expanded-section>
              <cdp-expanded-section [(expand)]="commentExpanded">
                <span header-slot style="display:inline;">Комментарии</span>
                <div content-slot>
                  <mggt-order-comments [document]="document"></mggt-order-comments>
                </div>
              </cdp-expanded-section>
              <cdp-expanded-section [(expand)]="resultExpanded" *ngIf="document?.result && document?.result?.length">
                <span header-slot style="display:inline;">Исполнение</span>
                <div content-slot>
                  <mggt-order-results [document]="document"></mggt-order-results>
                  <div class="description"
                    *ngIf="document.instruction.cadastral && document.instruction.cadastral.author">
                    <dl class="dl-horizontal m-l-md">
                      <dt *ngIf="document.instruction.cadastral.checked"><span>Количество территориальных зон успешно
                          прошедших проверку </span>
                      </dt>
                      <dd *ngIf="document.instruction.cadastral.checked">
                        {{document.instruction.cadastral.checked}}
                      </dd>
                    </dl>
                  </div>
                </div>
              </cdp-expanded-section>
            </div>
            <div *ngIf="isActive(1)">
              <mggt-order-subtasks-doc [dicts]="dicts" [subTasks]="subTasks"></mggt-order-subtasks-doc>
            </div>
            <div class="m-t-md" *ngIf="isActive(2)">
              <mggt-order-subtasks-doc [dicts]="dicts" [subTasks]="linked"></mggt-order-subtasks-doc>
            </div>
            <div class="m-t-md" *ngIf="isActive(3)">
              <cdp-bpm-process-manager [config]="processManagerConfig"></cdp-bpm-process-manager>
            </div>
            <div class="m-t-md" *ngIf="isActive(8)">
              <mggt-order-for-information [document]="document"></mggt-order-for-information>
            </div>
            <div class="m-t-md" *ngIf="isActive(9)">
              <mggt-order-coexecutor [document]="document"></mggt-order-coexecutor>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>
