<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">
      <div *blockUI="'approveMemo'">
        <h2 class="m-b-md">
          {{document.memoKind.name}}<br *ngIf="document.memoKind.name" />
          <a uiSref="app.instruction.memo-card" [uiParams]="{ id: document.documentId }">
            {{document.content}}
          </a>
        </h2>

        <h4>Информация</h4>
        <div class="description">
          <dl class="dl-horizontal">
            <dt *ngIf="document.creator"><span>Кто подписал</span></dt>
            <dd *ngIf="document.creator">{{document.creator.fioFull}}</dd>

            <dt *ngIf="document.recipient"><span>Исполнитель</span></dt>
            <dd *ngIf="document.recipient">{{document.recipient.fioFull}}</dd>

            <dt><span>Срок рассмотрения</span></dt>
            <dd>{{document.reportTermDoc.reportTerm.name}}</dd>

            <dt *ngIf="document.executor"><span>Кому</span></dt>
            <dd *ngIf="document.executor">
              <span *ngFor="let executor of document.executor; let i = index"><span *ngIf="i">,
                </span>{{executor.fioFull}}</span>
            </dd>

            <dt *ngIf="document.attachedFile && document.attachedFile.length > 0">
              <span>Дополнительные материалы</span>
            </dt>
            <dd *ngIf="document.attachedFile && document.attachedFile.length > 0">
              <div *ngFor="let f of document.attachedFile">
                <cdp-ex-file [fileInfo]="f" [showSize]="true" [showDate]="true" [checkSign]="true"
                  [downloadBaseHref]="'/filestore'">
                </cdp-ex-file>
              </div>
            </dd>

            <dt *ngIf="document.description"><span>Текст</span></dt>
            <dd *ngIf="document.description" style="cursor: pointer;">
              <div
                style="width: 300px; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;"
                *ngIf="!isFullDescription" (click)="toggleDescription()">
                {{document.description}}
              </div>
              <div *ngIf="isFullDescription" style="width: 300px;" (click)="toggleDescription()">
                {{document.description}}
              </div>
            </dd>

            <dt *ngIf="document.headingTopic.name"><span>Тема рубрики</span></dt>
            <dd *ngIf="document.headingTopic.name">{{document.headingTopic.name}}</dd>

            <dt *ngIf="document.activityKind.name"><span>Вид деятельности Треста</span></dt>
            <dd *ngIf="document.activityKind.name">{{document.activityKind.name}}</dd>

            <dt *ngIf="document.privacy"><span>Конфиденциальность</span></dt>
            <dd *ngIf="document.privacy">{{document.privacy.name}}</dd>

            <dt *ngIf="document.assistant"><span>Карточку создал</span></dt>
            <dd *ngIf="document.assistant">{{document.assistant.fioFull}}</dd>

            <span class="form-inline" (mouseover)="getAlt(document.limitedAccess,'hint', true)" (mouseout)="getAlt(document.limitedAccess,'hint')">
              <dt><span>Ограниченный доступ</span></dt>
              <dd>{{document.limitedAccess? 'Да' : 'Нет'}}</dd>
            </span>

            <div id="hint" class="hint">
              {{document.limitedAccess? 'Документ доступен только участникам процесса' : ''}}
            </div>

          </dl>
        </div>

        <div class="description">
          <dl class="dl-horizontal">
            <dt *ngIf="relatedMemos.length">Связанные документы</dt>
            <dd *ngIf="relatedMemos.length">
              <div *ngFor="let relatedMemo of relatedMemos">
                <a uiSref="app.instruction.memo-card" [uiParams]="{ id: relatedMemo.documentId }">
                  {{relatedMemo.memoKind ? relatedMemo.memoKind.name : ''}} № {{relatedMemo.number}} от
                  {{relatedMemo.beginDate | date:'dd.MM.yyyy'}}
                </a>
              </div>
            </dd>

            <dt *ngIf="document.note">Примечание</dt>
            <dd *ngIf="document.note">
              <span style="white-space:pre-wrap;">{{document.note}}</span>
            </dd>
          </dl>
        </div>

        <hr />

        <div class="m-b-sm" cdp-is-auth="SDO_LINK_LINK_VIEW">
          <cdp-expanded-section [expand]="showLinkedElements">
            <span header-slot style="display:inline;">Связанные элементы</span>
            <div content-slot>
              <div class="m-t-md">
                <sdo-linked-elements [docId]="document.documentId"
                                     [docType]="'SDO_INSTRUCTION_MEMO'"
                                     [subsystemCode]="'SDO_INSTRUCTION'"
                                     [mode]="'view'"></sdo-linked-elements>
              </div>
            </div>
          </cdp-expanded-section>
        </div>

        <hr />

        <div class="hidden-xs hidden-sm">
          <h4 class="m-t">Лист согласования</h4>
          <mggt-approval-list [list]="approvalCycleCopy"></mggt-approval-list>
        </div>
        <div class="visible-xs visible-sm">
          <cdp-expanded-section [expand]="showApprovalList">
            <span header-slot style="display:inline;">
              Лист согласования
            </span>
            <div content-slot>
              <mggt-approval-list [list]="approvalCycleCopy"></mggt-approval-list>
            </div>
          </cdp-expanded-section>
        </div>


        <div class="m-b-md">
          <h4 class="m-t">Проект cлужебной записки</h4>
          <cdp-ex-file-manager [files]="draftFiles" [showSize]="true" [showDate]="true"
            [folderGuid]="document.folderId" [checkSign]="true" [downloadBaseHref]="'/filestore'">
          </cdp-ex-file-manager>
        </div>

        <div style="display: none">
          <cdp-ex-file-manager [files]="document.draftFiles" [showSize]="false" [showDate]="false"
            [(openSignDialog)]="openSignDialog" [signable]="true" [(signMobile)]="openMobileSignDialog"
            [folderGuid]="document.folderId" [afterSign]="afterSign" [downloadBaseHref]="'/filestore'">
          </cdp-ex-file-manager>
        </div>

        <div style="display: none">
          <cdp-ex-file-manager [files]="[tempDraftFile]" [showSize]="false" [showDate]="false"
            [(openSignDialog)]="openApproveDialog" [signable]="true" [(signMobile)]="openMobileApproveDialog"
            [folderGuid]="document.folderId" [afterSign]="afterApproveSign" [beforeSign]="beforeApproveSign"
            [downloadBaseHref]="'/filestore'">
          </cdp-ex-file-manager>
        </div>

        <mggt-approval-list-history [approvalHistory]="document.approvalHistory"></mggt-approval-list-history>

        <h4 class="m-t">Ваше решение</h4>
        <form class="form-horizontal">
          <div class="row m-b-md">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">Комментарий</label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <textarea class="form-control" [(ngModel)]="approvalNote" name="approvalNote" rows="3"></textarea>
            </div>
          </div>
          <div class="row m-b-md">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">Файл</label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <cdp-ex-file-manager [(files)]="files" [openable]="true" [baseMode]="!document.folderId"
                [deletable]="true" [fileType]="'default'" [downloadable]="true" [folderGuid]="document?.folderId"
                [downloadBlank]="true" [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
            </div>
          </div>
          <div class="row m-b-md">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
            <div class="col-lg-7 col-md-8 col-sm-9 control-block">

              <button type="button" *ngIf="((checkSign == 'all' || checkSign == 'plugin') && isAgreed) || isAssent"
                class="btn btn-sm btn-success m-r-sm" (click)="isMobile = false; agreeAndSendForward()" [ladda]="agreeing"
                data-spinner-size="18" data-spinner-color="#FFFFFF" data-style="expand-right"
                [disabled]="approving || sendingBackToWork || addingApprovals">
                <i class="fa m-r-xs fa fa-laptop" *ngIf="!isAssent"></i>Согласовано
              </button>

              <button type="button" *ngIf="((checkSign == 'all' || checkSign == 'dss') && isAgreed)"
                      class="btn btn-sm btn-success m-r-sm" (click)="isMobile = true; agreeAndSendForward()" [ladda]="agreeing"
                      data-spinner-size="18" data-spinner-color="#FFFFFF" data-style="expand-right"
                      [disabled]="approving || sendingBackToWork || addingApprovals">
                <i class="fa m-r-xs fa fa-mobile"></i>Согласовано
              </button>
              <!--
              <button type="button" *ngIf="((checkSign == 'all' || checkSign == 'dss') && isAgreed)"
                class="btn btn-sm btn-success m-r-sm hidden-xs" (click)="isMobile = true; agreeAndSendForward()" [ladda]="agreeing"
                data-spinner-size="18" data-spinner-color="#FFFFFF" data-style="expand-right"
                [disabled]="approving || sendingBackToWork || addingApprovals">
                <i class="fa m-r-xs fa fa-mobile"></i>Согласовано
              </button>
               -->
              <button type="button" *ngIf="(checkSign == 'all' || checkSign == 'plugin') && isApproval"
                class="btn btn-sm btn-success m-r-sm" (click)="isMobile = false; approveAndSendForward()" [ladda]="approving"
                data-spinner-size="18" data-spinner-color="#FFFFFF" data-style="expand-right"
                [disabled]="sendingBackToWork || agreeing || addingApprovals">
                <i class="fa m-r-xs fa fa-laptop"></i>Утверждаю
              </button>
              <button type="button" *ngIf="(checkSign == 'all' || checkSign == 'dss') && isApproval"
                class="btn btn-sm btn-success m-r-sm" (click)="isMobile = true; approveAndSendForward()" [ladda]="approving"
                data-spinner-size="18" data-spinner-color="#FFFFFF" data-style="expand-right"
                [disabled]="sendingBackToWork || agreeing || addingApprovals">
                <i class="fa m-r-xs fa fa-mobile"></i>Утверждаю
              </button>

              <button type="button" *ngIf="checkSign == 'none' && (isAgreed || isApproval)"
                class="btn btn-sm btn-success  m-r-sm" [disabled]="true">
                <i class="fa m-r-xs"></i>Обратитесь к администратору
              </button>

              <button type="button" class="btn btn-sm btn-danger m-r-sm" (click)="sendBackToWork()"
                [ladda]="sendingBackToWork" data-spinner-size="18" data-spinner-color="#FFFFFF"
                data-style="expand-right" [disabled]="agreeing || approving || addingApprovals">
                <i class="fa m-r-xs"></i>На доработку
              </button>


              <button type="button" class="btn btn-sm m-r-sm light-gray" (click)="addApproval()" *ngIf="isAllowedAddingApprovals"
                cdp-is-auth="INSTRUCTION_MEMO_ADD_APPROVE" [disabled]="agreeing || approving || addingApprovals">
                <i class="fa m-r-xs"></i>Добавить согласующего
              </button>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div error>
    <div style="height: 200px; padding-top: 70px;">
      <h3 class="text-center"><i class="fa fa-exclamation-triangle text-warning"></i>&nbsp;Ошибка при формировании
        карточки задачи</h3>
    </div>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>
