<div class="ibox-content no-top-border" style="padding-top: 0;">
  <div style="display: flex;">
    <div class="pull-left" style="width: 50%">
      <div class="btn-group" dropdown style="width: 100%">
        <button class="btn btn-white dropdown-toggle" id="mobile-sort-btn" type="button"
          aria-controls="mobile-sorting-dropdown" dropdownToggle style="width: 100%">
          <span class="pull-left text-left">
            <span *ngIf="sortings[1].value === 'asc'">Сначала старые</span>
            <span *ngIf="sortings[1].value === 'desc'">Сначала новые</span>
            <span *ngIf="sortings[7].value === 'asc'">Срок исполнения <i class="fa fa-caret-up"></i></span>
            <span *ngIf="sortings[7].value === 'desc'">Срок исполнения <i class="fa fa-caret-down"></i></span>
          </span>
          <span class="icon-right fa fa-sort"></span>
        </button>
        <ul class="dropdown-menu animated fadeIn" id="mobile-sorting-dropdown" *dropdownMenu role="menu"
          aria-labelledby="mobile-sort-btn">
          <li role="menuitem" *ngFor="let sort of mobileSortings"
            [class]="sortings[sort.id].value === sort.direction ? 'active' : ''">
            <a class="dropdown-item" (click)="mobileChangeSorting(sort)">{{sort.name}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="btn-group pull-right" style="margin-left: 5px; width: 50%;">
      <button type="button" (click)="extSearchCollapsed = !extSearchCollapsed;"
        [class]="filtersCount > 0 ? 'btn btn-white btn-block highlight' : 'btn btn-white btn-block'"
        id="mobile-filter-btn">
        <span class="pull-left text-left">
          Фильтры
        </span>
        <span class="badge label-primary pull-right" *ngIf="filtersCount > 0">{{filtersCount}}</span>
      </button>
    </div>
  </div>
  <div class="animated fadeIn" [hidden]="extSearchCollapsed">
    <div style="display: flex;" class="m-t-sm">
      <div class="pull-left" style="width: 50%;"></div>
      <div class="pull-right" style="width: 50%; margin-left: 5px;">
        <button class="btn btn-white btn-block" style="font-size: 12px;" (click)="mobileClearFilters()">
          Очистить все
        </button>
      </div>
    </div>
    <div class="row m-t-sm">
      <div class="col-xs-12">
        <div class="form-group">
          <label>Статус</label>
          <ng-select name="conditionInst" [items]="dicts.statuses" [multiple]="true" [closeOnSelect]="true"
            [hideSelected]="true" bindLabel="name" [(ngModel)]="filter.conditionInst" (change)="mobileFilterChange()">
          </ng-select>
        </div>
        <div class="form-group">
          <label>Автор поручения</label>
          <mggt-mobile-select [(model)]="filter.creatorLogInst" [name]="'creatorLogInst'" [items]="authors"
            [attr]="'displayName'" (modelChanged)="filter.creatorLogInst = $event; mobileFilterChange()"
            (onInputChanged)="solicitorSearch($event)"></mggt-mobile-select>
        </div>
        <div class="form-group">
          <label>Личное поручение</label>
          <div>
            <input cdp-icheck type="checkbox" (ngModelChange)="mobileFilterChange()" [(ngModel)]="filter.privateInst"
              name="privateInst">
          </div>
        </div>
        <div class="form-group">
          <label>Карточку создал</label>
          <mggt-mobile-select [(model)]="filter.assistantLogInst" [name]="'assistantLogInst'" [items]="assistants"
            [attr]="'displayName'" (modelChanged)="filter.assistantLogInst = $event; mobileFilterChange()"
            (onInputChanged)="solicitorSearch($event)"></mggt-mobile-select>
        </div>
        <div class="form-group">
          <label>Дата поручения</label>
          <div class="input-group date-range">
            <input type="date" class="form-control" [(ngModel)]="filter.docDateInst.from"
              (change)="mobileFilterChange()" value="2012-10-08" name="docDateInstFrom">
            <div class="input-group-addon">&ndash;</div>
            <input type="date" class="form-control" [(ngModel)]="filter.docDateInst.to" (change)="mobileFilterChange()"
              name="docDateInstTo">
          </div>
        </div>
        <div class="form-group">
          <label>Рубрикатор</label>
          <ng-select name="themeInst" [items]="dicts.themes" [multiple]="true" [closeOnSelect]="true"
            [hideSelected]="true" bindLabel="name" [(ngModel)]="filter.themeInst" (change)="mobileFilterChange()">
          </ng-select>
        </div>
        <div class="form-group">
          <label>Содержание поручения</label>
          <input (blur)="mobileFilterChange()" (keyup.enter)="mobileFilterChange()" class="form-control"
            [(ngModel)]="filter.contentInst" name="contentInst">
        </div>
        <div class="form-group">
          <label>Описание поручения</label>
          <input (blur)="mobileFilterChange()" (keyup.enter)="mobileFilterChange()" class="form-control"
            [(ngModel)]="filter.descriptionInst" name="descriptionInst">
        </div>
        <div class="form-group">
          <label>Приоритет</label>
          <ng-select name="priorityInst" [items]="dicts.priorities" [multiple]="true" [closeOnSelect]="true"
            [hideSelected]="true" bindLabel="name" [(ngModel)]="filter.priorityInst" (change)="mobileFilterChange()">
          </ng-select>
        </div>
        <div class="form-group">
          <label>Сложность</label>
          <ng-select name="difficultyInst" [items]="dicts.difficulties" [multiple]="true" [closeOnSelect]="true"
            [hideSelected]="true" bindLabel="name" [(ngModel)]="filter.difficultyInst" (change)="mobileFilterChange()">
          </ng-select>
        </div>
        <div class="form-group">
          <label>Срок исполнения</label>
          <div class="input-group date-range">
            <input type="date" class="form-control" [(ngModel)]="filter.planDateInst.from"
              (change)="mobileFilterChange()" name="planDateInstFrom">
            <div class="input-group-addon">&ndash;</div>
            <input type="date" class="form-control" [(ngModel)]="filter.planDateInst.to" (change)="mobileFilterChange()"
              name="planDateInstTo">
          </div>
        </div>
        <div class="form-group">
          <label>Ответственный исполнитель</label>
          <mggt-mobile-select [(model)]="filter.executorLogInst" [name]="'executorLogInst'" [items]="executors"
            [attr]="'displayName'" (modelChanged)="filter.executorLogInst = $event; mobileFilterChange()"
            (onInputChanged)="solicitorSearch($event)"></mggt-mobile-select>
        </div>
        <div class="form-group">
          <label>Соисполнители</label>
          <mggt-mobile-select [(model)]="filter.coExecutorsLogInst" [name]="'coExecutorsLogInst'" [items]="coExecutors"
            [attr]="'displayName'" (modelChanged)="filter.coExecutorsLogInst = $event; mobileFilterChange()"
            (onInputChanged)="solicitorSearch($event)"></mggt-mobile-select>
        </div>
        <div class="form-group">
          <label>К сведению</label>
          <mggt-mobile-select [(model)]="filter.forInformationLogin" [name]="'forInformationLogin'"
            [items]="forInformationLogins" [attr]="'displayName'"
            (modelChanged)="filter.forInformationLogin = $event; mobileFilterChange()"
            (onInputChanged)="solicitorSearch($event)"></mggt-mobile-select>
        </div>

      </div>
    </div>
    <div style="display: flex;">
      <div class="pull-left" style="width: 50%;"></div>
      <div class="pull-right" style="width: 50%; margin-left: 5px;">
        <button class="btn btn-white btn-block" style="font-size: 12px;" (click)="mobileClearFilters()">
          Очистить все
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="isLoading" style="height: 50px;" class="m-t-sm text-center">
    <cdp-spinner style="margin:5px;" [type]="'three-bounce'"></cdp-spinner>
  </div>
</div>

<div *ngIf="!isLoading">

  <div class="ibox-content">
    <p style="margin: 0; font-size: 14px;">Найдено — <b>{{searchResult?.numFound}}</b>
    </p>
  </div>

  <div class="ibox-content" *ngIf="searchResult?.numFound === 0">
    <span class="text-warning" style="font-size: 20px">Ничего не найдено</span>
  </div>

  <div *ngIf="searchResult?.docs" (click)="saveLink(d.documentId)">
    <div class="ibox-content" *ngFor="let d of searchResult.docs">
      <a uiSref="app.instruction.instruction-card" [uiParams]="{id: d.documentId}" (click)="saveLink(d.documentId)" class="virtual-link">
        <div class="row">
          <div class="col-xs-12 m-b-xs">
            <div class="pull-left">
              <span *ngIf="d.docDateInst" class="mobile-task-date">{{d.docDateInst | date: 'dd.MM.yyyy'}}</span>
            </div>
            <div class="pull-right mobile-task-date">
              <div *ngIf="d.planDate" [class]="d.isOverdue ? 'text-danger font-bold' : ''" style="display: flex;">
                <span>Срок:&nbsp;</span>
                <span>{{d.planDate | date: 'dd.MM.yyyy HH:mm'}} <span *ngIf="d.primaryDate">(перенесено с
                  {{d.primaryDate | date: 'dd.MM.yyyy HH:mm'}})</span></span>
                <i *ngIf="d.isOverdue" class="fa fa-exclamation-circle text-danger m-l-xs"
                   style="line-height: inherit"></i>
              </div>
            </div>
          </div>
          <div class="col-xs-12 m-b-xs">
            <span class="text-{{d.priorityColor}}">{{d.priorityName}} приоритет</span>
          </div>
          <div class="col-xs-12 m-b-xs">
          <span class="mobile-instruction-title" style="word-break: break-all;">
            <span *ngIf="d.confident === 'true'">
              <i class="fa fa-handshake-o"></i>&nbsp;</span>{{d.content}}
          </span>
          </div>
          <div class="col-xs-12 m-b-xs">
            <table>
              <tr *ngFor="let cell of contentTable">
                <td style="vertical-align: baseline;">{{cell.title}}:&nbsp;</td>
                <td>{{cell.fn(d[cell.id])}}</td>
              </tr>
            </table>
          </div>
          <div class="col-xs-12">
            <span class="label label-{{d.statusColor}}">{{d.statusName}}</span>
          </div>
        </div>
      </a>
    </div>
  </div>


  <div class="ibox-content" *ngIf="searchResult?.numFound > 20">
    <p class="text-muted text-center" *ngIf="!appendBlock && isDocsLoaded" style="font-size: 14px;"><i
        class="fa fa-info-circle"> Поручений больше нет</i></p>
    <button id="loadingButton" [hidden]="appendBlock" class="btn btn-default btn-block" (click)="mobileLoadMore()"
      inview inview-show-fn="mobileLoadMore()">
      Загрузить еще
    </button>
    <span [hidden]="!appendBlock">
      <cdp-spinner style="margin:5px;" [type]="'three-bounce'"></cdp-spinner>
    </span>
  </div>
</div>
