<div class="m-t-md">

  <div class="description" *ngIf="$localStorage.isMobile !== true">
    <table class="table animated fadeIn m-t-sm">
      <thead>
        <tr>
          <th>ФИО ознакомленного</th>
          <th>Плановая дата ознакомления</th>
          <th>Фактическая дата ознакомления</th>
          <th>Комментарий</th>
        </tr>
      </thead>
      <tbody *ngIf="isRepeated">
        <ng-container *ngFor="let h of forInformGroups">
          <tr>
            <td colspan="4">
              <div (click)="h.expand = !h.expand" style="cursor: pointer">
                <i class="fa m-r-sm" [ngClass]="{
                  'fa-caret-down': h.expand,
                  'fa-caret-right': !h.expand
                }"></i>
                <b>{{h.title}}</b>
              </div>
            </td>
          </tr>
          <ng-container *ngIf="h.expand">
            <tr *ngFor="let item of h.forInformation">
              <td>
                {{item.reviewBy.fioFull}}
                <br />
                <span *ngIf="item.factReviewBy && item.factReviewBy.login && item.factReviewBy.login !== item.reviewBy.login">({{item.factReviewBy.fioFull}})</span>
              </td>
              <td>
                {{item.reviewPlanDate | date:'dd.MM.yyyy'}}
              </td>
              <td>
                {{item.reviewFactDate | date:'dd.MM.yyyy'}}
              </td>
              <td>
                {{item.reviewNote}}
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
      <tbody *ngIf="!isRepeated">
        <tr *ngFor="let item of document.forInformation">
          <td>
            {{item.reviewBy.fioFull}}
            <br />
            <span *ngIf="item.factReviewBy && item.factReviewBy.login && item.factReviewBy.login !== item.reviewBy.login">({{item.factReviewBy.fioFull}})</span>
          </td>
          <td>
            {{item.reviewPlanDate | date:'dd.MM.yyyy'}}
          </td>
          <td>
            {{item.reviewFactDate | date:'dd.MM.yyyy'}}
          </td>
          <td>
            {{item.reviewNote}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="description" *ngIf="$localStorage.isMobile === true">
    <div *ngIf="isRepeated">
      <ng-container *ngFor="let h of forInformGroups">
        <div (click)="h.expand = !h.expand" style="cursor: pointer">
          <i class="fa m-r-sm" [ngClass]="{'fa-caret-down': h.expand, 'fa-caret-right': !h.expand}"></i>
          <b>{{h.title}}</b>
        </div>
        <ng-container *ngIf="h.expand">
          <div *ngFor="let e of h.forInformation" class="m-b-md">
            {{item.reviewNote}}
            <div class="m-t-xs m-l-sm">
              <i>
                {{item.reviewBy.fioFull}}
                {{item.reviewFactDate ? ' от ' : ''}}
                {{item.reviewFactDate | date:'dd.MM.yyyy'}}
              </i>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <div *ngIf="!isRepeated">
      <div *ngFor="let item of document.forInformation" class="m-b-md">
        {{item.reviewNote}}
        <div class="m-t-xs m-l-sm">
          <i>
            {{item.reviewBy.fioFull}}
            {{item.reviewFactDate ? ' от ' : ''}}
            {{item.reviewFactDate | date:'dd.MM.yyyy'}}
          </i>
        </div>
      </div>
    </div>
  </div>

</div>
