<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">
      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label">Вид<span class="our-mandatory">*</span></label>
        <div class="col-lg-7 col-md-8 col-sm-9">
          <ng-select name="memoKind" [items]="memoKinds" [multiple]="false" [closeOnSelect]="true" [hideSelected]="true"
            bindLabel="name" bindValue="code" [required]="true" [(ngModel)]="memoKindName"
            (change)="memoKindChanged($event)">
          </ng-select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
          От кого <span ng-show="!model.creator" class="our-mandatory">*</span>
        </label>
        <div class="col-lg-7 col-md-8 col-sm-9">
          <mggt-select-ldap-users [(model)]="model.creator" [multiple]="false" [placeholder]="'Автор'" [disabled]="edit"></mggt-select-ldap-users>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
          Карточку создал
        </label>
        <div class="col-lg-7 col-md-8 col-sm-9">
          <input class="form-control" disabled="true" type="text" [(ngModel)]="model.assistant.displayName"
            name="assistant">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
          Кому <span [hidden]="!model.memoKind || (model.memoKind && model.memoKind.code !== '16')"
            class="our-mandatory">*</span>
        </label>
        <div class="col-lg-7 col-md-8 col-sm-9">
          <mggt-select-ldap-users [(model)]="model.executor" [multiple]="true" [placeholder]="'Кому'" [disabled]="edit">
          </mggt-select-ldap-users>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
          Исполнитель <span [hidden]="!model.memoKind || (model.memoKind && model.memoKind.code !== '16')"
            class="our-mandatory">*</span>
        </label>
        <div class="col-lg-7 col-md-8 col-sm-9">
          <mggt-select-ldap-users [(model)]="model.recipient" [multiple]="false" [placeholder]="'Исполнитель'"
            [disabled]="edit"></mggt-select-ldap-users>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
          Группа адресатов
        </label>
        <div class="col-lg-7 col-md-8 col-sm-9">
          <ng-select name="recipientGroup" [items]="emailGroups" [multiple]="false" [closeOnSelect]="true"
            [hideSelected]="true" bindLabel="name" bindValue="code" [(ngModel)]="recipientGroupName"
            (change)="recipientGroupChanged($event)"></ng-select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
          Содержание <span class="our-mandatory">*</span>
        </label>
        <div class="col-lg-7 col-md-8 col-sm-9">
          <textarea class="form-control our-control" name="documentContent" rows="2" [(ngModel)]="model.content"
            required=""></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label"> Текст </label>
        <div class="col-lg-7 col-md-8 col-sm-9">
          <textarea class="form-control our-control" rows="5" [(ngModel)]="model.description"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
          Тема рубрики
        </label>
        <div class="col-lg-7 col-md-8 col-sm-9">
          <ng-select name="headingTopic" [placeholder]="'Тема рубрики'" [items]="memoHeadingTopics" [multiple]="false"
            [closeOnSelect]="true" [hideSelected]="true" bindLabel="name" bindValue="code"
            [(ngModel)]="headingTopicName" (change)="headingTopicChanged($event)">
          </ng-select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
          Вид деятельности треста
        </label>
        <div class="col-lg-7 col-md-8 col-sm-9">
          <ng-select name="activityKind" [placeholder]="'Вид деятельности треста'" [items]="memoTrestActivityKinds"
            [multiple]="false" [closeOnSelect]="true" [hideSelected]="true" bindLabel="name" bindValue="code"
            [(ngModel)]="activityKindName" (change)="activityKindChanged($event)">
          </ng-select>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
        </label>
        <div class="col-lg-7 col-md-8 col-sm-9">
          <h4 class="m-t">Связанные документы</h4>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
          СДО
        </label>
        <div class="col-lg-7 col-md-8 col-sm-9">
          <input class="form-control" type="text" [(ngModel)]="model.relateId" name="relateId">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
          Внешние
        </label>
        <div class="col-lg-7 col-md-8 col-sm-9">
          <input class="form-control" type="text" [(ngModel)]="model.externalRelation" name="externalRelation">
        </div>
      </div>
      <hr>
      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
        <div class="col-lg-7 col-md-8 col-sm-9">
          <h4 class="m-t ng-select">Лист согласования <button class="ng-arrow-wrapper" style="border: none"
              (click)="listCollapsed = !listCollapsed"><span class="ng-arrow"></span></button></h4>
          <mggt-approval-list-edit [model]="model" [executive]="model.creator"
          [signingElectronically]="model.signingElectronically" [approvalTypes]="approvalTypes"
            [approvers]="approvers" [hidden]="listCollapsed"></mggt-approval-list-edit>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
          Дополнительные материалы
        </label>
        <div class="col-lg-7 col-md-8 col-sm-9">
          <cdp-ex-file-manager [(files)]="attachedFile" [fileType]="'default'" [extPattern]="'docx, doc, pdf'"
            [downloadable]="true" [deletable]="true" [downloadBlank]="true" [baseMode]="true" [showSize]="true"
            (onChanged)="addFile('attachedFile')"></cdp-ex-file-manager>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
          Проект СЗ (без приложения)
        </label>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <button (click)="createDraftFilesWithoutAtt()" class="btn btn-primary">
            Сформировать проект СЗ
          </button>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
        <div class="col-lg-7 col-md-8 col-sm-9">
          <cdp-ex-file-manager [(files)]="draftWithoutAtt" [fileType]="'default'" [folderGuid]="document?.folderId"
            [extPattern]="'docx, doc, pdf'" [downloadable]="true" [deletable]="true" [downloadBlank]="true"
            [openable]="true" [baseMode]="document?.folderId ? false : true" [showSize]="true"
            (onChanged)="addFile('draftWithoutAtt')"></cdp-ex-file-manager>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
          Приложение
        </label>
        <div class="col-lg-7 col-md-8 col-sm-9">
          <cdp-ex-file-manager [(files)]="attachment" [fileType]="'default'" [extPattern]="'docx, doc, pdf'"
            [downloadable]="!attachment.length" [deletable]="true" [downloadBlank]="true" [baseMode]="true"
            [showSize]="true" [maxNumberOfFiles]="1" (onChanged)="addFile('attachment')"></cdp-ex-file-manager>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
          Проект СЗ
        </label>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <button class="btn btn-primary" (click)="createDraftFiles()">
            Сформировать проект СЗ с приложением
          </button>
        </div>
      </div>

      <div class="form-group" *ngIf="draftFiles">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
        <div class="col-lg-7 col-md-8 col-sm-9">
          <cdp-ex-file-manager [(files)]="draftFiles" [fileType]="'default'" [extPattern]="'docx, doc, pdf'"
            [deletable]="true" [showSize]="true" [showDate]="true" [openable]="true"></cdp-ex-file-manager>
        </div>
      </div>
    </div>
  </div>
</cdp-loading-block>
