<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">
      <div *blockUI="'cardMemo'">
        <div class="clearfix">

          <div class="pull-left" *ngIf="!$localStorage.isMobile || memoType === 'memomka'">
            <h3>{{document.memoKind.name}} № {{document.number}} от {{document.beginDate | date: 'dd.MM.yyyy'}}</h3>
          </div>
          <div class="pull-left" *ngIf="$localStorage.isMobile && memoType !== 'memomka'">
            <h3>{{document.memoKind.name}}</h3>
            <h3>№ {{document.number}} от {{document.beginDate | date: 'dd.MM.yyyy'}}</h3>
          </div>
          <div class="pull-right order-card-menu">
            <mggt-memo-card-menu [document]="document" [dicts]="dicts" [instructions]="instructions"
              [instructionDicts]="instructionDicts" [initProcess]="init" [memoType]="memoType"
              [sdoLinksCount]="sdoLinksCount"></mggt-memo-card-menu>
          </div>
        </div>
        <h2 class="m-t-sm m-b-sm semibold" style="font-weight: 600;">{{document.content}}</h2>
        <div class="m-t-xs m-b-xs" *ngIf="memoType === 'memomka'">
          <span>Кто подписал: <span style="font-weight:600">{{document.creator.fioFull}}</span></span><br>
          <span>Карточку создал: <span style="font-weight:600">{{document.assistant.fioFull}}</span></span><br>
          <span>
            Кому: <span style="font-weight:600">
              <span *ngFor="let executor of document.executor; let i = index"><span *ngIf="i">,
                </span>{{executor.fioFull}}</span>
            </span>
          </span>
        </div>

        <div class="m-t-xs m-b-xs" *ngIf="memoType !== 'memomka'">
          <div class="clearfix">
            <div class="row">
              <div class="col-xs-5 col-md-2">
                Кто подписал:
              </div>
              <div class="col-xs-7 col-md-6">
                <span style="font-weight:600">{{document.creator.fioFull}}</span>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-5 col-md-2">
                Кому:
              </div>
              <div class="col-xs-7 col-md-6">
                <span style="font-weight:600">
                  <span *ngFor="let executor of document.executor; let i = index">
                    {{executor.fioFull}}<span *ngIf="i !== document.executor.length - 1">, </span>
                  </span>
                </span>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-5 col-md-2">
                Исполнитель:
              </div>
              <div class="col-xs-7 col-md-6">
                <span style="font-weight:600">{{document.recipient.fioFull}}</span>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-5 col-md-2">
                Карточку создал:
              </div>
              <div class="col-xs-7 col-md-6">
                <span style="font-weight:600">{{document.assistant.fioFull}}</span>
              </div>
            </div>

            <div class="row" (mouseover)="getAlt(document.limitedAccess,'hint', true)" (mouseout)="getAlt(document.limitedAccess,'hint')">
              <div class="col-xs-5 col-md-2">
                Ограниченный доступ:
              </div>
              <div class="col-xs-7 col-md-6">
                <span style="font-weight:600">{{document.limitedAccess? 'Да' : 'Нет'}}</span>
              </div>
            </div>

            <div id="hint" class="hint">
              {{document.limitedAccess? 'Документ доступен только участникам процесса' : ''}}
            </div>

          </div>
        </div>

        <div class="m-t-sm m-b-xs">
          <span class="label label-{{document.statusId.color}}">{{document.statusId.name}}</span>
        </div>
        <div *ngIf="files.length" style="margin-top: 15px;">
          <cdp-ex-file-manager [(files)]="files" [downloadable]="false" [showSize]="true" [deletable]="isDeletableFile"
            [checkSign]="true" [onRemove]="onDeleteScan.bind(this)" [downloadBaseHref]="'/filestore'">
          </cdp-ex-file-manager>
        </div>
        <div class="panel blank-panel">
          <div style="margin-top:20px;background-color:white;">
            <!-- Mobile tabs header -->
            <div class="visible-xs visible-sm">
              <ul class="nav nav-pills nav-stacked" id="mobile-nav-pills-stacked">

                <li (click)="onTabSelected(0)" [class]="hideOvers === false || isActive(0) ? '' : 'hidden'">
                  <a [class]="isActive(0) ? 'active-tab-bottom' : ''">
                    Общая информация
                    <span class="pull-right" [hidden]="!isActive(0)">
                      <i class="glyphicon glyphicon-tasks"></i>
                    </span>
                  </a>
                </li>

                <li
                  (click)="onTabSelected(1)" [class]="hideOvers === false || isActive(1) ? '' : 'hidden'">
                  <a [class]="isActive(1) ? 'active-tab-bottom' : ''">
                    Поручения
                    <span class="pull-right" [hidden]="!isActive(1)">
                      <i class="glyphicon glyphicon-tasks"></i>
                    </span>
                  </a>
                </li>

                <li *ngIf="memoType === 'memomka'" (click)="onTabSelected(6)"
                  [class]="hideOvers === false || isActive(6) ? '' : 'hidden'">
                  <a [class]="isActive(6) ? 'active-tab-bottom' : ''">
                    Внутренние поручения
                    <span class="pull-right" [hidden]="!isActive(6)">
                      <i class="glyphicon glyphicon-tasks"></i>
                    </span>
                  </a>
                </li>
                <li *ngIf="memoType === 'memomka'" (click)="onTabSelected(7)"
                  [class]="hideOvers === false || isActive(7) ? '' : 'hidden'">
                  <a [class]="isActive(7) ? 'active-tab-bottom' : ''">
                    Ознакомление
                    <span class="pull-right" [hidden]="!isActive(7)">
                      <i class="glyphicon glyphicon-tasks"></i>
                    </span>
                  </a>
                </li>

                <li *ngIf="showInstructionsTab() && (subTasks.length > 0) && memoType === 'memomka'"
                  (click)="onTabSelected(2)" [class]="hideOvers === false || isActive(2) ? '' : 'hidden'">
                  <a [class]="isActive(2) ? 'active-tab-bottom' : ''">
                    Подзадачи
                    <span class="pull-right" [hidden]="!isActive(2)">
                      <i class="glyphicon glyphicon-tasks"></i>
                    </span>
                  </a>
                </li>

                <li
                  *ngIf="memoType !== 'memomka' && document.approval && document.approval.approvalCycle && document.approval.approvalCycle && showApprovalCycle"
                  (click)="onTabSelected(8)" [class]="hideOvers === false || isActive(8) ? '' : 'hidden'">
                  <a [class]="isActive(8) ? 'active-tab-bottom' : ''">
                    Лист согласования
                    <span class="pull-right" [hidden]="!isActive(8)">
                      <i class="glyphicon glyphicon-tasks"></i>
                    </span>
                  </a>
                </li>

                <li
                  *ngIf="memoType !== 'memomka' && document.approval && document.approval.approvalCycle && document.approval.approvalCycle && showApprovalCycle"
                  (click)="onTabSelected(9)" [class]="hideOvers === false || isActive(9) ? '' : 'hidden'">
                  <a [class]="isActive(9) ? 'active-tab-bottom' : ''">
                    Связанные элементы
                    <span class="pull-right" [hidden]="!isActive(9)">
                      <i class="glyphicon glyphicon-tasks"></i>
                    </span>
                  </a>
                </li>


                <li (click)="onTabSelected(3)" [class]="hideOvers === false || isActive(3) ? '' : 'hidden'">
                  <a [class]="isActive(3) ? 'active-tab-bottom' : ''">
                    Процесс
                    <span class="pull-right" [hidden]="!isActive(3)">
                      <i class="glyphicon glyphicon-tasks"></i>
                    </span>
                  </a>
                </li>


                <!-- <li *ngIf="showDocumentLog" (click)="onTabSelected(5)"
                  [class]="hideOvers === false || isActive(5) ? '' : 'hidden'">
                  <a [class]="isActive(5) ? 'active-tab-bottom' : ''">
                    История изменений документа
                    <span class="pull-right" [hidden]="!isActive(5)">
                      <i class="glyphicon glyphicon-tasks"></i>
                    </span>
                  </a>
                </li> -->

                <!-- <li *ngIf="showJsonEditor" (click)="onTabSelected(4)"
                  [class]="hideOvers === false || isActive(4) ? '' : 'hidden'">
                  <a [class]="isActive(4) ? 'active-tab-bottom' : ''">
                    JSON редактор документа
                    <span class="pull-right" [hidden]="!isActive(4)">
                      <i class="glyphicon glyphicon-tasks"></i>
                    </span>
                  </a>
                </li> -->


              </ul>
            </div>

            <!-- Desktop tabs header -->
            <div class="hidden-xs hidden-sm">
              <ul class="nav nav-tabs" (click)="$event.preventDefault()">
                <li class="nav-item" [class.active]="selectedTab === 0">
                  <a href="javascript:void(0);" class="nav-link" [class.active]="selectedTab === 0"
                    (click)="selectedTab = 0">
                    <span>Общая информация</span>
                  </a>
                </li>


                <li class="nav-item" [class.active]="selectedTab === 1"
                  *ngIf="showInstructionsTab() && (instructions.length > 0) && memoType === 'memomka'">
                  <a href="javascript:void(0);" class="nav-link" [class.active]="selectedTab === 1"
                    (click)="selectedTab = 1">
                    <span>Поручения</span>
                  </a>
                </li>

                <li class="nav-item" [class.active]="selectedTab === 1"
                  *ngIf="(instructions.length > 0) && memoType === 'memo'">
                  <a href="javascript:void(0);" class="nav-link" [class.active]="selectedTab === 1"
                    (click)="selectedTab = 1">
                    <span>Поручения</span>
                  </a>
                </li>



                <li class="nav-item" [class.active]="selectedTab === 6" *ngIf="memoType === 'memomka'">
                  <a href="javascript:void(0);" class="nav-link" [class.active]="selectedTab === 6"
                    (click)="selectedTab = 6">
                    <span>Внутренние поручения</span>
                  </a>
                </li>

                <li class="nav-item" [class.active]="selectedTab === 7" *ngIf="memoType === 'memomka'">
                  <a href="javascript:void(0);" class="nav-link" [class.active]="selectedTab === 7"
                    (click)="selectedTab = 7">
                    <span>Ознакомление</span>
                  </a>
                </li>



                <li class="nav-item" [class.active]="selectedTab === 2"
                  *ngIf="showInstructionsTab() && (subTasks.length > 0) && memoType !== 'memomka'">
                  <a href="javascript:void(0);" class="nav-link" [class.active]="selectedTab === 2"
                    (click)="selectedTab = 2">
                    <span>Подзадачи</span>
                  </a>
                </li>

                <li class="nav-item" [class.active]="selectedTab === 8"
                  *ngIf="memoType !== 'memomka' && showApprovalCycle">
                  <a href="javascript:void(0);" class="nav-link" [class.active]="selectedTab === 8"
                    (click)="selectedTab = 8">
                    <span>Лист согласования</span>
                  </a>
                </li>

                <li class="nav-item" [class.active]="selectedTab === 9" cdp-is-auth="SDO_LINK_LINK_VIEW">
                  <a href="javascript:void(0);" class="nav-link" [class.active]="selectedTab === 9"
                    (click)="selectedTab = 9">
                    <span>Связанные элементы</span>
                  </a>
                </li>

                <li class="nav-item" [class.active]="selectedTab === 3">
                  <a href="javascript:void(0);" class="nav-link" [class.active]="selectedTab === 3"
                    (click)="selectedTab = 3">
                    <span>Процесс</span>
                  </a>
                </li>

                <li class="nav-item" [class.active]="selectedTab === 5" *ngIf="showDocumentLog">
                  <a href="javascript:void(0);" class="nav-link" [class.active]="selectedTab === 5"
                    (click)="selectedTab = 5">
                    <span>История изменений документа</span>
                  </a>
                </li>

                <li class="nav-item" [class.active]="selectedTab === 4" *ngIf="showJsonEditor">
                  <a href="javascript:void(0);" class="nav-link" [class.active]="selectedTab === 4"
                    (click)="selectedTab = 4">
                    <span>JSON редактор документа</span>
                  </a>
                </li>
              </ul>
            </div>

            <div class="tab-content">
              <div class="m-t-md" *ngIf="isActive(0)">
                <div class="description" *ngIf="memoType === 'memomka'">
                  <dl class="dl-horizontal m-l-md  m-t-md">
                    <dt><span>Всего файлов</span></dt>
                    <dd><span>{{document.fileId.length}}</span></dd>
                    <dt><span>Содержание</span></dt>
                    <dd><span style="white-space:pre-wrap;">{{document.description}}</span></dd>
                    <dt *ngIf="files.length > 0"><span>Файлы</span></dt>
                    <dd *ngIf="files.length > 0">
                      <div *ngFor="let f of files">
                        <cdp-ex-file [fileInfo]="f" [showSize]="true" [showDate]="true" [checkSign]="true"
                                     [downloadBaseHref]="'/filestore'">
                        </cdp-ex-file>
                      </div>
                    </dd>
                  </dl>
                </div>

                <div class="description" *ngIf="memoType !== 'memomka'">
                  <dl class="dl-horizontal  m-t-md" [ngClass]="{'m-l-md': !$localStorage.isMobile}">
                    <dt *ngIf="document.headingTopic && document.headingTopic.name"><span>Тема рубрики</span></dt>
                    <dd *ngIf="document.headingTopic && document.headingTopic.name">
                      <span>{{document.headingTopic.name}}</span></dd>
                    <dt *ngIf="document.activityKind && document.activityKind.name"><span>Вид деятельности треста</span>
                    </dt>
                    <dd *ngIf="document.activityKind && document.activityKind.name">
                      <span>{{document.activityKind.name}}</span></dd>
                    <dt *ngIf="document.privacy && document.privacy.name"><span>Конфиденциальность</span></dt>
                    <dd *ngIf="document.privacy && document.privacy.name"><span>{{document.privacy.name}}</span></dd>
                    <dt><span>Срок рассмотрения</span></dt>
                    <dd>{{document.reportTermDoc.reportTerm.name}}</dd>
                    <dt *ngIf="document.description"><span>Текст</span></dt>
                    <dd *ngIf="document.description" style="cursor: pointer;">
                      <div
                        style="width: 300px; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;"
                        *ngIf="!isFullDescription" (click)="toggleDescription()">
                        {{document.description}}
                      </div>
                      <div *ngIf="isFullDescription" style="width: 300px;" (click)="toggleDescription()">
                        {{document.description}}
                      </div>
                    </dd>
                  </dl>
                </div>
                <br>
                <div class="description" *ngIf="memoType !== 'memomka'" [ngClass]="{'m-l-md': !$localStorage.isMobile}">
                  <dl class="dl-horizontal">
                    <dt *ngIf="relatedDocuments && relatedDocuments.length">Связанные документы</dt>
                    <dd *ngIf="relatedDocuments && relatedDocuments.length">
                      <span>
                        <span *ngFor="let relatedDocument of relatedDocuments">
                          <a uiSref="app.instruction.memo-card"
                            [uiParams]="{ id: relatedDocument.documentId }">{{relatedDocument.memoKind.name}} №
                            {{relatedDocument.number}} от
                            {{relatedDocument.beginDate | date: 'dd.MM.yyyy'}}
                          </a>
                          <br>
                        </span>
                      </span>
                    </dd>
                    <dt *ngIf="document.note">Примечание</dt>
                    <dd *ngIf="document.note">
                      <span style="white-space:pre-wrap;">{{document.note}}</span>
                    </dd>
                  </dl>
                </div>
                <br>

                <div class="description" *ngIf="memoType !== 'memomka'" [ngClass]="{'m-l-md': !$localStorage.isMobile}">
                  <h4
                    *ngIf="(document.attachedFile && document.attachedFile.length > 0) || (document.draftFiles && document.draftFiles.length > 0)">
                    Файлы</h4>
                  <dl class="dl-horizontal m-t-md" [ngClass]="{'m-l-md': !$localStorage.isMobile}">
                    <dt *ngIf="document.attachedFile && document.attachedFile.length > 0"><span>Дополнительные
                        материалы</span></dt>
                    <dd *ngIf="document.attachedFile && document.attachedFile.length > 0">
                      <div *ngFor="let f of document.attachedFile">
                        <cdp-ex-file [fileInfo]="f" [showSize]="true" [showDate]="true" [checkSign]="true"
                          [downloadBaseHref]="'/filestore'">
                        </cdp-ex-file>
                      </div>
                    </dd>
                    <dt *ngIf="document.draftFiles && document.draftFiles.length > 0"><span>Проект СЗ</span></dt>
                    <dd *ngIf="document.draftFiles && document.draftFiles.length > 0">
                      <div *ngFor="let f of document.draftFiles">
                        <cdp-ex-file [fileInfo]="f" [showSize]="true" [showDate]="true" [checkSign]="true"
                          [downloadBaseHref]="'/filestore'"></cdp-ex-file>
                      </div>
                    </dd>
                    <!-- <dt *ngIf="files && files.length > 0"><span>Подписанный документ</span></dt>
                    <dd *ngIf="files && files.length > 0">
                      <div *ngFor="let f of files">
                        <cdp-ex-file [fileInfo]="f" [showSize]="true" [showDate]="true" [downloadBaseHref]="'/filestore'"></cdp-ex-file>
                      </div>
                    </dd> -->
                  </dl>
                </div>

                <cdp-expanded-section *ngIf="document.result && document.result.length > 0" [expand]="resultExpanded">
                  <span header-slot style="display:inline;">
                    Рассмотрение
                  </span>
                  <div content-slot>
                    <div class="m-l-md">
                      <table class="table animated fadeIn m-t-sm" id="memo-card-tabs-all-info">
                        <thead class="hidden-md hidden-xs hidden-sm">
                          <tr>
                            <th>Дата ответа</th>
                            <th>Ответил</th>
                            <th>Дата приема информации</th>
                            <th>Информацию принял</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let result of document.result">
                            <td style="padding-left:0;">{{result.reportDate | date: 'dd.MM.yyyy HH:mm'}}</td>
                            <td>
                              <div class="m-b-sm">
                                <span class="visible-lg" style="white-space:pre-wrap;"><i
                                    style="cursor:pointer;font-size:16px;margin-right: 5px" placement="bottom"
                                    tooltip="{{result.reportExecutor.fioFull}}" class="fa fa-user"
                                    aria-hidden="true"></i>
                                  {{result.reportContent}}</span>
                                <span class="visible-md visible-sm visible-xs">
                                  <i>{{result.reportExecutor.fioFull}}</i>: {{result.reportContent}}
                                </span>
                              </div>
                              <div *ngFor="let f of result.reportFileId">
                                <cdp-ex-file [fileInfo]="resultFiles[f]" [showSize]="true" [showDate]="true" [checkSign]="true"
                                             [downloadBaseHref]="'/filestore'">
                                </cdp-ex-file>
                              </div>
                              <div class="clearfix description"><span
                                  class="label {{(result.reportButton == 'Ответил' || result.reportButton == 'Ответить') ? 'label-primary' : result.reportButton == 'Перенаправил' ? 'label-success' : 'label-warning'}}">{{result.reportButton}}</span>
                              </div>
                              <div *ngIf="result.reportButton == 'Перенаправил'" class="m-t-xs">
                                Перенаправлена для работы:
                                <div *ngFor="let redirected of result.redirectedBy">
                                  {{redirected.fioFull}}
                                </div>
                              </div>
                            </td>
                            <td class="mobile-m-l">{{result.acceptDate | date: 'dd.MM.yyyy HH:mm'}} </td>
                            <td class="mobile-m-l">
                              <div class="m-b-sm ">
                                <span class="visible-lg" *ngIf="result.reportAcceptor.fioFull">
                                  <i style="cursor:pointer;font-size:16px;margin-right: 5px"
                                    *ngIf="result.reportAcceptor" tooltip-placement="bottom"
                                    tooltip="{{result.reportAcceptor.fioFull}}" class="fa fa-user"
                                    aria-hidden="true"></i>{{result.acceptContent}}</span>
                                <span class="visible-md visible-sm visible-xs" ng-if="result.reportAcceptor.fioFull">
                                  <i *ngIf="result.reportAcceptor">{{result.reportAcceptor.fioFull}}</i>:
                                  {{result.acceptContent}}
                                </span>
                              </div>
                              <div *ngFor="let f of result.acceptFileId">
                                <cdp-ex-file [fileInfo]="resultFiles[f]" [showSize]="true" [showDate]="true" [checkSign]="true"
                                             [downloadBaseHref]="'/filestore'">
                                </cdp-ex-file>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </cdp-expanded-section>

                <cdp-expanded-section *ngIf="document.comment.length > 0 && memoType === 'memomka'"
                  [expand]="commentExpanded">
                  <span header-slot style="display:inline;">
                    Комментарии
                  </span>
                  <div content-slot>
                    <div class="m-l-md">
                      <mggt-memo-comments [document]="document" [edit]="false"></mggt-memo-comments>
                    </div>
                  </div>
                </cdp-expanded-section>
              </div>

              <div class="m-t-md" *ngIf="isActive(1)">
                <mggt-order-subtasks-doc [dicts]="instructionDicts" [subTasks]="instructions"></mggt-order-subtasks-doc>
              </div>
              <div class="m-t-md" *ngIf="isActive(2)">
                <mggt-order-subtasks-doc [dicts]="instructionDicts" [subTasks]="subTasks"></mggt-order-subtasks-doc>
              </div>
              <div class="m-t-md" *ngIf="isActive(3)">
                <cdp-bpm-process-manager [config]="processManagerConfig"></cdp-bpm-process-manager>
              </div>
              <div class="m-t-md" *ngIf="isActive(4)">
                <mggt-memo-json-editor [id]="document.documentId"></mggt-memo-json-editor>
              </div>
              <div class="m-t-md" *ngIf="isActive(5)">
                <mggt-documents-log [model]="log"></mggt-documents-log>
              </div>
              <div class="m-t-md" *ngIf="isActive(6)">
                <mggt-order-subtasks-doc [dicts]="instructionDicts" [subTasks]="insideOrder"></mggt-order-subtasks-doc>
              </div>

              <mggt-order-review [document]="document" *ngIf="isActive(7)"></mggt-order-review>
              <div class="m-t-md" *ngIf="isActive(8)">
                <mggt-memo-visa-copy [document]="document"></mggt-memo-visa-copy>
              </div>

              <!-- Связанные элементы -->
              <div class="m-t-md" *ngIf="isActive(9)" cdp-is-auth="SDO_LINK_LINK_VIEW">
                <sdo-linked-elements [docId]="document.documentId"
                                     [docType]="'SDO_INSTRUCTION_MEMO'"
                                     [subsystemCode]="'SDO_INSTRUCTION'"
                                     (onSave)="linkedElementsSaved($event)"
                ></sdo-linked-elements>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>
