@media screen and (max-width: 1024px) {
    #memo-card-tabs-all-info {
        display: block;

        tbody,
        tr,
        td {
            display: block;
            border: 0;
        }

        tr {
            border-top: 1px solid #e7eaec;
        }

        .mobile-m-l {
            padding-left: 50px;
        }
    }
}

.hint {
  position: fixed;
  top: -1000px;
  left: -1000px;
  display: inline;
  background: #fff;
  font-size: 11px;
  padding: 3px 7px 4px 7px;
  border: solid 1px #222;
  cursor: default;
  z-index: 999;
}
