<div class="ibox-content no-top-border" style="padding-top: 0;">
  <div style="display: flex;">
    <div class="pull-left" style="width: 50%">
      <div class="btn-group" dropdown style="width: 100%">
        <button class="btn btn-white dropdown-toggle" id="mobile-sort-btn" type="button"
          aria-controls="mobile-sorting-dropdown" dropdownToggle style="width: 100%">
          <span class="pull-left text-left">
            <span *ngIf="selectedSorting && selectedSorting.name">{{selectedSorting.name}}</span>
          </span>
          <span class="icon-right fa fa-sort"></span>
        </button>
        <ul class="dropdown-menu animated fadeIn" id="mobile-sorting-dropdown" *dropdownMenu role="menu"
          aria-labelledby="mobile-sort-btn">
          <li role="menuitem" *ngFor="let sort of sortings" [class]="selectedSorting.id === sort.id ? 'active' : ''">
            <a class="dropdown-item" (click)="mobileChangeSorting(sort)">{{sort.name}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="btn-group pull-right" style="margin-left: 5px; width: 50%;">
      <button type="button" (click)="extSearchCollapsed = !extSearchCollapsed;"
        [class]="filtersCount > 0 ? 'btn btn-white btn-block highlight' : 'btn btn-white btn-block'"
        id="mobile-filter-btn">
        <span class="pull-left text-left">
          Фильтры
        </span>
        <span class="badge label-primary pull-right" *ngIf="filtersCount > 0">{{filtersCount}}</span>
      </button>
    </div>
  </div>
  <div class="animated fadeIn" [hidden]="extSearchCollapsed">
    <div style="display: flex;" class="m-t-sm">
      <div class="pull-left" style="width: 50%;"></div>
      <div class="pull-right" style="width: 50%; margin-left: 5px;">
        <button class="btn btn-white btn-block" style="font-size: 12px;" (click)="mobileClearFilters()">
          Очистить все
        </button>
      </div>
    </div>
    <div class="row m-t-sm">
      <div class="col-xs-12">
        <div class="form-group">
          <label>Статус</label>
          <ng-select name="statusMemo" [items]="dicts.statuses" [multiple]="true" [closeOnSelect]="true"
            [hideSelected]="true" bindLabel="name" [(ngModel)]="filter.statusMemo" (change)="mobileFilterChange()">
          </ng-select>
        </div>
        <div class="form-group">
          <label>Вид докумена</label>
          <ng-select name="kindMemo" [items]="dicts.memoKindes" [multiple]="true" [closeOnSelect]="true"
            [hideSelected]="true" bindLabel="name" [(ngModel)]="filter.kindMemo" (change)="mobileFilterChange()">
          </ng-select>
        </div>

        <div class="form-group">
          <label>Кто подписал</label>
          <mggt-select-ldap-users [(model)]="filter.creatorMemo" name="creatorMemo"
            (modelChange)="changeLdapField($event, 'creatorMemo')" [multiple]="false"
            [placeholder]="'Введите 3 символа для начала поиска'"></mggt-select-ldap-users>
        </div>

        <div class="form-group">
          <label>Кому</label>
          <mggt-select-ldap-users [(model)]="filter.executorMemo" name="executorMemo"
            (modelChange)="changeLdapField($event, 'executorMemo')" [multiple]="false"
            [placeholder]="'Введите 3 символа для начала поиска'"></mggt-select-ldap-users>
        </div>

        <div class="form-group">
          <label>Исполнитель</label>
          <mggt-select-ldap-users [(model)]="filter.recipientMemo" name="recipientMemo"
            (modelChange)="changeLdapField($event, 'recipientMemo')" [multiple]="false"
            [placeholder]="'Введите 3 символа для начала поиска'"></mggt-select-ldap-users>
        </div>

        <div clss="form-group">
          <label>Содержание</label>
          <input (blur)="mobileFilterChange()" (keyup.enter)="mobileFilterChange()" class="form-control"
            [(ngModel)]="filter.contentMemo" name="contentMemo">
        </div>

        <div class="form-group">
          <label>Текст</label>
          <input (blur)="mobileFilterChange()" (keyup.enter)="mobileFilterChange()" class="form-control"
            [(ngModel)]="filter.descriptionMemo" name="descriptionMemo">
        </div>

        <div class="form-group">
          <label>Тема рубрики</label>
          <ng-select name="headingTopicMemo" [items]="dicts.memoHeadingTopics" [multiple]="true" [closeOnSelect]="true"
            [hideSelected]="true" bindLabel="name" [(ngModel)]="filter.headingTopicMemo"
            (change)="mobileFilterChange()">
          </ng-select>
        </div>

        <div class="form-group">
          <label>Вид деятельности треста</label>
          <ng-select name="activityKindMemo" [items]="dicts.memoTrestActivityKindes" [multiple]="true"
            [closeOnSelect]="true" [hideSelected]="true" bindLabel="name" [(ngModel)]="filter.activityKindMemo"
            (change)="mobileFilterChange()">
          </ng-select>
        </div>

        <div class="form-group">
          <label>Конфиденциальность</label>
          <ng-select name="privacyMemo" [items]="dicts.privacies" [multiple]="true" [closeOnSelect]="true"
            [hideSelected]="true" bindLabel="name" [(ngModel)]="filter.privacyMemo" (change)="mobileFilterChange()">
          </ng-select>
        </div>

        <div class="form-group">
          <label>Карточку создал</label>
          <mggt-select-ldap-users [(model)]="filter.assistantMemo" name="assistantMemo"
            (modelChange)="changeLdapField($event, 'assistantMemo')" [multiple]="false"
            [placeholder]="'Введите 3 символа для начала поиска'"></mggt-select-ldap-users>
        </div>

        <div class="form-group">
          <label>Внешние связанные документы</label>
          <input (blur)="mobileFilterChange()" (keyup.enter)="mobileFilterChange()" class="form-control"
            [(ngModel)]="filter.externalRelationMemo" name="externalRelationMemo">
        </div>

        <div class="form-group">
          <label>Дата</label>
          <div class="input-group date-range">
            <input type="date" class="form-control" [(ngModel)]="filter.docDateMemo.from"
              (change)="mobileFilterChange()" name="docDateMemoFrom">
            <div class="input-group-addon">&ndash;</div>
            <input type="date" class="form-control" [(ngModel)]="filter.docDateMemo.to" (change)="mobileFilterChange()"
              name="docDateMemoTo">
          </div>
        </div>

        <div class="form-group">
          <label>Номер служебной записки</label>
          <input (blur)="mobileFilterChange()" (keyup.enter)="mobileFilterChange()" class="form-control"
            [(ngModel)]="filter.docNumberMemo" name="docNumberMemo">
        </div>

      </div>
    </div>
    <div style="display: flex;">
      <div class="pull-left" style="width: 50%;"></div>
      <div class="pull-right" style="width: 50%; margin-left: 5px;">
        <button class="btn btn-white btn-block" style="font-size: 12px;" (click)="mobileClearFilters()">
          Очистить все
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="isLoading" style="height: 50px;" class="m-t-sm text-center">
    <cdp-spinner style="margin:5px;" [type]="'three-bounce'"></cdp-spinner>
  </div>
</div>

<div *ngIf="!isLoading">

  <div class="ibox-content">
    <p style="margin: 0; font-size: 14px;">Найдено — <b>{{searchResult?.numFound}}</b>
    </p>
  </div>

  <div class="ibox-content" *ngIf="searchResult?.numFound === 0">
    <span class="text-warning" style="font-size: 20px">Ничего не найдено</span>
  </div>

  <div *ngIf="searchResult?.docs">
    <div class="ibox-content" *ngFor="let d of searchResult.docs">
      <a uiSref="app.instruction.memo-card" [uiParams]="{id: d.sys_documentId}" class="virtual-link">
        <div class="row">
          <div class="col-xs-12 m-b-xs">
          <span class="mobile-instruction-title" style="word-break: break-all; color: #337ab7;">
            {{d.kindMemo}} {{d.docNumberMemo}}
          </span>
          </div>

          <div class="col-xs-12 m-b-xs">
          <span>
            Кто подписал:
          </span>
            <span>
            {{ d.creatorMemo }}
          </span>
          </div>

          <div class="col-xs-12 m-b-xs" *ngIf="d.executorMemo">
          <span>
            Кому:
          </span>
            <span>
            {{ d.executorMemo ? d.executorMemo.join(', ') : '' }}
          </span>
          </div>

          <div class="col-xs-12 m-b-xs">
          <span>
            Исполнитель:
          </span>
            <span>
            {{ d.assistantMemo }}
          </span>
          </div>

          <div class="col-xs-12">
            <span class="label label-{{getLabelClass(d.statusCodeMemo)}}">{{d.statusMemo}}</span>
          </div>
        </div>
      </a>
    </div>
  </div>


  <div class="ibox-content" *ngIf="searchResult?.numFound > 20">
    <p class="text-muted text-center" *ngIf="!appendBlock && isDocsLoaded" style="font-size: 14px;"><i
        class="fa fa-info-circle"> Поручений больше нет</i></p>
    <button id="loadingButton" [hidden]="appendBlock" class="btn btn-default btn-block" (click)="mobileLoadMore()"
      inview inview-show-fn="mobileLoadMore()">
      Загрузить еще
    </button>
    <span [hidden]="!appendBlock">
      <cdp-spinner style="margin:5px;" [type]="'three-bounce'"></cdp-spinner>
    </span>
  </div>
</div>
