<div class="showcase-filter m-t-lg m-b-lg" [ngClass]="model.settings.theme">
  <div *ngFor="let f of model.settings.filters">
    <div *ngIf="model.showFilter(f) && !isDisabledField(f.field.code)" class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">{{f.name}}</div>
      <div class="col-md-9">
        <div [ngSwitch]="f.field.type">
          <div *ngSwitchCase="'dictionary'">
            <div *ngIf="!f.field.hierarchical">
              <ng-select [multiple]="f.multiple" appendTo="body"
                         [items]="f.field.dict" [placeholder]="f.placeholder"
                         bindLabel="{{f.field.dictionaryText}}"
                         bindValue="{{f.field.dictionaryCode}}"
                         (change)="onFilterDictionaryChange(f)"
                         [closeOnSelect]="true" [hideSelected]="true"
                         [(ngModel)]="model.selectedFilters[f.field.code]"></ng-select>
            </div>
            <div *ngIf="f.field.hierarchical">
              It will be realised later...
              <!--<reinform-cdp-select-tree [valueField]="f.field.dictionaryCode"
                                        [(ngModel)]="model.selectedFilters[f.field.code]"
                                        (ngModelChange)="onFilterDictionaryChange(f)"
                                        [childrenField]="'children'"
                                        [color]="model.settings.theme"
                                        [textField]="f.field.dictionaryText"
                                        [items]="f.dict"
                                        [disabled]="isDisabledField(f.field.code)"
                                        [multiple]="f.multiple" [selectableRoot]="!f.field.valueOnLeaves">
              </reinform-cdp-select-tree>-->
            </div>
          </div>
          <div *ngSwitchCase="'date'">
            <input type="text" bsDaterangepicker
                   [bsConfig]="{containerClass: 'theme-dark-blue'}"
                   class="form-control"
                   placeholder="{{f.placeholder}}"
                   [disabled]="isDisabledField(f.field.code)"
                   [(ngModel)]="model.selectedFilters[f.field.code]" (ngModelChange)="onDateFilterChange(f)"/>
          </div>
          <div *ngSwitchCase="'user'">
            <select-async [(ngModel)]="model.selectedFilters[f.field.code]"
                          (ngModelChange)="onFilterChange()"
                          [findAsync]="findUsers" [multiple]="f.multiple" [color]="model.settings.theme"
                          [valueField]="'displayName'"
                          [textField]="'displayName'"></select-async>
          </div>
          <div *ngSwitchCase="'boolean'">
            <div *ngIf="f.template">
              <label class="m-t-sm m-r-md">
                <radio [color]="model.settings.theme" [(ngModel)]="model.selectedFilters[f.field.code]"
                       (ngModelChange)="onFilterChange()" [value]="true">
                  <div class=" m-l-sm" style="display: inline-block; vertical-align: top; font-weight: normal">Да</div>
                </radio>
              </label>
              <label class="m-t-sm m-r-md">
                <radio [color]="model.settings.theme" [(ngModel)]="model.selectedFilters[f.field.code]"
                       (ngModelChange)="onFilterChange()" [value]="false">
                  <div class=" m-l-sm" style="display: inline-block; vertical-align: top; font-weight: normal">Нет</div>
                </radio>
              </label>
            </div>
            <div *ngIf="!f.template">
              <checkbox [color]="model.settings.theme" [(ngModel)]="model.selectedFilters[f.field.code]"
                        (ngModelChange)="onBooleanFilterChange(f)"></checkbox>
            </div>
          </div>
          <div *ngSwitchDefault>
            <input type="text" [(ngModel)]="model.selectedFilters[f.field.code]" class="form-control"
                   name="{{f.field.code}}" placeholder="{{f.placeholder}}"
                   [disabled]="isDisabledField(f.field.code)"
                   (change)="onFilterChange()"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-t-md m-l-xs">
    <div class="col-md-3 title"></div>
    <div class="col-md-9">
      <button class="btn btn-white btn-sm" (click)="clearFilters()">Очистить</button>
    </div>
  </div>
</div>
