@import '../../../../../styles/variables';

@mixin theme($name, $color) {
  &.#{$name} {
    input[type="text"].form-control:focus {
      border: 1px solid $color !important;
    }
    textarea.form-control:focus {
      border: 1px solid $color !important;
    }
    select.form-control:focus {
      border: 1px solid $color !important;
    }
  }
}

.showcase-filter {
  @include theme('green', $green);
  @include theme('aero', $aero);
  @include theme('blue', $blue);
  @include theme('gray', $gray);
  @include theme('orange', $orange);
  @include theme('pink', $pink);
  .row {
    .title {
      padding-top: 7px;
    }
  }
}

.dropdown-menu-right {
  left: auto !important;
  right: 0;
  float: right !important;
  white-space: nowrap;
}

.bold {
  font-weight: 600;
}

/deep/ div.bs-datepicker-head {
  text-align: center;
}
