<div *ngIf="!isLoading" class="container-fluid" style="background-color: #fff">
    <div class="row">
        <div class="col-xs-12">
            <div class="clearfix">
                <h2 class="font-bold pull-left">Служебные записки</h2>
                <div class="pull-right">
                  <a class="btn btn-sm btn-primary" uiSref="app.instruction.memo-short-new" [uiParams]="{id: null}">
                    Создать внутренний документ
                  </a>
                </div>
            </div>

            <div class="search-form">
                <form (submit)="searchChanged()">
                    <div class="input-group">
                        <input class="form-control input-lg" name="commonSearch" placeholder="Номер, тема" [(ngModel)]="searchQuery">
                        <div class="input-group-btn">
                            <button class="btn btn-lg btn-primary" type="submit">Найти</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div>
                <ul class="nav nav-tabs m-t-xs">
                    <!-- <li class="uib-tab nav-item" (click)="activate('memoAll')">
                        <a class="nav-link ng-binding" [ngClass]="isActive('memoAll') ? 'active-tab-bottom' : ''">Служебные записки</a>
                    </li>
                    <li class="uib-tab nav-item" (click)="activate('memoFromMe')">
                        <a class="nav-link ng-binding" [ngClass]="isActive('memoFromMe') ? 'active-tab-bottom' : ''">Направленные мной</a>
                    </li>
                    <li class="uib-tab nav-item" (click)="activate('memoForMe')">
                        <a class="nav-link ng-binding" [ngClass]="isActive('memoForMe') ? 'active-tab-bottom' : ''">Направленные мне</a>
                    </li>
                    <li class="uib-tab nav-item" (click)="activate('memoClosed')">
                        <a class="nav-link ng-binding" [ngClass]="isActive('memoClosed') ? 'active-tab-bottom' : ''">Рассмотренные</a>
                    </li>
                    <li class="uib-tab nav-item" (click)="activate('assistantLogMemo')">
                        <a class="nav-link ng-binding" [ngClass]="isActive('assistantLogMemo') ? 'active-tab-bottom' : ''">По подразделению</a>
                    </li> -->
                    <li class="uib-tab nav-item" *ngFor="let tab of tabs" (click)="activate(tab.alias)">
                        <a class="nav-link ng-binding" [ngClass]="isActive(tab.alias) ? 'active-tab-bottom' : ''">{{tab.title}}</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="row m-t-lg">
        <memo-list-filters [filter]="filter" [dicts]="dicts" (filterChanged)="filterChange($event)" (filterReset)="clear()"></memo-list-filters>
    </div>

    <memo-list *ngIf="isActive('memoAll')" [dicts]="dicts" [filter]="filter" [filterChanged]="updateList" [preFilter]="preFilter.memoAll"></memo-list>
    <memo-list *ngIf="isActive('memoFromMe')" [dicts]="dicts" [filter]="filter" [filterChanged]="updateList" [preFilter]="preFilter.memoFromMe"></memo-list>
    <memo-list *ngIf="isActive('memoForMe')" [dicts]="dicts" [filter]="filter" [filterChanged]="updateList" [preFilter]="preFilter.memoForMe"></memo-list>
    <memo-list *ngIf="isActive('memoClosed')" [dicts]="dicts" [filter]="filter" [filterChanged]="updateList" [preFilter]="preFilter.memoClosed"></memo-list>
    <memo-list *ngIf="isActive('assistantLogMemo')" [dicts]="dicts" [filter]="filter" [filterChanged]="updateList" [preFilter]="preFilter.assistantLogMemo"></memo-list>

</div>
<cdp-spinner *ngIf="isLoading" [type]="'three-bounce'"></cdp-spinner>
