<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">
      <div *blockUI="'registerMemo'">
        <h4>
          <a uiSref="app.instruction.memo-card" [uiParams]="{ id: document.documentId }">
            Служебная записка № {{document.number}} от {{document.beginDate | date: 'dd.MM.yyyy'}}
          </a>
        </h4>

        <div class="row description">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <dl class="dl-horizontal">
              <dt><span>Вид</span></dt>
              <dd>{{document.memoKind.name}}</dd>

              <dt><span>Автор служебной записки</span></dt>
              <dd>{{document.creator.fioFull}}</dd>

              <dt><span>Исполнитель</span></dt>
              <dd>
                <span *ngFor="let executor of document.executor; let i = index">
                  <span *ngIf="i">,</span>{{executor.fioFull}}</span>
              </dd>

              <dt><span>Кому</span></dt>
              <dd>{{document.recipient.fioFull}}</dd>

              <dt *ngIf="document.content"><span>Содержание</span></dt>
              <dd *ngIf="document.content">{{document.content}}</dd>

              <dt *ngIf="document.description"><span>Описание</span></dt>
              <dd *ngIf="document.description">{{document.description}}</dd>
            </dl>
          </div>
        </div>

        <h4 *ngIf="document.draftFiles.length > 0">Проект служебной записки</h4>
        <div class="row m-b-md" *ngIf="document.draftFiles.length > 0">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Файлы</label>
          <div class="col-lg-7 col-md-8 col-sm-9">
            <div *ngFor="let file of document.draftFiles">
              <cdp-ex-file [fileInfo]="file" [showSize]="true" [showDate]="true" [downloadBaseHref]="'/filestore'">
              </cdp-ex-file>
            </div>
          </div>
        </div>

        <h4 *ngIf="document.draftFiles.length === 0">Подписанный проект служебной записки</h4>
        <div class="row m-b-md" *ngIf="document.draftFiles.length === 0">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Файлы</label>
          <div class="col-lg-7 col-md-8 col-sm-9">
            <cdp-ex-file-manager [files]="draftFiles" [fileType]="'default'" [folderGuid]="document.folderId"
              [deletable]="true" [downloadBlank]="true" [downloadable]="true"
              [showDate]="true" [showSize]="true" [downloadBaseHref]="'/filestore'" [fileType]="'default'">
            </cdp-ex-file-manager>
          </div>
        </div>

        <div class="row m-b-md">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Комментарий</label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <textarea class="form-control" [(ngModel)]="comment" rows="10" name="comment"></textarea>
          </div>
        </div>

        <form class="form-horizontal">
          <div class="row m-b-md">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <button (click)="sign()" class="btn btn-primary m-r-xs">Докумен подписан</button>
              <button (click)="cancel()" class="btn btn-default m-r-xs">Отменить</button>
              <button (click)="save()" class="btn btn-default m-r-xs">Сохранить и закрыть</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>
