<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">
      <div *blockUI="'newShortMemo'" class="m-t-sm">
        <form class="form-horizontal" *ngIf="model">

          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">Вид<span class="our-mandatory">*</span></label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <ng-select name="memoKind" [items]="memoKinds" [multiple]="false" [closeOnSelect]="true"
                [hideSelected]="true" bindLabel="name" bindValue="code" [required]="true" [(ngModel)]="memoKindName"
                (change)="memoKindChanged($event)">
              </ng-select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">
              Кто подписал <span ng-show="model && !model.creator" class="our-mandatory">*</span>
            </label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <ng-select name="creator" [items]="creators" [multiple]="false" [closeOnSelect]="true"
                [hideSelected]="true" bindLabel="displayName" bindValue="accountName" [required]="true"
                [(ngModel)]="creator" (change)="creatorChanged($event)">
              </ng-select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">
              Содержание <span class="our-mandatory">*</span>
            </label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <textarea class="form-control our-control" name="documentContent" rows="2" [(ngModel)]="model.content"
                required=""></textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">
              Электронное согласование
            </label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <input cdp-icheck type="checkbox"
                [disabled]="!model.memoKind || (model.memoKind && model.memoKind.code !== '16')"
                (ngModelChange)="changeCheckbox($event)" [(ngModel)]="model.approvalElectronically"
                name="approvalElectronically">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">
              Карточку создал
            </label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <input class="form-control" disabled="true" type="text" [(ngModel)]="model.assistant.displayName"
                name="assistant">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
            <div class="col-lg-7 col-md-8 col-sm-9 control-block">
              <button (click)="create()" class="btn btn-primary margin-right">
                Сохранить
              </button>
              <button (click)="goBack()" class="btn btn-warning margin-right">Отменить</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div error>
    <div style="height: 200px; padding-top: 70px;">
      <h3 class="text-center"><i class="fa fa-exclamation-triangle text-warning"></i>&nbsp;Ошибка при инициализации
        приложения</h3>
    </div>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>