<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">
      <div *blockUI="'newOrder'" class="m-t-sm">
        <form class="form-horizontal">
          <div *ngIf="orders.length > 0">
            <div class="form-group" *ngFor="let order of orders">
              <label class="col-lg-3 col-md-3 col-sm-3 control-label">Распорядительный документ</label>
              <div style="padding-top: 7px;" class="col-lg-7 col-md-8 col-sm-9">
                {{order.docType}} <a href="/sdo/order/#/app/order/document/{{order.sys_documentId}}" target="_blank">
                  {{order.docNumber ? ' №' : ''}}{{order.docNumber}}
                  {{order.docDate ? ' от ' : ''}}{{order.docDate | date: 'dd.MM.yyyy'}}
                </a>
              </div>
            </div>
          </div>
          <div class="form-group" *ngIf="parentDocument && (transition.params()['asSubTask'] === 'true')">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">Основное поручение</label>
            <div style="padding-top: 7px;" class="col-lg-7 col-md-8 col-sm-9">
              <span style="white-space:pre-wrap;">{{parentDocument.instruction.content}}</span>
            </div>
          </div>
          <mggt-order-editor [model]="model"
                             [dicts]="dicts"
                             [extData]="extData"></mggt-order-editor>
          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
            <div class="col-lg-7 col-md-8 col-sm-9 control-block">
              <button (click)="create()" class="btn btn-violet m-r-sm">
                <i class="fa fa-file" aria-hidden="true"></i> Дать поручение
              </button>
              <button (click)="goBack()" class="btn btn-warning m-r-sm">Отмена</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div error>
    <div style="height: 200px; padding-top: 70px;">
      <h3 class="text-center"><i class="fa fa-exclamation-triangle text-warning"></i>&nbsp;Ошибка при инициализации
        приложения</h3>
    </div>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>
