<div class="inmodal">
  <div class="modal-header">
    <h3 class="modal-title">Создать тему поручения</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
          Тема <span [hidden]="theme.trim() !== ''" class="text-danger">*</span>
        </label>
        <div class="col-lg-9 col-md-9 col-sm-9 m-t-sm">
          <input class="form-control" [(ngModel)]="theme" name="theme"/>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="create()">Создать</button>
    <button type="button" class="btn btn-warning" (click)="cancel()">Отмена</button>
  </div>
</div>
