@import '../../../../styles/variables';

.showcase-builder-select {
   width:100%;
   font-size: 13px;
   font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
   .selected {
      border: 1px solid #e0e0e0;
      padding: 4px 8px 0px 3px;
      border-radius: 4px;
      .selected-item {
         margin-left: 5px;
         margin-bottom: 4px;
         border: 1px solid #f0f0f0;
         padding: 4px 8px;
         border-radius: 4px;
         display: inline-block;
         cursor:default;
         .remove {
            opacity: 0.75;
            cursor:pointer;
         }

         .remove:hover {
            opacity: 1;
         }
      }
      .search {
         width: 50px;
         outline: none;
         border: none;
         margin-left: 5px;
         margin-bottom: 4px;
      }
   }

   .variants {
      border-radius: 0px;
      padding: 5px;
      max-height: 220px;
      overflow-y: auto;
      .variant-item {
         padding: 8px;
         cursor:pointer;
         font-size: 13px;
         font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
         border-radius: 0px;
      }

      .variant-item.selected {
         color: white
      }

      .variant-item.selected:hover {
         color: white
      }

      .variant-item:hover {
         background-color: #ebf5ff;
      }
   }
}


.showcase-builder-select.green {
   .variants {
      .variant-item.selected {
         background-color: $green;
      }

      .variant-item.selected:hover {
         background-color: $green;
      }
   }
}
.showcase-builder-select.aero {
   .variants {
      .variant-item.selected {
         background-color: $aero;
      }

      .variant-item.selected:hover {
         background-color: $aero;
      }
   }
}
.showcase-builder-select.blue {
   .variants {
      .variant-item.selected {
         background-color: $blue;
      }

      .variant-item.selected:hover {
         background-color: $blue;
      }
   }
}
.showcase-builder-select.gray {
   .variants {
      .variant-item.selected {
         background-color: $gray;
      }

      .variant-item.selected:hover {
         background-color: $gray;
      }
   }
}
.showcase-builder-select.orange {
   .variants {
      .variant-item.selected {
         background-color: $orange;
      }

      .variant-item.selected:hover {
         background-color: $orange;
      }
   }
}
.showcase-builder-select.pink {
   .variants {
      .variant-item.selected {
         background-color: $pink;
      }

      .variant-item.selected:hover {
         background-color: $pink;
      }
   }
}

.showcase-builder-select.disabled {
   .selected {
      opacity: 0.5;
   }

   .variant-item {
      opacity: 0.5;
   }
}
