<div (clickOutside)="outside();" class="btn-group showcase-builder-select" [ngClass]="color" [class.disabled]="disabled" dropdown
     [insideClick]="true" placement="bottom right" #dropdown="bs-dropdown">
   <div (click)="dropdown.show();clickOnSelectionArea($event)" class="selected" dropdownToggle>
      <ng-template ngFor let-item [ngForOf]="selectedItems">
         <div class="selected-item" (click)="clickOnItem($event)">
            {{item[textField]}} <i (click)="removeItem($event, item)" class="remove fa fa-times text-danger"
                                         aria-hidden="true"></i>
         </div>
      </ng-template>
      <input (keydown.backspace)="onKeyTab($event)" [(ngModel)]="searchValue" (ngModelChange)="searchChanged()" #search
             class="search" type="text"/>
   </div>
   <div class="dropdown-menu dropdown-menu-right variants"
        *dropdownMenu
        id="dropdown-columns-basic"
        aria-labelledby="dropdown-columns-btn"
        role="menu">
      <div *ngIf="!loading && (searchValue.length >= 3) && (searchedItems.length > 0)">
         <ng-template ngFor let-item [ngForOf]="searchedItems">
            <div style="white-space: pre-wrap;" (click)="changeItemSelection(item)" class="variant-item">{{item[textField]}}</div>
         </ng-template>
      </div>
      <div *ngIf="!loading && (searchValue.length >= 3) && (searchedItems.length === 0)">
         <span class="m-l-xs" style="color:#a0a0a0">Ничего не найдено</span>
      </div>
      <div *ngIf="(searchValue.length < 3)">
          <div class="m-l-xs" >
            <div style="color:#a0a0a0;white-space: pre-wrap;">Для начала поиска введите не меннее трех символов</div>
          </div>
      </div>
      <div *ngIf="loading">
        <span class="m-l-xs" style="color:#a0a0a0">Идет поиск ...</span>
    </div>
   </div>
</div>

