<div class="m-t-sm showcase-search-results-table" [ngClass]="model.settings.theme">
  <div style="overflow-x: auto; overflow-y: hidden">
    <div class="table-overflow-container" style="overflow: auto">
      <table class="table search-result-table table-striped table-hover" style="font-size:14px;color: #676a6c;">
        <thead>
          <tr style="border-top: 1px solid #f0f0f0;font-weight:600;">
            <ng-container *ngFor="let column of model.settings.tableColumns">
              <th [ngStyle]="{'width': column.width}" style="cursor: pointer;outline: none;white-space: nowrap;"
                  *ngIf="column.visible === true" (click)="sortChanged(column)">
                {{column.name}}
                <span
                  *ngIf="model.settings.tableSorting && column.field && column.field.sortable && column.field.defaultSorting === 'NONE'"
                  class="fa fa-angle-down"></span>
                <span
                  *ngIf="model.settings.tableSorting && column.field && column.field.sortable && column.field.defaultSorting === 'DESC'"
                  class="fa fa-caret-down"></span>
                <span
                  *ngIf="model.settings.tableSorting && column.field && column.field.sortable && column.field.defaultSorting === 'ASC'"
                  class="fa fa-caret-up"></span>
              </th>
            </ng-container>
          </tr>
          <tr *ngIf="model.settings.tableFilter" style="border-top: 1px solid #f0f0f0;font-weight:400;">
            <ng-container *ngFor="let column of model.settings.tableColumns; let i = index; let isFirst = first; let isLast = last">
              <!-- filters -->
              <th style="cursor: pointer;outline: none;white-space: nowrap;font-weight: 400;"
                  *ngIf="column.visible === true">
                <div *ngIf="column.filterable && !!column.filter">
                  <div [ngSwitch]="column.filter.field.type">
                    <div *ngSwitchCase="'dictionary'">
                      <div *ngIf="!column.filter.field.hierarchical">
                        <ng-select [multiple]="column.filter.multiple" appendTo="body"
                                   [items]="column.filter.field.dict"
                                   bindLabel="{{column.filter.field.dictionaryText}}"
                                   bindValue="{{column.filter.field.dictionaryCode}}"
                                   (change)="onFilterDictionaryChange(f)"
                                   [closeOnSelect]="true" [hideSelected]="true"
                                   [(ngModel)]="model.selectedFilters[column.filter.field.code]"></ng-select>
                      </div>
                      <div *ngIf="column.filter.field.hierarchical">
                        It will be realised later...
                      </div>
                    </div>
                    <div *ngSwitchCase="'date'">
                      <input type="text" bsDaterangepicker placement="{{column.filter.placement}}"
                             [bsConfig]="{
                              containerClass: 'theme-dark-blue' +
                                (isFirst || i === 1 ?  ' picker-first-col ' : '') +
                                (isLast || i === model.settings.tableColumns.length - 2 ?  ' picker-last-col ' : '')
                             }"
                             class="form-control"
                             (keyup.enter)="onDateFilterChange(column.filter)"
                             [(ngModel)]="model.selectedFilters[column.filter.field.code]"
                             (ngModelChange)="onDateFilterChange(column.filter)"/>
                    </div>
                    <div *ngSwitchCase="'user'">
                      <select-async [(ngModel)]="model.selectedFilters[column.filter.field.code]"
                                    (ngModelChange)="onFilterChange()"
                                    [findAsync]="findUsers" [multiple]="column.filter.multiple"
                                    [color]="model.settings.theme"
                                    [valueField]="'displayName'"
                                    [textField]="'displayName'"></select-async>
                    </div>
                    <div *ngSwitchCase="'boolean'">
                      <div *ngIf="column.filter.template">
                        <label class="m-r-md">
                          <radio [color]="model.settings.theme" (ngModelChange)="onFilterChange()" [value]="true"
                                 [(ngModel)]="model.selectedFilters[column.filter.field.code]">
                            <div style="display: inline-block; vertical-align: top">Да</div>
                          </radio>
                        </label>
                        <label class="m-r-md">
                          <radio [color]="model.settings.theme" (ngModelChange)="onFilterChange()" [value]="false"
                                 [(ngModel)]="model.selectedFilters[column.filter.field.code]">
                            <div style="display: inline-block; vertical-align: top">Нет</div>
                          </radio>
                        </label>
                      </div>
                      <div *ngIf="!column.filter.template">
                        <checkbox [color]="model.settings.theme" (ngModelChange)="onBooleanFilterChange(f)"
                                  [(ngModel)]="model.selectedFilters[column.filter.field.code]"></checkbox>
                      </div>
                    </div>
                    <div *ngSwitchDefault>
                      <input type="text" [(ngModel)]="model.selectedFilters[column.filter.field.code]"
                             class="form-control" name="{{column.filter.field.code}}"
                             (change)="onFilterChange()"/>
                    </div>
                  </div>
                </div>
              </th>
              <!-- / filters -->
            </ng-container>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items; let i=index;">
            <ng-container *ngFor="let column of model.settings.tableColumns">
              <td *ngIf="column.visible === true">
                <showcase-search-result-table-cell
                  [item]="item"
                  [template]="column.field ? column.field.code : null"
                  [dicts]="model.dicts"
                  [url]="'/sdo/instruction/#/app/instruction/memo/card/' + item.documentId"></showcase-search-result-table-cell>
                <!--<showcase-builder-runtime [item]="item" [template]="column.template" [dicts]="model.dicts"></showcase-builder-runtime>-->
              </td>
            </ng-container>
          </tr>
          <tr *ngIf="items.length === 0">
            <td [attr.colspan]="model.settings.tableColumns.length"
                style="text-align: center; height: 200px; padding-top: 40px;">
              <span class="text-warning" style="font-size: 20px">Ничего не найдено</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
