@import '../../../../../styles/variables';

/deep/ div.cdp-showcase-builder-search-results-table div.ng-select-container {
  border-radius: 0;
}

/deep/ .picker-first-col {
  transform: translate(40%, 0);
}

/deep/ .picker-last-col {
  transform: translate(-40%, 0);
}

@mixin theme($name, $color) {
  &.#{$name} {
    input[type="text"].form-control:focus {
      border: 1px solid $color !important;
    }
    textarea.form-control:focus {
      border: 1px solid $color !important;
    }
    select.form-control:focus {
      border: 1px solid $color !important;
    }


    .fa-caret-down, .fa-caret-up {
      color: $color ;
    }
  }
}

.cdp-showcase-builder-search-results-table {
  @include theme('green', $green);
  @include theme('aero', $aero);
  @include theme('blue', $blue);
  @include theme('gray', $gray);
  @include theme('orange', $orange);
  @include theme('pink', $pink);
}

.up-down {
  font-size: 20px;
}
