<div *ngIf="approvalHistory && approvalHistory.approvalCycle.length > 0">
  <div *ngFor="let approval of approvalHistory.approvalCycle; let i = index">
    <h4 style="outline: none" (click)="cycleShow[i] = !cycleShow[i]" class="m-t-md m-b-md" role="button">
      <i style="margin-right: 5px;" class="fa fa-caret-right" *ngIf="!cycleShow[i]"></i>
      <i style="margin-right: 5px;" class="fa fa-angle-down" *ngIf="cycleShow[i]"></i> Предыдущий цикл
      согласования {{ approval.approvalCycleNum }} от {{approval.approvalCycleDate | date:'dd.MM.yyyy'}}
    </h4>
    <div *ngIf="cycleShow[i]" style="margin-left:20px;">
      <div *ngIf="approval.approvalCycleFile">
        <div *ngFor="let approvalFile of approval.approvalCycleFile">
          <cdp-ex-file [fileInfo]="{nameFile: approvalFile.nameFile,
                                      idFile:   approvalFile.idFile,
                                      sizeFile: approvalFile.sizeFile,
                                      dateFile: approvalFile.dateFile,
                                      signed:   approvalFile.signed}" [showSize]="true" [showDate]="true" [checkSign]="true"
                       [downloadBaseHref]="'/filestore'"></cdp-ex-file>
        </div>
      </div>

      <mggt-approval-list [list]="approval"></mggt-approval-list>

    </div>
  </div>
</div>
