<div class="m-t-sm">Найдено записей: {{model.logs.length}}</div>
<div class="table-responsive">
  <table class="table animated fadeIn">
    <thead>
    <tr>
      <th style="vertical-align: bottom;min-width:120px;" *ngFor="let s of model.sortings">
               <span class="m-r-sm sorting" style="margin-right: 5px;">
                  <a (click)="changeOrder(s)">{{s.text}}
                     <span *ngIf="s.value === 'asc'" class="fa fa-sort-asc"></span>
                     <span *ngIf="s.value === 'desc'" class="fa fa-sort-desc"></span>
                  </a>
               </span>
      </th>
    </tr>
    <tr>
      <th style="font-weight: normal;">
        <ng-select name="operation"
                   [items]="operations"
                   [multiple]="false"
                   bindLabel="name"
                   bindValue="value"
                   [closeOnSelect]="true"
                   [hideSelected]="true"
                   [(ngModel)]="model.filter.operation" (modelChange)="changeFilter()">
        </ng-select>
      </th>
      <th style="min-width:175px;font-weight: normal;">
        <cdp-date-selector-ms [(model)]="model.filter.dateEdit" (modelChange)="changeFilter()"></cdp-date-selector-ms>
      </th>
      <th style="min-width:175px;font-weight: normal;">
        <ng-select name="user"
                   [items]="model.filter.users"
                   [multiple]="false"
                   [closeOnSelect]="true"
                   [hideSelected]="true"
                   [(ngModel)]="model.filter.user" (modelChange)="changeFilter()">
        </ng-select>
      </th>
      <th>
        <input style="font-weight: normal;" type="text" class="form-control" [(ngModel)]="model.filter.path"
               (ngModelChange)="changeFilterText()">
      </th>
      <th>
        <input style="font-weight: normal;" type="text" class="form-control" [(ngModel)]="model.filter.value"
               (ngModelChange)="changeFilterText()">
      </th>
    </tr>

    </thead>
    <tbody *ngIf="model.logs.length > 0">
    <tr *ngFor="let log of model.logs">
      <td>
        <span class="label label-primary" *ngIf="log.operation === 'replace'">Изменено</span>
        <span class="label label-success" *ngIf="log.operation === 'add'">Добавлено</span>
        <span class="label label-danger" *ngIf="log.operation === 'remove'">Удалено</span>
      </td>
      <td>{{log.dateEdit | date: 'dd.MM.yyyy HH:mm'}}</td>
      <td>{{log.userName}}</td>
      <td>{{log.path}}</td>
      <td>
        <pre *ngIf="log.operation !== 'remove'">{{log.value | json}}</pre>
      </td>
    </tr>
    </tbody>
    <tbody *ngIf="model.logs.length === 0" style="border:0">
    <tr>
      <td colspan="5" style="padding-top: 20px;padding-bottom:200px;text-align: center;border:0;">
        <span><i class="fa fa-exclamation-triangle text-warning"></i> В таблице отсутствуют значения</span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
