<cdp-loading-block [loadingStatus]="loading">
  <div success>
    <div *ngIf="success" class="container-fluid" style="background-color: #fff">
      <div class="row">
        <div class="col-xs-12">
          <div class="clearfix">
            <h2 class="font-bold pull-left" *ngIf="activeTab !== 'assignmentsMKA'">Реестр поручений</h2>
            <h2 class="font-bold pull-left" *ngIf="activeTab === 'assignmentsMKA'">Поручения МКА</h2>
            <div class="pull-right" *ngIf="activeTab !== 'assignmentsMKA'">
              <button class="btn btn-warning ladda-button m-r-sm"
                      type="button"
                      (click)="createReport()"
                      [ladda]="creatingReport"
                      data-spinner-color="#FFFFFF"
                      data-style="expand-right"
                      cdp-is-auth="INSTRUCTION_INSTRUCTION_REPORT">
                Выгрузить отчет
              </button>
              <a uiSref="app.instruction.instruction-new" [uiParams]="{}" class="btn btn-violet"
                 cdp-is-auth="INSTRUCTION_INSTRUCTION_ADD_BUTTON"
                (click)="saveLinkForNew()"><i
                class="fa fa-file"></i> Дать поручение</a>
            </div>
          </div>

          <div class="search-form">
            <form (submit)="searchChanged()">
              <div class="input-group">
                <input class="form-control input-lg" name="commonSearch"
                       placeholder="Номер поручения, автор поручения или ответственный исполнитель"
                       [(ngModel)]="searchQuery">
                <div class="input-group-btn">
                  <button class="btn btn-lg btn-primary" type="submit">Найти</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div>
            <ul class="nav nav-tabs m-t-xs">
              <li class="uib-tab nav-item" *ngFor="let tab of tabs" (click)="activate(tab.alias)">
                <a class="nav-link ng-binding"
                   [ngClass]="isActive(tab.alias) ? 'active-tab-bottom' : ''">{{tab.title}}</a>
              </li>
            </ul>

          </div>
        </div>
      </div>
      <div class="row m-t-lg" style="position: relative; z-index: 10;">
        <assigment-list-filters [filter]="filter"
                                [(overdue)]="overdue"
                                [dicts]="dicts"
                                (filterChanged)="filterChange($event)"
                                (overdueChanged)="overdueChange($event)"
                                (filterReset)="clear()"
                                [isMka]="activeTab === 'assignmentsMKA'"
        ></assigment-list-filters>
      </div>

      <div *ngFor="let tab of tabs">
        <assigment-list *ngIf="isActive(tab.alias)"
                        [dicts]="dicts"
                        [filter]="filter"
                        [overdue]="overdue"
                        [preFilter]="preFilter[tab.alias]"
                        [filterChanged]="updateList"
                        [isMka]="activeTab === 'assignmentsMKA'"
        ></assigment-list>
      </div>
    </div>
  </div>
  <div error>
    <div class="container">
      <div class="row">
        <div class="m-t-sm" style="padding: 20px 45px;">
          <span class="fa fa-times-circle text-danger"></span>
          <span>Ошибка формирования витрины</span>
        </div>
      </div>
    </div>
  </div>
  <div loading>
    <div class="m-t-sm">
      <div style="height: 200px; padding-top: 45px;">
        <cdp-spinner style="margin:5px;" [type]="'three-bounce'"></cdp-spinner>
      </div>
    </div>
  </div>
</cdp-loading-block>
