<ng-container *ngIf="!!item[template]">
  <ng-container *ngIf="templateType === 'label-dictionary'" [ngSwitch]="!!url">
    <a *ngSwitchCase="true" class="label label-{{item[template]?.color}}" href="{{url}}">
      {{item[template]?.name}}
    </a>
    <div *ngSwitchDefault class="label label-{{item[template]?.color}}">{{item[template]?.name}}</div>
  </ng-container>

  <ng-container *ngIf="templateType === 'dictionary'" [ngSwitch]="!!url">
    <a *ngSwitchCase="true" style="color: #676a6c;" href="{{url}}">{{item[template]?.name}}</a>
    <div *ngSwitchDefault>{{item[template]?.name}}</div>
  </ng-container>

  <ng-container *ngIf="templateType === 'text'" [ngSwitch]="!!url">
    <a *ngSwitchCase="true" style="color: #676a6c;" href="{{url}}">{{item[template]}}</a>
    <div *ngSwitchDefault>{{item[template]}}</div>
  </ng-container>

  <ng-container *ngIf="templateType === 'date'" [ngSwitch]="!!url">
    <a *ngSwitchCase="true" style="color: #676a6c;" href="{{url}}">{{item[template] | date: 'dd.MM.yyyy'}}</a>
    <div *ngSwitchDefault>{{item[template] | date: 'dd.MM.yyyy'}}</div>
  </ng-container>
</ng-container>


<!--<pre>{{item | json}}</pre>-->
