<button class="btn btn-white"
        *ngIf="isShow"
        [disabled]="loading || isDisabled || revoking"
        (click)="revoke()">
  <i class="fas m-r-sm" [ngClass]="{'fa-paper-plane': !revoking, 'fa-spinner fa-spin': revoking}"></i>
  Отозвать исполнение
</button>
