.hint {
  position: fixed;
  top: -1000px;
  left: -1000px;
  display: inline;
  background: #fff;
  font-size: 11px;
  padding: 3px 7px 4px 7px;
  border: solid 1px #222;
  cursor: default;
  z-index: 999;
}
