<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">
      <div *blockUI="'scanMemo'">
        <h2 class="m-b-md">
          {{document.memoKind.name}}
          <a uiSref="app.instruction.memo-card" [uiParams]="{ id: document.documentId }">
            от {{document.beginDate | date: 'dd.MM.yyyy'}} № {{document.number}}
          </a>
          <div>{{document.content}}</div>
        </h2>

        <h4>Информация</h4>
        <div class="description">
          <dl class="dl-horizontal">
            <dt *ngIf="document.creator.fioFull"><span>Кто подписал</span></dt>
            <dd *ngIf="document.creator.fioFull">{{document.creator.fioFull}}</dd>

            <dt *ngIf="document.recipient.fioFull"><span>Исполнитель</span></dt>
            <dd *ngIf="document.recipient.fioFull">{{document.recipient.fioFull}}</dd>

            <dt><span>Срок рассмотрения</span></dt>
            <dd>{{document.reportTermDoc.reportTerm.name}}</dd>

            <dt *ngIf="document.executor.length"><span>Кому</span></dt>
            <dd *ngIf="document.executor.length">
              <span *ngFor="let executor of document.executor; let i = index"><span *ngIf="i">,
                </span>{{executor.fioFull}}</span>
            </dd>

            <dt *ngIf="document.description"><span>Текст</span></dt>
            <dd *ngIf="document.description" style="cursor: pointer;">
              <div
                style="width: 300px; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;"
                *ngIf="!isFullDescription" (click)="toggleDescription()">
                {{document.description}}
              </div>
              <div *ngIf="isFullDescription" style="width: 300px;" (click)="toggleDescription()">
                {{document.description}}
              </div>
            </dd>

            <dt *ngIf="document.headingTopic.name"><span>Тема рубрики</span></dt>
            <dd *ngIf="document.headingTopic.name">{{document.headingTopic.name}}</dd>

            <dt *ngIf="document.activityKind.name"><span>Вид деятельности Треста</span></dt>
            <dd *ngIf="document.activityKind.name">{{document.activityKind.name}}</dd>

            <dt *ngIf="document.privacy && document.privacy.name"><span>Конфиденциальность</span></dt>
            <dd *ngIf="document.privacy && document.privacy.name">{{document.privacy.name}}</dd>

            <dt *ngIf="document.assistant.fioFull"><span>Карточку создал</span></dt>
            <dd *ngIf="document.assistant.fioFull">{{document.assistant.fioFull}}</dd>

            <span class="form-inline" (mouseover)="getAlt(document.limitedAccess,'hint', true)" (mouseout)="getAlt(document.limitedAccess,'hint')">
              <dt><span>Ограниченный доступ</span></dt>
              <dd>{{document.limitedAccess? 'Да' : 'Нет'}}</dd>
            </span>

            <div id="hint" class="hint">
              {{document.limitedAccess? 'Документ доступен только участникам процесса' : ''}}
            </div>

          </dl>
        </div>

        <div class="description">
          <dl class="dl-horizontal">
            <dt *ngIf="relatedMemos.length">Связанные документы</dt>
            <dd *ngIf="relatedMemos.length">
              <div *ngFor="let relatedMemo of relatedMemos">
                <a uiSref="app.instruction.memo-card" [uiParams]="{ id: relatedMemo.documentId }">
                  {{relatedMemo.memoKind.name}} № {{relatedMemo.number}} от {{relatedMemo.beginDate | date:
                  'dd.MM.yyyy'}}
                </a>
              </div>
            </dd>
            <dt *ngIf="document.note">Примечание</dt>
            <dd *ngIf="document.note">
              <span style="white-space:pre-wrap;">{{document.note}}</span>
            </dd>
            <dt *ngIf="document.draftFiles.length"><span>Проект ВД</span></dt>
            <dd *ngIf="document.draftFiles.length">
              <div *ngFor="let file of document.draftFiles">
                <cdp-ex-file [fileInfo]="file" [showSize]="true" [showDate]="true" [downloadBaseHref]="'/filestore'">
                </cdp-ex-file>
              </div>
            </dd>
          </dl>
        </div>

        <div class="m-b-md" cdp-is-auth="SDO_LINK_LINK_VIEW">
          <cdp-expanded-section [expand]="showLinkedElements">
            <span header-slot style="display:inline;">Связанные элементы</span>
            <div content-slot>
              <div class="m-t-md">
                <sdo-linked-elements [docId]="document.documentId"
                                     [docType]="'SDO_INSTRUCTION_MEMO'"
                                     [subsystemCode]="'SDO_INSTRUCTION'"
                                     [mode]="'view'"></sdo-linked-elements>
              </div>
            </div>
          </cdp-expanded-section>
        </div>

        <hr />

        <div class="description">
          <dl class="dl-horizontal">
            <dt style="font-size: 16px;background: none;"><span>Отсканированная копия</span></dt>
            <dd style="max-width: 600px;">
              <div *ngIf="files.length === 0">
                <cdp-ex-file-manager [(files)]="files" [openable]="true" [baseMode]="false" [deletable]="true"
                  [fileType]="'default'" [downloadable]="true" [folderGuid]="document.folderId" extPattern="pdf"
                  [maxNumberOfFiles]="1" [downloadBlank]="true" [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
                <div class="dropzone" *ngIf="uploading" style="padding-top: 62px;">
                  <div *ngIf="uploading">
                    <cdp-spinner [type]="'circle'"></cdp-spinner>
                  </div>
                </div>
              </div>

              <div *ngIf="files.length !== 0">
                <div *ngFor="let file of files" class="m-t-xs">
                  <cdp-ex-file [fileInfo]="file" [folderGuid]="document.folderId" [showSize]="true" [showDate]="true"
                    [downloadBaseHref]="'/filestore'" [deletable]="true" (onRemove)="deleteDocument($event)">
                  </cdp-ex-file>
                </div>
              </div>
            </dd>
          </dl>
        </div>

        <form class="row m-b-md">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
          <div class="col-lg-7 col-md-8 col-sm-9 control-block">
            <button *ngIf="document.memoKind.code !== '16'" type="button" class="btn btn-sm btn-primary m-r-sm"
              (click)="execute()" [ladda]="executing" data-spinner-size="18" data-spinner-color="#FFFFFF"
              data-style="expand-right">
              Исполнено
            </button>
            <button *ngIf="document.memoKind.code === '16'" type="button" class="btn btn-sm btn-primary m-r-sm"
              (click)="sendToReview()" [ladda]="sendingToReview" data-spinner-size="18" data-spinner-color="#FFFFFF"
              data-style="expand-right">
              Отправить на рассмотрение
            </button>
            <button type="button" class="btn btn-sm btn-primary m-r-sm" (click)="save()" [ladda]="saving"
              data-spinner-size="18" data-spinner-color="#FFFFFF" data-style="expand-right">
              <i class="fa m-r-xs"></i>Сохранить
            </button>
            <button type="button" class="btn btn-warning btn-sm m-r-sm" (click)="cancel()">
              <i class="fa m-r-xs"></i>Отмена
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div error>
    <div style="height: 200px; padding-top: 70px;">
      <h3 class="text-center"><i class="fa fa-exclamation-triangle text-warning"></i>&nbsp;Ошибка при формировании
        карточки задачи</h3>
    </div>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>
