
<div style="background-color:white" *ngIf="!loading">

  <div class="m-b-md hidden-xs">
    <ul class="nav nav-tabs m-t-xs">
      <li *ngFor="let tab of tabs" class="uib-tab nav-item">
        <a class="nav-link ng-binding" uiSref="app.instruction.showcase-memo" [uiParams]="{tab: tab.code}"
           [ngClass]="isActive(tab.code) ? 'active-tab-bottom' : ''">{{tab.name}}</a>
      </li>
    </ul>
  </div>

  <div class="hidden-xs" *ngIf="!$localStorage.isMobile" [ngSwitch]="activeTab">
    <mggt-memo-showcase-desktop *ngSwitchCase="'memo'"></mggt-memo-showcase-desktop>
    <cdp-showcase-builder [config]="config" *ngSwitchDefault></cdp-showcase-builder>
  </div>

  <div class="visible-xs hidden-sm" *ngIf="$localStorage.isMobile">
    <mggt-memo-showcase-mobile></mggt-memo-showcase-mobile>
  </div>

</div>

<cdp-spinner *ngIf="loading" [type]="'three-bounce'"></cdp-spinner>
