<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">
      <div *blockUI="'cardOrder'">
        <div class="clearfix">
          <div class="pull-left">
            <h3 *ngIf="!isInstructionMKA">Поручение № {{document.instruction.number}}</h3>
            <h3 *ngIf="isInstructionMKA">Поручение МКА № {{document.instruction.number}}</h3>
          </div>
          <div class="pull-right order-card-menu" *ngIf="!isInstructionMKA">
            <mggt-order-card-menu [document]="document" [dicts]="dicts" [initProcess]="init" (onSave)="reload($event)"></mggt-order-card-menu>
          </div>
        </div>
        <h2 class="m-t-sm m-b-sm semibold" style="font-weight: 600; word-break: break-all;">{{document.instruction.content}}</h2>
        <h3 *ngIf="document.instruction.subject?.code">Тема: {{document.instruction.subject?.name}}</h3>
        <div class="m-t-xs m-b-xs">
          <span>Автор поручения:
            <span style="font-weight:600">{{document.instruction.creator.fioFull}}</span>
          </span>
          <br>
          <span *ngIf="document.instruction.assistant.fioFull">Карточку создал:
            <span style="font-weight:600">{{document.instruction.assistant.fioFull}}</span>
          </span>
          <br *ngIf="document.instruction.assistant.fioFull">
          <span>Ответственный исполнитель:
            <span style="font-weight:600">{{document.instruction.executor?.fioFull}}</span>
          </span>
          <br>
          <div *ngIf="!document.instruction.repeated?.repeatedSign">
            <span>Дата поручения:
              <span style="font-weight:600">{{document.instruction.beginDate | date: 'dd.MM.yyyy HH:mm'}}</span>
            </span>
          </div>
          <div *ngIf="document.instruction.repeated?.repeatedSign">
            <span>Первичный срок исполнения:
              <span style="font-weight:600">{{document.instruction.primaryDate | date: 'dd.MM.yyyy HH:mm'}}</span>
            </span>
            <br>
            <span>Период повтора:
              <span style="font-weight:600">{{getRepeatPeriod(document.instruction.repeated)}}</span>
            </span>
            <br>
            <span>Ближайший срок исполнения:
              <span style="font-weight:600">{{document.instruction.planDate | date: 'dd.MM.yyyy HH:mm'}}</span>
            </span>
          </div>
          <span *ngIf="!document.instruction.repeated?.repeatedSign">Срок исполнения:
            <span style="font-weight:600">{{document.instruction.planDate | date: 'dd.MM.yyyy HH:mm'}}</span>
            <mggt-plan-date-history [document]="document"></mggt-plan-date-history>
          </span>
        </div>
        <div class="m-t-sm m-b-xs">
          <span class="label label-{{document.statusId.color}} m-r-xs">{{document.statusId.name}}</span>
          <span *ngIf="document.instruction.repeated?.repeatedSign" class="label label-success">Регулярное</span>
        </div>
        <div class="panel blank-panel">
          <div style="margin-top:20px;background-color:white;">
            <ul class="nav nav-tabs" (click)="$event.preventDefault()">
              <li class="nav-item" [class.active]="selectedTab === 0">
                <a href="javascript:void(0);" class="nav-link" [class.active]="selectedTab === 0" (click)="selectedTab = 0">
                  <span>Поручение</span>
                </a>
              </li>
              <li class="nav-item" [class.active]="selectedTab === 9" *ngIf="!document.receivedFromMKA.FromMKA && document.instruction.coExecutor && document.instruction.coExecutor.length > 0">
                <a href="javascript:void(0);" class="nav-link" [class.active]="selectedTab === 9" (click)="selectedTab = 9">
                  <span>Соисполнители</span>
                </a>
              </li>
              <li class="nav-item" [class.active]="selectedTab === 6" *ngIf="document.receivedFromMKA.FromMKA">
                <a href="javascript:void(0);" class="nav-link" [class.active]="selectedTab === 6" (click)="selectedTab = 6">
                  <span>Внутренние поручения</span>
                </a>
              </li>
              <li class="nav-item" [class.active]="selectedTab === 7" *ngIf="document.receivedFromMKA.FromMKA">
                <a href="javascript:void(0);" class="nav-link" [class.active]="selectedTab === 7" (click)="selectedTab = 7">
                  <span>Ознакомление</span>
                </a>
              </li>
              <li class="nav-item" [class.active]="selectedTab === 8" *ngIf="(!document.receivedFromMKA || !document.receivedFromMKA.FromMKA) && document.forInformation && document.forInformation.length">
                <a href="javascript:void(0);" class="nav-link" [class.active]="selectedTab === 8" (click)="selectedTab = 8">
                  <span>К сведению</span>
                </a>
              </li>
              <li class="nav-item" [class.active]="selectedTab === 1" *ngIf="subTasks && subTasks.length > 0 && !isInstructionMKA">
                <a href="javascript:void(0);" class="nav-link" [class.active]="selectedTab === 1" (click)="selectedTab = 1">
                  <span>Подзадачи</span>
                </a>
              </li>

              <li class="nav-item" [class.active]="selectedTab === 2" *ngIf="(linked && linked.length > 0)">
                <a href="javascript:void(0);" class="nav-link" [class.active]="selectedTab === 2" (click)="selectedTab = 2">
                  <span>Связанные поручения</span>
                </a>
              </li>
              <!--
              <li class="nav-item" [class.active]="selectedTab === 2" *ngIf="((linked && linked.length > 0) && showLinked) && !isInstructionMKA">
                <a href="javascript:void(0);" class="nav-link" [class.active]="selectedTab === 2" (click)="selectedTab = 2">
                  <span>Связанные поручения</span>
                </a>
              </li>
              -->

              <li class="nav-item" [class.active]="selectedTab === 3" *ngIf="init">
                <a href="javascript:void(0);" class="nav-link" [class.active]="selectedTab === 3" (click)="selectedTab = 3">
                  <span>Процесс</span>
                </a>
              </li>
              <li class="nav-item" [class.active]="selectedTab === 4" cdp-is-auth="INSTRUCTION_INSTRUCTION_CARD_HISTORY" *ngIf="!isInstructionMKA">
                <a href="javascript:void(0);" class="nav-link" [class.active]="selectedTab === 4" (click)="selectedTab = 4">
                  <span>История изменений документа</span>
                </a>
              </li>
              <li class="nav-item" [class.active]="selectedTab === 5" cdp-is-auth="INSTRUCTION_INSTRUCTION_CARD_JSON" *ngIf="!isInstructionMKA">
                <a href="javascript:void(0);" class="nav-link" [class.active]="selectedTab === 5" (click)="selectedTab = 5">
                  <span>JSON редактор документа</span>
                </a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="m-t-md" *ngIf="selectedTab === 0">
                <div class="pull-right">
                  <mggt-btn-revoke-execution [model]="document" [source]="'order'"></mggt-btn-revoke-execution>
                </div>
                <cdp-expanded-section *ngIf="parentDocument" [(expand)]="parentDocumentExpanded">
                  <span header-slot style="display:inline;">
                    Главное поручение
                  </span>
                  <div content-slot>
                    <mggt-main-order-info [mainOrder]="parentDocument"></mggt-main-order-info>
                  </div>

                </cdp-expanded-section>
                <cdp-expanded-section [hidden]="!(pairs.length > 0 && !document.instruction.expressMeetingID)" [(expand)]="meetingExpanded">
                  <span header-slot style="display:inline;">Совещание</span>
                  <div content-slot>
                    <div class="m-b-sm  m-t-md">
                      <div *ngFor="let p of pairs" class="description">
                        <dl class="dl-horizontal m-l-md  m-t-md">
                          <dt>
                            <span>Совещание</span>
                          </dt>
                          <dd>
                            <a target="_blank" href="/sdo/meeting/#/app/meeting/protocol/{{p.protocol.documentId}}" *ngIf="p.protocol">
                              {{p.protocol.meetingShortName}}
                              <span>№</span>
                              <span>{{p.protocol.meetingNumber}}</span>
                              <span *ngIf="p.protocol.meetingNumber && p.protocol.meetingDate"> от </span>
                              <span>{{p.protocol.meetingDate | date:'dd.MM.yyyy'}}</span>
                            </a>
                            <span *ngIf="!p.protocol">{{p.question.meetingShortName}}</span>
                          </dd>
                          <dt>
                            <span>Вопрос</span>
                          </dt>
                          <dd>
                            <a target="_blank" href="/sdo/meeting/#/app/meeting/question/{{p.question.documentId}}">№ {{p.question.itemNumber}}</a>
                          </dd>
                          <dt>
                            <span>Текст вопроса</span>
                          </dt>
                          <dd>
                            <span>{{p.question.question}}</span>
                          </dd>
                        </dl>
                      </div>
                    </div>
                  </div>
                </cdp-expanded-section>

                <!-- Поручение МКА -->
                <cdp-expanded-section *ngIf="instructionMka" [(expand)]="instructionMkaExpanded">

                  <span header-slot style="display:inline;">Поручение МКА</span>

                  <div content-slot>
                    <div class="description m-t-sm">
                      <dl class="dl-horizontal m-l-md">
                        <dt>
                          <span>Поручение</span>
                        </dt>
                        <dd>
                          <a uiSref="app.instruction.instruction-card" [uiParams]="{id: instructionMka.documentId}" target="_blank">
                            № {{instructionMka.instructionNumber}}
                          </a>
                        </dd>
                        <dt>
                          <span>Дата поручения</span>
                        </dt>
                        <dd>
                          {{instructionMka.beginDate}}
                        </dd>
                        <dt>
                          <span>Содержание</span>
                        </dt>
                        <dd style="word-break: break-all;">
                          {{instructionMka.content}}
                        </dd>
                      </dl>
                    </div>
                  </div>

                </cdp-expanded-section>

                <!-- Распорядительный документ МКА -->
                <cdp-expanded-section *ngIf="orderMka" [(expand)]="orderMkaExpanded">

                  <span header-slot style="display:inline;">Распорядительный документ МКА</span>

                  <div content-slot>
                    <div class="description m-t-sm">
                      <dl class="dl-horizontal m-l-md">
                        <dt>
                          <span>Наименование</span>
                        </dt>
                        <dd>
                          <a href="/sdo/order/#/app/order/document/{{orderMka.sys_documentId}}" target="_blank">
                            {{orderMka.docType}}
                          </a>
                        </dd>
                        <dt>
                          <span>Номер</span>
                        </dt>
                        <dd>
                          № {{orderMka.docNumber}}
                        </dd>
                        <dt>
                          <span>Дата</span>
                        </dt>
                        <dd>
                          {{orderMka.docDate | date: 'dd.MM.yyyy'}}
                        </dd>
                        <dt>
                          <span>Содержание</span>
                        </dt>
                        <dd>
                          {{orderMka.docContent}}
                        </dd>
                      </dl>
                    </div>
                  </div>

                </cdp-expanded-section>

                <!-- Повестка регламентного совещания МКА -->
                <cdp-expanded-section *ngIf="agendaMka" [(expand)]="agendaMkaExpanded">

                  <span header-slot style="display:inline;">Повестка регламентного совещания МКА</span>

                  <div content-slot>
                    <div class="description m-t-sm">
                      <dl class="dl-horizontal m-l-md">
                        <dt>
                          <span>Наименование</span>
                        </dt>
                        <dd>
                          <a href="/sdo/meeting/#/app/meeting/agenda/{{meetingMka.documentId}}" target="_blank">
                            {{meetingTypeAgendaFull}}
                          </a>
                        </dd>
                        <dt>
                          <span>Дата</span>
                        </dt>
                        <dd>
                          {{agendaMka.meetingDate | date: 'dd.MM.yyyy'}}
                        </dd>
                        <dt *ngIf="agendaMka.meetingThemeName">
                          <span>Содержание</span>
                        </dt>
                        <dd *ngIf="agendaMka.meetingThemeName">
                          {{agendaMka.meetingThemeName}}
                        </dd>
                      </dl>
                    </div>
                  </div>

                </cdp-expanded-section>

                <!-- Протокол регламентного совещания МКА -->
                <cdp-expanded-section *ngIf="protocolMka" [(expand)]="protocolMkaExpanded">

                  <span header-slot style="display:inline;">Протокол регламентного совещания МКА</span>

                  <div content-slot>
                    <div class="description m-t-sm">
                      <dl class="dl-horizontal m-l-md">
                        <dt>
                          <span>Наименование</span>
                        </dt>
                        <dd>
                          <a href="/sdo/meeting/#/app/meeting/protocol/{{protocolMka.documentId}}" target="_blank">
                            {{protocolMka.meetingFullName}}
                          </a>
                        </dd>
                        <dt>
                          <span>Номер</span>
                        </dt>
                        <dd>
                          № {{protocolMka.meetingNumber}}
                        </dd>
                        <dt>
                          <span>Дата</span>
                        </dt>
                        <dd>
                          {{protocolMka.meetingDate | date: 'dd.MM.yyyy'}}
                        </dd>
                      </dl>
                    </div>
                  </div>

                </cdp-expanded-section>

                <!-- Административное совещание МКА -->
                <cdp-expanded-section *ngIf="expressMeetingMka" [(expand)]="expressMeetingMkaExpanded">

                  <span header-slot style="display:inline;">Административное совещание МКА</span>

                  <div content-slot>
                    <div class="description m-t-sm">
                      <dl class="dl-horizontal m-l-md">
                        <dt>
                          <span>Наименование</span>
                        </dt>
                        <dd>
                          <a href="/sdo/meeting/#/app/meeting/agenda/{{expressMeetingMka.documentId}}" target="_blank">
                            {{meetingTypeExpressMeetingFull}}
                          </a>
                        </dd>
                        <dt>
                          <span>Номер</span>
                        </dt>
                        <dd>
                          № {{expressMeetingMka.meetingNumber}}
                        </dd>
                        <dt>
                          <span>Дата</span>
                        </dt>
                        <dd>
                          {{expressMeetingMka.meetingDate}}
                        </dd>
                        <dt *ngIf="expressMeetingMka.meetingThemeName">
                          <span>Содержание</span>
                        </dt>
                        <dd *ngIf="expressMeetingMka.meetingThemeName">
                          {{expressMeetingMka.meetingThemeName}}
                        </dd>
                      </dl>
                    </div>
                  </div>

                </cdp-expanded-section>


                <cdp-expanded-section [hidden]="!document.instruction.expressMeetingID" [(expand)]="admMeetingExpanded">
                  <span header-slot style="display:inline;">Административное совещание</span>
                  <div content-slot>
                    <div *ngFor="let m of meeting" class="description">
                      <dl class="dl-horizontal m-l-md  m-t-md">
                        <dt>
                          <span>Совещание</span>
                        </dt>
                        <dd>
                          <a href="/sdo/meeting/#/app/meeting/agenda/{{m.agendaID}}" target="_blank">
                            {{instructionDocumentService.getMeetingType(m.meetingType, dicts.meetingTypes).meetingShortName}} №{{m.meetingNumber}}
                            от {{m.meetingDate | date:'dd.MM.yyyy'}}
                          </a>
                        </dd>
                        <dt *ngIf="meetingQuestion && meetingQuestion.length">
                          <span>Вопрос</span>
                        </dt>
                        <dd *ngIf="meetingQuestion && meetingQuestion.length">
                          <span> №{{meetingQuestion[0].itemNumber}}</span>
                        </dd>
                        <dt *ngIf="meetingQuestion && meetingQuestion.length">
                          <span>Текст вопроса</span>
                        </dt>
                        <dd *ngIf="meetingQuestion && meetingQuestion.length">
                          <span>{{meetingQuestion[0].question}}</span>
                        </dd>
                      </dl>
                    </div>
                  </div>
                </cdp-expanded-section>
                <cdp-expanded-section *ngIf="document.instruction.memoView && document.instruction.memoId" [(expand)]="memoExpanded">
                  <span header-slot style="display:inline;">Служебная записка</span>
                  <div content-slot>
                    <div class="description">
                      <dl class="dl-horizontal m-l-md  m-t-md">
                        <dt>
                          <span>Номер</span>
                        </dt>
                        <dd>
                          <a *ngIf="!(document.receivedFromMKA && document.receivedFromMKA.FromMKA)" uiSref="app.instruction.memo-card" [uiParams]="{id: memo.documentId}">{{memo.number}}</a>
                          <a *ngIf="document.receivedFromMKA && document.receivedFromMKA.FromMKA" uiSref="app.instruction.memomka-card" [uiParams]="{id: memo.documentId}">{{memo.number}}</a>
                        </dd>
                        <dt>
                          <span>Дата</span>
                        </dt>
                        <dd>
                          <span>{{memo.beginDate | date:'dd.MM.yyyy'}}</span>
                        </dd>
                        <dt>
                          <span>Тема</span>
                        </dt>
                        <dd>
                          <span style="white-space:pre-wrap;">{{memo.content}}</span>
                        </dd>
                      </dl>
                    </div>
                  </div>
                </cdp-expanded-section>
                <cdp-expanded-section *ngIf="document.instruction.memoMKAID" [(expand)]="memoMKAExpanded">
                  <span header-slot style="display:inline;">Служебная записка МКА</span>
                  <div content-slot>
                    <div class="description">
                      <dl class="dl-horizontal m-l-md  m-t-md">
                        <dt>
                          <span>Номер</span>
                        </dt>
                        <dd>
                          <a uiSref="app.instruction.memomka-card" [uiParams]="{id: memoMKA.documentId}">{{memoMKA.number}}</a>
                        </dd>
                        <dt>
                          <span>Дата</span>
                        </dt>
                        <dd>
                          <span>{{memoMKA.beginDate | date:'dd.MM.yyyy'}}</span>
                        </dd>
                        <dt>
                          <span>Тема</span>
                        </dt>
                        <dd>
                          <span style="white-space:pre-wrap;">{{memoMKA.content}}</span>
                        </dd>
                      </dl>
                    </div>
                  </div>
                </cdp-expanded-section>

                <cdp-expanded-section *ngIf="!!rd.length" [(expand)]="rdExpand">
                  <span header-slot style="display:inline;">Распорядительный документ</span>
                  <div content-slot>
                    <div class="m-l-md m-b-md m-t-md" *ngFor="let doc of rd">
                      <div>{{doc.docType}}
                        <a href="/sdo/order/#/app/order/document/{{doc.sys_documentId}}" target="_blank">
                          {{doc.docNumber ? ' № ' + doc.docNumber : ''}}
                          {{doc.docDate ? ' от ' : ''}}{{doc.docDate | date: 'dd.MM.yyyy'}}
                        </a>
                      </div>
                      <div class="m-t-xs" *ngIf="doc.docContent">{{doc.docContent}}</div>
                    </div>
                  </div>
                </cdp-expanded-section>

                <cdp-expanded-section [(expand)]="instructionExpanded">
                  <span header-slot style="display:inline;">Поручение</span>
                  <div content-slot>
                    <div class="m-t-md">
                      <div class="description">
                        <dl class="dl-horizontal m-l-md">
                          <dt *ngIf="previousDocument">
                            <span>Предыдущее поручение</span>
                          </dt>
                          <dd *ngIf="previousDocument">
                            <a uiSref="app.instruction.instruction-card" [uiParams]="{id: previousDocument[0].documentId}"
                               target="_blank">{{previousDocument[0].description}}</a>
                          </dd>
                          <ng-container *ngIf="getCoExecutors().length > 0">
                            <dt><span>Соисполнители</span></dt>
                            <dd>
                              <div *ngFor="let e of getCoExecutors()">{{e.reviewBy.fioFull}}</div>
                            </dd>
                          </ng-container>
                          <ng-container *ngIf="getForInformation().length > 0">
                            <dt><span>К сведению</span></dt>
                            <dd>
                              <div *ngFor="let e of getForInformation()">{{e.reviewBy.fioFull}}</div>
                            </dd>
                          </ng-container>
                          <dt *ngIf="document.instruction.description">
                            <span>Описание поручения</span>
                          </dt>
                          <dd *ngIf="document.instruction.description">
                            <span style="white-space:pre-wrap; word-break: break-all;">{{document.instruction.description}}</span>
                          </dd>
                          <dt *ngIf="document.instruction.theme?.name">
                            <span>Рубрикатор</span>
                          </dt>
                          <dd *ngIf="document.instruction.theme?.name">
                            {{document.instruction.theme?.name}}
                          </dd>
                          <dt *ngIf="document.instruction.private !== null">
                            <span>Личное поручение</span>
                          </dt>

                          <dd *ngIf="document.instruction.private !== null">
                            {{(document.instruction.private) ? 'да' : 'нет'}}
                          </dd>

                          <dt *ngIf="document.instruction.kindInstruction.name">
                            <span>Вид поручения</span>
                          </dt>
                          <dd *ngIf="document.instruction.kindInstruction.name">
                            {{document.instruction.kindInstruction.name}}
                          </dd>

                          <dt *ngIf="files.length > 0">
                            <span>Файлы</span>
                          </dt>
                          <dd *ngIf="files.length > 0">
                            <div *ngFor="let f of files">
                              <cdp-ex-file [fileInfo]="f" [showSize]="true" [showDate]="true" [checkSign]="true"
                                           [downloadBaseHref]="'/filestore'">
                              </cdp-ex-file>
                            </div>
                          </dd>
                          <dt *ngIf="document.instruction.priority.name">
                            <span>Приоритет</span>
                          </dt>
                          <dd *ngIf="document.instruction.priority.name">
                            {{document.instruction.priority.name}}
                          </dd>
                          <dt *ngIf="document.instruction.difficulty.name">
                            <span>Сложность</span>
                          </dt>
                          <dd *ngIf="document.instruction.difficulty.name">
                            {{document.instruction.difficulty.name}}
                          </dd>
                          <dt *ngIf="document.instruction.factDate">
                            <span>Дата закрытия</span>
                          </dt>
                          <dd *ngIf="document.instruction.factDate">
                            <span>{{document.instruction.factDate | date:'dd.MM.yyyy HH:mm'}}</span>
                          </dd>
                          <dt *ngIf="document.removeBase" [hidden]="!(document.statusId.code === 'notExecuted' || document.statusId.code === 'refused')">
                            <span>Причина снятия поручения</span>
                          </dt>
                          <dd *ngIf="document.removeBase" [hidden]="!(document.statusId.code === 'notExecuted' || document.statusId.code === 'refused')">
                            {{document.removeBase}}
                          </dd>
                          <dt>
                            <span>Предоставить материалы</span>
                          </dt>
                          <dd>
                            <span *ngIf="document.filesRequired">Да</span>
                            <span *ngIf="!document.filesRequired">Нет</span>
                          </dd>
                        </dl>
                      </div>
                    </div>
                  </div>
                </cdp-expanded-section>
                <cdp-expanded-section [(expand)]="commentExpanded">
                  <span header-slot style="display:inline;">Комментарии</span>
                  <div content-slot>
                    <mggt-order-comments [document]="document"></mggt-order-comments>
                  </div>
                </cdp-expanded-section>
                <cdp-expanded-section *ngIf="document.result && document.result.length > 0" [(expand)]="resultExpanded">
                  <span header-slot style="display:inline;">Исполнение</span>
                  <div content-slot>
                    <mggt-order-results [document]="document"></mggt-order-results>
                    <div class="description" *ngIf="document.instruction.cadastral && document.instruction.cadastral.author">
                      <dl class="dl-horizontal m-l-md">
                        <dt *ngIf="document.instruction.cadastral.checked">
                          <span>Количество территориальных зон успешно прошедших проверку </span>
                        </dt>
                        <dd *ngIf="document.instruction.cadastral.checked">
                          {{document.instruction.cadastral.checked}}
                        </dd>
                      </dl>
                    </div>
                  </div>
                </cdp-expanded-section>

              </div>
              <div class="m-t-md" *ngIf="selectedTab === 6">
                <mggt-order-subtasks-doc [dicts]="dicts" [subTasks]="insideOrder"></mggt-order-subtasks-doc>
              </div>
              <div class="m-t-md" *ngIf="selectedTab === 9">
                <div class="clearfix">
                  <div class="pull-right">
                    <mggt-btn-revoke-execution [model]="document" [source]="'coexecutors'"></mggt-btn-revoke-execution>
                  </div>
                </div>
                <mggt-order-coexecutor [document]="document"></mggt-order-coexecutor>
              </div>
              <div class="m-t-md" *ngIf="selectedTab === 1">
                <mggt-order-subtasks-doc [dicts]="dicts" [subTasks]="subTasks"></mggt-order-subtasks-doc>
              </div>
              <div class="m-t-md" *ngIf="selectedTab === 2">
                <mggt-order-subtasks-doc [dicts]="dicts" [subTasks]="linked"></mggt-order-subtasks-doc>
              </div>
              <cdp-bpm-process-manager [config]="processManagerConfig" *ngIf="selectedTab === 3"></cdp-bpm-process-manager>
              <mggt-documents-log [model]="log" *ngIf="selectedTab === 4"></mggt-documents-log>
              <mggt-order-json-editor [id]="document.documentId" *ngIf="selectedTab === 5"></mggt-order-json-editor>

              <mggt-order-review [document]="document" *ngIf="selectedTab === 7"></mggt-order-review>

              <mggt-order-for-information [document]="document" *ngIf="selectedTab === 8"></mggt-order-for-information>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div error>
    <div style="height: 200px; padding-top: 70px;">
      <h3 class="text-center">
        <i class="fa fa-exclamation-triangle text-warning"></i>&nbsp;Ошибка при инициализации приложения
      </h3>
    </div>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>

