<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">
      <div *blockUI="'issueAssignment'">
        <div class="clearfix">
          <h2 class="m-b-md pull-left small-title-mobile" style="word-break: break-all;">
            {{document.instruction.content}}</h2>
          <div class="pull-right visible-lg">
            <button (click)="copy()" class="btn btn-muted">
              <span><i class="fa fa-copy"></i> Скопировать</span>
            </button>
            <button (click)="cancel()" class="btn btn-danger">
              <span><i class="fa fa-ban"></i> Снять</span>
            </button>
          </div>

          <div class="pull-right visible-md-inline-block visible-sm-inline-block visible-xs-inline-block">
            <button (click)="copy()" class="btn btn-muted">
              <span><i class="fa fa-copy"></i></span>
            </button>
            <button (click)="cancel()" class="btn btn-danger">
              <span><i class="fa fa-ban"></i></span>
            </button>
          </div>

        </div>
        <div class="description">
          <dl class="dl-horizontal">
            <dt *ngIf="recreatedDocument"><span>Предыдущее поручение</span></dt>
            <dd *ngIf="recreatedDocument">
              <a target="_blank" uiSref="app.instruction.instruction-card"
                [uiParams]="{id: recreatedDocument.documentId}">
                № {{recreatedDocument.instruction.number}} от {{recreatedDocument.instruction.beginDate |
                date:'dd.MM.yyyy'}}
              </a>
            </dd>
            <dt *ngIf="document.instruction.number"><span>Номер поручения</span></dt>
            <dd *ngIf="document.instruction.number"><a uiSref="app.instruction.instruction-card"
                [uiParams]="{id: document.documentId}">{{document.instruction.number}}</a>
            </dd>
            <dt *ngIf="document.instruction.creator.fioFull"><span>Автор поручения</span></dt>
            <dd *ngIf="document.instruction.creator.fioFull">{{document.instruction.creator.fioFull}}
            </dd>
            <dt *ngIf="document.instruction.assistant.fioFull"><span>Карточку создал</span></dt>
            <dd *ngIf="document.instruction.assistant.fioFull">{{document.instruction.assistant.fioFull}}
            </dd>
            <dt *ngIf="document.instruction.beginDate"><span>Дата поручения</span></dt>
            <dd *ngIf="document.instruction.beginDate">{{document.instruction.beginDate |
              date:'dd.MM.yyyy HH:mm'}}
            </dd>
            <dt *ngIf="document.instruction.executor?.fioFull"><span>Ответственный исполнитель</span></dt>
            <dd *ngIf="document.instruction.executor?.fioFull">{{document.instruction.executor?.fioFull}}
            </dd>
            <ng-container *ngIf="getCoExecutors().length">
              <dt><span>Соисполнители</span></dt>
              <dd>
                <div *ngFor="let e of getCoExecutors()">{{e.reviewBy.fioFull}}</div>
              </dd>
            </ng-container>
            <ng-container *ngIf="getForInfo().length">
              <dt><span>К сведению</span></dt>
              <dd>
                <div *ngFor="let e of getForInfo()">{{e.reviewBy.fioFull}}</div>
              </dd>
            </ng-container>
            <dt *ngIf="document.instruction.planDate"><span>Срок исполнения</span></dt>
            <dd *ngIf="document.instruction.planDate">{{document.instruction.planDate |
              date:'dd.MM.yyyy HH:mm'}}
              <mggt-plan-date-history [document]="document"></mggt-plan-date-history>
            </dd>
            <dt *ngIf="document.instruction.subject?.code"><span>Тема</span></dt>
            <dd *ngIf="document.instruction.subject?.code">{{document.instruction.subject?.name}}</dd>
            <dt *ngIf="document.instruction.description"><span>Описание поручения</span></dt>
            <dd *ngIf="document.instruction.description"><span
                style="white-space:pre-wrap;word-break: break-all;">{{document.instruction.description}}</span>
            </dd>
            <dt *ngIf="document.instruction.theme?.name"><span>Рубрикатор</span></dt>
            <dd *ngIf="document.instruction.theme?.name">{{document.instruction.theme?.name}}</dd>
            <dt *ngIf="document.instruction.private !== null"><span>Личное поручение</span></dt>
            <dd *ngIf="document.instruction.private !== null">
              {{(document.instruction.private) ? 'да' : 'нет'}}
            </dd>
            <dt *ngIf="files.length > 0"><span>Файлы</span></dt>
            <dd *ngIf="files.length > 0">
              <div *ngFor="let f of files">
                <cdp-ex-file [fileInfo]="f" [showSize]="true" [showDate]="true" [checkSign]="true"
                             [downloadBaseHref]="'/filestore'">
                </cdp-ex-file>
              </div>
            </dd>
            <dt *ngIf="document.instruction.priority.name"><span>Приоритет</span></dt>
            <dd *ngIf="document.instruction.priority.name">{{document.instruction.priority.name}}</dd>
            <dt *ngIf="document.instruction.difficulty.name"><span>Сложность</span></dt>
            <dd *ngIf="document.instruction.difficulty.name">{{document.instruction.difficulty.name}}
            </dd>
            <dt *ngIf="document.instruction.factDate"><span>Дата закрытия</span></dt>
            <dd *ngIf="document.instruction.factDate">
              {{document.instruction.factDate | date:'dd.MM.yyyy'}}
            </dd>
          </dl>
        </div>

        <cdp-expanded-section *ngIf="!!rd.length" [(expand)]="rdExpand">
          <span header-slot style="display:inline;">Распорядительный документ</span>
          <div content-slot>
            <div class="m-l-md m-b-md m-t-md" *ngFor="let doc of rd">
              <div>{{doc.docType}}
                <a href="/sdo/order/#/app/order/document/{{doc.sys_documentId}}" target="_blank">
                  {{doc.docNumber ? ' № ' + doc.docNumber : ''}}
                  {{doc.docDate ? ' от ' : ''}}{{doc.docDate | date: 'dd.MM.yyyy'}}
                </a>
              </div>
              <div class="m-t-xs" *ngIf="doc.docContent">{{doc.docContent}}</div>
            </div>
          </div>
        </cdp-expanded-section>

        <cdp-expanded-section [(expand)]="meetingExpanded"
          *ngIf="pairs.length > 0 && !document.instruction.expressMeetingID">
          <span header-slot style="display:inline;">Совещание</span>
          <div content-slot>
            <div *ngFor="let p of pairs" class="description">
              <dl class="dl-horizontal m-l-md  m-t-md">
                <dt><span>Совещание</span></dt>
                <dd>
                  <a target="_blank" href="/sdo/meeting/#/app/meeting/protocol/{{p.protocol.documentId}}" *ngIf="p.protocol">
                    {{p.protocol.meetingShortName}}
                    <span>№</span><span>{{p.protocol.meetingNumber}}</span>
                    <span *ngIf="p.protocol.meetingNumber && p.protocol.meetingDate"> от </span>
                    <span>{{p.protocol.meetingDate |  date:'dd.MM.yyyy'}}</span>
                  </a>
                  <span *ngIf="!p.protocol">{{p.question.meetingShortName}}</span>
                </dd>
                <dt><span>Вопрос</span></dt>
                <dd>
                  <a target="_blank" href="/sdo/meeting/#/app/meeting/question/{{p.question.documentId}}">№ {{p.question.itemNumber}}</a>
                </dd>
                <dt><span>Текст вопроса</span></dt>
                <dd><span>{{p.question.question}}</span>
                </dd>
              </dl>
            </div>
          </div>
        </cdp-expanded-section>

        <!-- Поручение МКА -->
        <cdp-expanded-section [(expand)]="instructionMkaExpanded" *ngIf="document.instruction.InstructionMKAID">

          <span header-slot style="display:inline;">Поручение МКА</span>

          <div content-slot>
            <div class="description m-t-sm">
              <dl class="dl-horizontal m-l-md">
                <dt>
                  <span>Поручение</span>
                </dt>
                <dd>
                  <a uiSref="app.instruction.instruction-card" [uiParams]="{id: instructionMka.documentId}" target="_blank">
                    № {{instructionMka.instructionNumber}}
                  </a>
                </dd>
                <dt *ngIf="!!instructionMka.beginDate">
                  <span>Дата поручения</span>
                </dt>
                <dd *ngIf="!!instructionMka.beginDate">
                  {{instructionMka.beginDate}}
                </dd>
                <dt *ngIf="!!instructionMka.content">
                  <span>Содержание</span>
                </dt>
                <dd *ngIf="!!instructionMka.content" style="word-break: break-all;">
                  {{instructionMka.content}}
                </dd>
              </dl>
            </div>
          </div>

        </cdp-expanded-section>

        <!-- Распорядительный документ МКА -->
        <cdp-expanded-section *ngIf="orderMka" [(expand)]="orderMkaExpanded">

          <span header-slot style="display:inline;">Распорядительный документ МКА</span>

          <div content-slot>
            <div class="description m-t-sm">
              <dl class="dl-horizontal m-l-md">
                <dt>
                  <span>Наименование</span>
                </dt>
                <dd>
                  <a href="/sdo/order/#/app/order/document/{{orderMka.sys_documentId}}" target="_blank">
                    {{orderMka.docType}}
                  </a>
                </dd>
                <dt *ngIf="orderMka.docNumber">
                  <span>Номер</span>
                </dt>
                <dd *ngIf="orderMka.docNumber">
                  № {{orderMka.docNumber}}
                </dd>
                <dt>
                  <span>Дата</span>
                </dt>
                <dd>
                  {{orderMka.docDate | date:'dd.MM.yyyy'}}
                </dd>
                <dt *ngIf="orderMka.docContent">
                  <span>Содержание</span>
                </dt>
                <dd *ngIf="orderMka.docContent">
                  {{orderMka.docContent}}
                </dd>
              </dl>
            </div>
          </div>

        </cdp-expanded-section>

        <!-- Повестка регламентного совещания МКА -->
        <cdp-expanded-section *ngIf="meetingMka" [(expand)]="meetingMkaExpanded">

          <span header-slot style="display:inline;">Повестка регламентного совещания МКА</span>

          <div content-slot>
            <div class="description m-t-sm">
              <dl class="dl-horizontal m-l-md">
                <dt>
                  <span>Наименование</span>
                </dt>
                <dd>
                  <a href="/sdo/meeting/#/app/meeting/agenda/{{meetingMka.documentId}}" target="_blank">
                    {{meetingTypeMeetingFull}}
                  </a>
                </dd>
                <dt *ngIf="meetingMka.meetingNumber">
                  <span>Номер</span>
                </dt>
                <dd *ngIf="meetingMka.meetingNumber">
                  № {{meetingMka.meetingNumber}}
                </dd>
                <dt>
                  <span>Дата</span>
                </dt>
                <dd>
                  {{meetingMka.meetingDate}}
                </dd>
                <dt *ngIf="meetingMka.meetingTheme">
                  <span>Содержание</span>
                </dt>
                <dd *ngIf="meetingMka.meetingTheme">
                  {{meetingMka.meetingTheme}}
                </dd>
              </dl>
            </div>
          </div>

        </cdp-expanded-section>

        <!-- Протокол регламентного совещания МКА -->
        <cdp-expanded-section *ngIf="protocolMka" [(expand)]="protocolMkaExpanded">

          <span header-slot style="display:inline;">Протокол регламентного совещания МКА</span>

          <div content-slot>
            <div class="description m-t-sm">
              <dl class="dl-horizontal m-l-md">
                <dt>
                  <span>Наименование</span>
                </dt>
                <dd>
                  <a href="/sdo/meeting/#/app/meeting/protocol/{{protocolMka.documentId}}" target="_blank">
                    {{protocolMka.meetingFullName}}
                  </a>
                </dd>
                <dt *ngIf="protocolMka.meetingNumber">
                  <span>Номер</span>
                </dt>
                <dd *ngIf="protocolMka.meetingNumber">
                  № {{protocolMka.meetingNumber}}
                </dd>
                <dt>
                  <span>Дата</span>
                </dt>
                <dd>
                  {{protocolMka.meetingDate}}
                </dd>
                <dt *ngIf="protocolMka.meetingType">
                  <span>Содержание</span>
                </dt>
                <dd *ngIf="protocolMka.meetingType">
                  {{protocolMka.meetingType}}
                </dd>
              </dl>
            </div>
          </div>

        </cdp-expanded-section>

        <!-- Повестка административного совещания МКА -->
        <cdp-expanded-section *ngIf="expressMeetingMka" [(expand)]="expressMeetingMkaExpanded">

          <span header-slot style="display:inline;">Повестка административного совещания МКА</span>

          <div content-slot>
            <div class="description m-t-sm">
              <dl class="dl-horizontal m-l-md">
                <dt>
                  <span>Наименование</span>
                </dt>
                <dd>
                  <a href="/sdo/meeting/#/app/meeting/agenda/{{expressMeetingMka.documentId}}?express=true" target="_blank">
                    {{meetingTypeExpressMeetingFull}}
                  </a>
                </dd>
                <dt *ngIf="expressMeetingMka.meetingNumber">
                  <span>Номер</span>
                </dt>
                <dd *ngIf="expressMeetingMka.meetingNumber">
                  № {{expressMeetingMka.meetingNumber}}
                </dd>
                <dt>
                  <span>Дата</span>
                </dt>
                <dd>
                  {{expressMeetingMka.meetingDate}}
                </dd>
                <dt *ngIf="expressMeetingMka.meetingTheme">
                  <span>Содержание</span>
                </dt>
                <dd *ngIf="expressMeetingMka.meetingTheme">
                  {{expressMeetingMka.meetingTheme}}
                </dd>
              </dl>
            </div>
          </div>

        </cdp-expanded-section>

        <cdp-expanded-section [(expand)]="admMeetingExpanded" *ngIf="document.instruction.expressMeetingID">
          <span header-slot style="display:inline;">Административное совещание</span>
          <div content-slot>
            <div *ngFor="let m of meeting" class="description">
              <dl class="dl-horizontal m-l-md  m-t-md">
                <dt><span>Совещание</span></dt>
                <dd>
                  <a href="/sdo/meeting/#/app/meeting/agenda/{{m.agendaID}}" target="_blank">
                    {{instructionDocumentService.getMeetingType(m.meetingType,dicts.meetingTypes).meetingShortName}}
                    №{{m.meetingNumber}} от {{m.meetingDate | date:'dd.MM.yyyy'}}
                  </a>
                </dd>
                <dt><span>Вопрос</span></dt>
                <dd><span> №{{meetingQuestion[0].itemNumber}}</span>
                </dd>
                <dt *ngIf="meetingQuestion[0].question"><span>Текст вопроса</span></dt>
                <dd *ngIf="meetingQuestion[0].question"><span>{{meetingQuestion[0].question}}</span>
                </dd>
              </dl>
            </div>
          </div>
        </cdp-expanded-section>

        <cdp-expanded-section [(expand)]="memoExpanded"
          *ngIf="document.instruction.memoView && document.instruction.memoId">
          <span header-slot style="display:inline;">Служебная записка</span>
          <div content-slot>
            <div class="description">
              <dl class="dl-horizontal m-t-md">
                <dt><span>Номер</span></dt>
                <dd><a uiSref="app.instruction.memo-card" [uiParams]="{id: memo.documentId}">{{memo.number}}</a>
                </dd>
                <dt><span>Дата</span></dt>
                <dd><span>{{memo.beginDate | date:'dd.MM.yyyy'}}</span>
                </dd>
                <dt><span>Тема</span></dt>
                <dd><span style="white-space:pre-wrap;">{{memo.content}}</span>
                </dd>
              </dl>
            </div>
          </div>
        </cdp-expanded-section>

        <cdp-expanded-section [(expand)]="memoMKAExpanded" *ngIf="document.instruction.memoMKAID">
          <span header-slot style="display:inline;">Служебная записка MKA</span>
          <div content-slot>
            <div class="description">
              <dl class="dl-horizontal m-t-md">
                <dt><span>Номер</span></dt>
                <dd><a uiSref="app.instruction.memomka-card"
                    [uiParams]="{id: memoMKA.documentId}">{{memoMKA.number}}</a>
                </dd>
                <dt><span>Дата</span></dt>
                <dd><span>{{memoMKA.beginDate | date:'dd.MM.yyyy'}}</span>
                </dd>
                <dt><span>Тема</span></dt>
                <dd><span style="white-space:pre-wrap;">{{memoMKA.content}}</span>
                </dd>
              </dl>
            </div>
          </div>
        </cdp-expanded-section>

        <cdp-expanded-section [(expand)]="mainOrderExpanded" *ngIf="parentDocument">
          <span header-slot style="display:inline;">Главное поручение</span>
          <div content-slot>
            <mggt-main-order-info [mainOrder]="parentDocument"></mggt-main-order-info>
          </div>
        </cdp-expanded-section>

        <hr>
        <h4>Исполнение</h4>
        <mggt-order-results [document]="document"></mggt-order-results>
        <hr>
        <h4>Принять исполнение поручения</h4>
        <div *blockUI="'acceptIssueAssignment'">
          <form class="form-horizontal">
            <div class="row m-b-md">
              <label class="col-lg-3 col-md-3 col-sm-3 control-label">Срок исполнения</label>
              <div class="col-lg-2 col-md-3 col-sm-4">
                <cdp-date-selector [minDate]="document.instruction.beginDate" [(model)]="document.instruction.planDate"
                  (modelChange)="planDateChange($event)">
                </cdp-date-selector>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2">
                <timepicker [(ngModel)]="document.instruction.planDate" name="planTime" [showMeridian]="false"
                  [mousewheel]="false" [showSpinners]="false" [hourStep]="'1'" [minuteStep]="'1'">
                </timepicker>
              </div>
            </div>
            <div class="row m-b-md">
              <label class="col-lg-3 col-md-3 col-sm-3 control-label">Предоставить материалы</label>
              <div class="col-lg-7 col-md-8 col-sm-9">
                <input cdp-icheck type="checkbox" [(ngModel)]="document.filesRequired" name="filesRequired">
              </div>
            </div>
            <div class="row m-b-md">
              <label class="col-lg-3 col-md-3 col-sm-3 control-label">Комментарий</label>
              <div class="col-lg-7 col-md-8 col-sm-9">
                <textarea class="form-control" [(ngModel)]="result.acceptContent" name="acceptContent"
                  rows="10"></textarea>
              </div>
            </div>
            <div class="row m-b-md">
              <label class="col-lg-3 col-md-3 col-sm-3 control-label">Файлы</label>
              <div class="col-lg-7 col-md-8 col-sm-9">

                <cdp-ex-file-manager [(files)]="fileService.ex.filesToUpload"
                                     [fileType]="'MkaDocOrder'"
                                     [downloadable]="true"
                                     [deletable]="true"
                                     [downloadBlank]="true"
                                     [openable]="true"
                                     [baseMode]="true"
                                     (onChanged)="exFilesChanged()"
                                     [showOpenWordButton]="true"
                                     [showSize]="true"
                                     [showDate]="true">
                </cdp-ex-file-manager>
              </div>
            </div>
            <div class="row m-t-lg">
              <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
              <div class="col-lg-7 col-md-8 col-sm-9 control-block">
                <button (click)="accept()" class="btn btn-primary">
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Принять
                </button>
                <button (click)="finishTask(false)" class="btn btn-danger">
                  <i class="fa fa-thumbs-o-down" aria-hidden="true"></i> Доработать
                </button>
                <a uiSref="app.instruction.instruction-linked" [uiParams]="{ linkedId: document.documentId }"
                  class="btn btn-default">
                  <span>
                    <i class="fa fa-anchor"></i> Связанное поручение
                  </span>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div error>
    <div style="height: 200px; padding-top: 70px;">
      <h3 class="text-center"><i class="fa fa-exclamation-triangle text-warning"></i>&nbsp;Ошибка при формировании
        карточки задачи</h3>
    </div>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>
