<div class="inmodal">
    <div class="my-modal-header">
        <h2 class="text-warning">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        </h2>
        <h4>Закрыть служебную записку № {{docNumber}} от {{docDate}}</h4>
    </div>
    <div class="my-modal-footer modal-footer">
        <button type="button" class="btn btn-warning" (click)="ok()">Да</button>
        <button type="button" class="btn btn-white" (click)="no()">Нет</button>
        <button type="button" class="btn btn-white" (click)="cancel()">Отмена</button>
    </div>
</div>
