<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">
      <div *blockUI="'newMemoFull'" class="m-t-sm">
        <form class="form-horizontal" *ngIf="model">
          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">Вид</label>
            <div class="col-lg-7 col-md-8 col-sm-9" style="padding-top: 7px;">
              {{document.memoKind.name}}
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">
              Кто подписал <span ng-show="!model.creator" class="our-mandatory">*</span>
            </label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <mggt-select-ldap-users [(model)]="model.creator" [multiple]="false" [placeholder]="'Автор'">
              </mggt-select-ldap-users>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">
              Исполнитель <span [hidden]="!model.memoKind || (model.memoKind && model.memoKind.code !== '16')"
                                class="our-mandatory">*</span>
            </label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <mggt-select-ldap-users [(model)]="model.recipient" [multiple]="false" [placeholder]="'Исполнитель'"
                                      group="MGGT_MEMO_VIEW">
              </mggt-select-ldap-users>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">
              Кому <span [hidden]="!isOfficeMemo()" class="our-mandatory">*</span>
            </label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <mggt-select-ldap-users [(model)]="model.executor" [multiple]="true" [placeholder]="'Кому'"
                                      (modelChange)="updateEmailGroupsAfterExecutor();" group="MGGT_MEMO_VIEW">
              </mggt-select-ldap-users>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">
              Группа адресатов
            </label>
            <div class="col-lg-7 col-md-8 col-sm-9" data-toggle="modal" data-target="#exampleModal">
              <ng-select name="recipientGroup" [items]="emailGroups" [multiple]="true" [closeOnSelect]="true"
                         [hideSelected]="true" bindLabel="name" [(ngModel)]="selectedEmailGroups"
                         (change)="recipientGroupChanged($event)"></ng-select>
            </div>
          </div>

          <div class="form-group" (mouseover)="getAlt(true,'hint', true)" (mouseout)="getAlt(true,'hint')">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">
              Ограниченный доступ
            </label>
            <div class="col-lg-1 col-md-1 col-sm-1" style="padding-top: 7px;">
              <input cdp-icheck type="checkbox" (ngModelChange)="limitedAccess()"
                     [(ngModel)]="document.limitedAccess" name="limitedAccess">
            </div>
          </div>

          <div id="hint" class="hint">
            Документ доступен только участникам процесса
          </div>

          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">
              Срок рассмотрения
            </label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <ng-select name="reportTerm" [items]="dicts.reportTerms" [closeOnSelect]="true"
                         [hideSelected]="true" bindLabel="Name" [(ngModel)]="model.reportTerm"></ng-select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">
              Содержание <span class="our-mandatory">*</span>
            </label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <textarea class="form-control our-control" name="documentContent" rows="2" [(ngModel)]="model.content"
                        required=""></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">
              Текст <span [hidden]="!(isOfficeMemo() && document.approvalElectronically)" class="our-mandatory">*</span>
            </label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <textarea class="form-control our-control" rows="3" name="documentDescription"
                        [(ngModel)]="model.description"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">
              Тема рубрики
            </label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <ng-select name="headingTopic" [placeholder]="'Тема рубрики'" [items]="memoHeadingTopics"
                         [multiple]="false" [closeOnSelect]="true" [hideSelected]="true" bindLabel="name" bindValue="code"
                         [(ngModel)]="headingTopicName" (change)="headingTopicChanged($event)">
              </ng-select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">
              Вид деятельности треста
            </label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <ng-select name="activityKind" [placeholder]="'Вид деятельности треста'" [items]="memoTrestActivityKinds"
                         [multiple]="false" [closeOnSelect]="true" [hideSelected]="true" bindLabel="name" bindValue="code"
                         [(ngModel)]="activityKindName" (change)="activityKindChanged($event)">
              </ng-select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">
              Конфиденциальность
            </label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <ng-select name="privacy" [placeholder]="'Конфиденциальность'" [items]="privacies" [multiple]="false"
                         [closeOnSelect]="true" [hideSelected]="true" bindLabel="name" bindValue="code" [(ngModel)]="privacy"
                         (change)="privacyChanged($event)">
              </ng-select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">
              Карточку создал
            </label>
            <div class="col-lg-7 col-md-8 col-sm-9" style="padding-top: 7px;">
              {{document.assistant.fioFull}}
            </div>
          </div>

          <div class="hidden-xs hidden-sm">
            <div class="form-group">
              <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                Связанные документы
              </label>
              <div class="col-lg-7 col-md-8 col-sm-9">
                <ng-select name="docRelatedDocuments" [items]="relatedDocuments$ | async" bindLabel="number"
                           [multiple]="true" [loading]="relatedDocumentsLoading" [typeahead]="relatedDocumentsInput$"
                           [placeholder]="'СДО'" (change)="onRelateIdChange($event)" [(ngModel)]="relateId">
                </ng-select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                Примечание
              </label>
              <div class="col-lg-7 col-md-8 col-sm-9">
                <textarea class="form-control" [(ngModel)]="model.note" rows="2" name="note"></textarea>
              </div>
            </div>
          </div>

          <div class="visible-xs visible-sm">
            <cdp-expanded-section [expand]="expand.relatedDocs">
              <span header-slot style="display:inline;">
              </span>
              <div content-slot>
                <div class="form-group">
                  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                    Связанные документы
                  </label>
                  <div class="col-lg-7 col-md-8 col-sm-9">
                    <ng-select name="docRelatedDocuments" [items]="relatedDocuments$ | async" bindLabel="number"
                               [multiple]="true" [loading]="relatedDocumentsLoading" [typeahead]="relatedDocumentsInput$"
                               [placeholder]="'СДО'" (change)="onRelateIdChange($event)" [(ngModel)]="relateId">
                    </ng-select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                    Примечание
                  </label>
                  <div class="col-lg-7 col-md-8 col-sm-9">
                    <textarea class="form-control" [(ngModel)]="model.note" rows="2" name="note"></textarea>
                  </div>
                </div>
              </div>
            </cdp-expanded-section>
          </div>

          <hr>

          <div class="form-group" *ngIf="isOfficeMemo()">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">
              Электронное согласование
            </label>
            <div class="col-lg-1 col-md-1 col-sm-1" style="padding-top: 7px;">
              <input cdp-icheck type="checkbox" (change)="changeCheckbox($event, 'approvalElectronically')"
                     [(ngModel)]="model.approvalElectronically" name="approvalElectronically">
            </div>

            <div class="col-lg-7 col-md-7 col-sm-7 hidden-xs" *ngIf="model.approvalElectronically">
              <label class="col-lg-5 col-md-5 col-sm-5 control-label">
                Подписание в электронном виде
              </label>
              <div class="col-lg-7 col-md-7 col-sm-7" style="padding-top: 7px;">
                <checkbox-signing-electronically [document]="document"
                                                 [model]="model"></checkbox-signing-electronically>
              </div>
            </div>

            <div class="visible-xs" *ngIf="model.approvalElectronically">
              <label class="col-lg-5 col-md-5 col-sm-5 control-label">
                Подписание в электронном виде
              </label>
              <div class="col-lg-7 col-md-7 col-sm-7" style="padding-top: 7px;">
                <checkbox-signing-electronically [document]="document"
                                                 [model]="model"></checkbox-signing-electronically>
              </div>
            </div>
          </div>

          <cdp-expanded-section [expand]="expand.linkedElements" cdp-is-auth="SDO_LINK_LINK_VIEW">
            <span header-slot style="display:inline;">Связанные элементы</span>
            <div content-slot>
              <div class="m-t-md">
                <sdo-linked-elements [docId]="document.documentId"
                                     [docType]="'SDO_INSTRUCTION_MEMO'"
                                     [subsystemCode]="'SDO_INSTRUCTION'"
                                     [controls]="linkedControls"
                                     [mode]="'edit'"></sdo-linked-elements>
              </div>

            </div>
          </cdp-expanded-section>

          <hr />


          <h4 *ngIf="isOfficeMemo() && model.approvalElectronically">Лист согласования</h4>

          <!--<div class="form-group" *ngIf="isOfficeMemo() && model.approvalElectronically">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <h4 class="m-t ng-select">Лист согласования </h4>
            </div>
          </div>-->

          <!--<div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
            <div class="col-lg-7 col-md-8 col-sm-9">-->
          <div *ngIf="isOfficeMemo() && model.approvalElectronically">
            <mggt-approval-list-edit [model]="model"
                                     [approvalTypes]="approvalTypes"
                                     [executive]="model.creator"
                                     [signingElectronically]="model.signingElectronically"
                                     [approvers]="approvers"
                                     [approversSign]="approversSign"></mggt-approval-list-edit>
          </div>
          <!--</div>
        </div>-->

          <div class="form-group" *ngIf="isOfficeMemo()">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">
              Дополнительные материалы
            </label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <cdp-ex-file-manager [(files)]="document.attachedFile" [fileType]="'default'"
                                   (onChanged)="addFile('attachedFile')" [extPattern]="'docx, doc, pdf, xls, xlsx'"
                                   [folderGuid]="document?.folderId" [downloadable]="true" [deletable]="true" [downloadBlank]="true"
                                   [baseMode]="false" [showSize]="true">
              </cdp-ex-file-manager>
            </div>
          </div>

          <div class="form-group" *ngIf="isOfficeMemo()">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">
              Проект СЗ (без приложения)
            </label>
            <div class="col-lg-9 col-md-9 col-sm-9">
              <button (click)="createDraftFilesWithoutAtt()" class="btn btn-primary"
                      [disabled]="document.draftWithoutAtt.length">
                Сформировать проект СЗ
              </button>
            </div>
          </div>
          <div class="form-group" *ngIf="isOfficeMemo()">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
            <div class="col-lg-7 col-md-8 col-sm-9">

              <cdp-ex-file-manager [(files)]="document.draftWithoutAtt"
                                   [maxNumberOfFiles]="1"
                                   [fileType]="'default'"
                                   (onChanged)="addFile('draftWithoutAtt')"
                                   [folderGuid]="document?.folderId"
                                   [extPattern]="'docx'"
                                   [downloadable]="!document.draftWithoutAtt.length && !model.signingElectronically &&(!document.draftFiles||!document.draftFiles.length)"
                                   [deletable]="!document.draftFiles||!document.draftFiles.length"
                                   [downloadBlank]="true"
                                   [openable]="true"
                                   [baseMode]="false"
                                   [showSize]="true"
                                   [folderPath]="filePathForWord"
                                   [showOpenWordButton] = "showButton&&(!document.draftFiles||!document.draftFiles.length)"
                                   [hideDownloadButton]="showButton&&(!document.draftFiles||!document.draftFiles.length)"
                                   [onRemove]="onDraftFilesWithoutAttDelete">
              </cdp-ex-file-manager>

            </div>
          </div>

          <div class="form-group" *ngIf="isOfficeMemo()">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">
              Приложение
            </label>
            <div class="col-lg-7 col-md-8 col-sm-9">

              <cdp-ex-file-manager [(files)]="document.attachment"
                                   [maxNumberOfFiles]="1"
                                   [fileType]="'default'"
                                   (onChanged)="addFile('attachment')"
                                   [folderGuid]="document?.folderId"
                                   [extPattern]="'docx, doc, pdf'"
                                   [downloadable]="!document.attachment.length&&(!document.draftFiles||!document.draftFiles.length)"
                                   [deletable]="!document.draftFiles||!document.draftFiles.length"
                                   [downloadBlank]="true"
                                   [openable]="true"
                                   [baseMode]="false"
                                   [showSize]="true"
                                   [onRemove]="onAttachDelete">
              </cdp-ex-file-manager>

            </div>
          </div>

          <div class="form-group" *ngIf="isOfficeMemo()">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">
              Проект СЗ <span class="our-mandatory">*</span>
            </label>
            <div class="col-lg-9 col-md-9 col-sm-9">
              <button class="btn btn-primary" (click)="createDraftFiles()"
                      [disabled]="document.draftWithoutAtt && document.draftWithoutAtt.length === 0">
                Сформировать проект СЗ с приложением
              </button>
            </div>
          </div>

          <div class="form-group" *ngIf="document.draftFiles && isOfficeMemo()">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <cdp-ex-file-manager [(files)]="document.draftFiles"
                                   [fileType]="'default'"
                                   (onChanged)="addFile('draftFiles')"
                                   [extPattern]="'docx, doc, pdf'"
                                   [deletable]="true"
                                   [showSize]="true"
                                   [showDate]="true"
                                   [openable]="true"
                                   [onRemove]="onDraftFilesDelete"></cdp-ex-file-manager>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
            <div class="col-lg-7 col-md-8 col-sm-9 control-block">
              <button (click)="register()" class="btn btn-primary margin-right"
                      *ngIf="!isOfficeMemo() || (isOfficeMemo() && !model.approvalElectronically)">
                Сохранить и зарегистрировать
              </button>
              <button *ngIf="isOfficeMemo() && model.approvalElectronically " (click)="sendToApproval()"
                      class="btn btn-primary margin-right">
                Отправить на согласование
              </button>
              <button (click)="save()" class="btn btn-primary margin-right">
                Сохранить
              </button>
              <button (click)="cancel()" class="btn btn-warning margin-right">
                Отмена
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div error>
    <div style="height: 200px; padding-top: 70px;">
      <h3 class="text-center"><i class="fa fa-exclamation-triangle text-warning"></i>&nbsp;Ошибка при инициализации
        приложения</h3>
    </div>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>
