<button *ngIf="showCopyOrder" (click)="copy()" class="btn btn-muted visible-lg-inline-block">
  <span><i class="fa fa-copy"></i>  Скопировать</span>
</button>
<a *ngIf="showSubTask"
   uiSref="app.instruction.instruction-subtask" [uiParams]="{ parentId: document.documentId, from: 'document' }"
   class="btn btn-primary visible-lg-inline-block">
  <span><i class="fa fa-link"></i>  Создать подзадачу</span>
</a>
<a cdp-is-auth="INSTRUCTION_INSTRUCTION_LINKED_BUTTON" *ngIf="showLinked"
   uiSref="app.instruction.instruction-linked" [uiParams]="{ linkedId: document.documentId }"
   class="btn btn-default visible-lg-inline-block">
  <span><i class="fa fa-anchor"></i>  Связанное поручение</span>
</a>
<button *ngIf="showCancel" (click)="cancel()" class="btn btn-danger visible-lg-inline-block">
  <span><i class="fa fa-ban"></i> Снять</span>
</button>
<button *ngIf="showEdit" (click)="editNew()" class="btn btn-success visible-lg-inline-block">
  <span><i class="fa fa-pencil"></i> Редактировать</span>
</button>
<button cdp-is-auth="INSTRUCTION_INSTRUCTION_DELETE_BUTTON" (click)="delete()" class="btn btn-default visible-lg-inline-block">
  <span class="text-danger"><i class="fa fa-trash"></i> Удалить</span>
</button>
<button placement="left" tooltip="Скопировать" *ngIf="showCopyOrder" (click)="copy()"
        class="btn btn-muted visible-md-inline-block visible-sm-inline-block visible-xs-inline-block">
  <i class="fa fa-copy"></i>
</button>
<a placement="left" tooltip="Создать подзадачу" *ngIf="showSubTask"
   uiSref="app.instruction.instruction-subtask" [uiParams]="{ parentId: document.documentId, from: 'document' }"
   class="btn btn-primary visible-md-inline-block visible-sm-inline-block visible-xs-inline-block">
  <i class="fa fa-link"></i>
</a>
<a cdp-is-auth="INSTRUCTION_INSTRUCTION_LINKED_BUTTON" placement="left" tooltip="Связанное поручение"
  *ngIf="showLinked"
   uiSref="app.instruction.instruction-linked" [uiParams]="{ linkedId: document.documentId }"
   class="btn btn-primary visible-md-inline-block visible-sm-inline-block visible-xs-inline-block">
  <i class="fa fa-anchor"></i>
</a>
<button placement="left" tooltip="Снять" *ngIf="showCancel" (click)="cancel()"
        class="btn btn-danger visible-md-inline-block visible-sm-inline-block visible-xs-inline-block">
  <i class="fa fa-ban"></i>
</button>
<button placement="left" tooltip="Редактировать" *ngIf="showEdit" (click)="editNew()"
        class="btn btn-success visible-md-inline-block visible-sm-inline-block visible-xs-inline-block">
  <i class="fa fa-pencil"></i>
</button>
<button placement="left" tooltip="Удалить" cdp-is-auth="INSTRUCTION_INSTRUCTION_DELETE_BUTTON" (click)="delete()"
        class="btn btn-default visible-md-inline-block visible-sm-inline-block visible-xs-inline-block">
  <i class="fa fa-trash text-danger"></i>
</button>
