<div class="m-t-md">
	<!-- <cdp-expanded-section [(expand)]="document">
		<span header-slot style="display:inline;">
			Направлено на ознакомление
		</span>
		<div content-slot>
			<div class="description">
				<table class="table animated fadeIn m-t-sm">
					<thead>
						<tr>
							<th>ФИО ознакомленного</th>
							<th>Плановая дата ознакомления</th>
							<th>Кто отправил на ознакомление </th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let r of reviewBy">
							<td> {{r.reviewBy.fioFull}}</td>
							<td>{{r.reviewPlanDate | date:'dd.MM.yyyy'}}</td>
							<td>{{r.sentReviewBy.fioFull}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</cdp-expanded-section>

	<cdp-expanded-section [(expand)]="document">
		<span header-slot style="display:inline;">
			Ознакомлен
		</span>
		<div content-slot>
			<div class="description">
				<table class="table animated fadeIn m-t-sm">
					<thead>
						<tr>
							<th>ФИО ознакомленного</th>
							<th>Фактическая дата ознакомления</th>
							<th>Комментарий</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let r of factReviewBy">
							<td>{{r.factReviewBy.fioFull}} </td>
							<td>{{r.reviewFactDate | date:'dd.MM.yyyy'}}</td>
							<td>{{r.reviewNote}} </td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</cdp-expanded-section> -->

	<div class="description">
		<table class="table animated fadeIn m-t-sm">
			<thead>
				<tr>
					<th style="width: 200px">ФИО ознакомленного</th>
					<th style="width: 150px">Плановая дата ознакомления</th>
					<th style="width: 150px">Фактическая дата ознакомления</th>
					<th style="width: 200px">Кто отправил на ознакомление </th>
					<th>Комментарий</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let r of document.review">
					<td>
						<div *ngIf="r.reviewBy && r.reviewBy.fioFull">
							{{r.reviewBy.fioFull}}
						</div>
						<div *ngIf="r.factReviewBy && r.factReviewBy.fioFull && r.reviewBy.login !== r.factReviewBy.login">
							<span *ngIf="r.reviewBy && r.reviewBy.fioFull">(</span>
							{{r.factReviewBy.fioFull}}
							<span *ngIf="r.reviewBy && r.reviewBy.fioFull">)</span>
						</div>
					</td>
					<td>{{r.reviewPlanDate | date:'dd.MM.yyyy HH:mm'}}</td>
					<td>{{r.reviewFactDate | date:'dd.MM.yyyy HH:mm'}}</td>
					<td>
						<span *ngIf="r.sentReviewBy">
							{{r.sentReviewBy.fioFull}}
						</span>
					</td>
					<td>{{r.reviewNote}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>