<div class="mobile-select-search">
  <div class="btn-group" style="width: 100%;" dropdown>
    <button type="button" [class]="model !== null ? 'remove-show btn btn-default btn-block dropdown' : 'btn btn-default btn-block dropdown'">
      <div class="dropdown-toggle main-control pull-left" data-toggle="dropdown" dropdownToggle [id]="'mobile-select-toggle-' + name"
           [attr.aria-controls]="'mobile-select-' + name">
      <span class="pull-left text-left title">
        <span *ngIf="model != null" class="text-shorter">{{model[attr]}}</span>
        <span *ngIf="model == null" class="text-muted">не задано</span>
      </span>
        <span class="pull-right">
        <span class="caret"></span>
      </span>
      </div>
      <ul class="dropdown-menu" [id]="'mobile-select-' + name" *dropdownMenu role="menu"
          [attr.aria-labelledby]="'mobile-select-toggle-' + name">
        <li>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-search"></i>
            </div>
            <input class="form-control" [(ngModel)]="selection"/>
          </div>
        </li>
        <li>
          <a (click)="model=null">-- выберите значение --</a>
        </li>
        <li *ngFor="let item of items">
          <a (click)="select(item)">{{item.displayName}}</a>
        </li>
      </ul>
      <span class="remove-control pull-right" *ngIf="model !== null" (click)="clear() || $event.preventDefault()">
      <span class="glyphicon glyphicon-remove"></span>
    </span>
    </button>
  </div>
</div>
