<div class="inmodal">
  <div class="modal-header">
    <h3 class="modal-title"><i class="fa fa-envelope-o text-primary" aria-hidden="true"></i> Отправить по электронной почте для ознакомления</h3>
  </div>
  <div class="modal-body">
    <div class="row form-group">
      <label class="col-lg-3 col-md-3 col-sm-3 control-label">
        Кому <span *ngIf="users.length === 0" class="text-danger">*</span>
      </label>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <mggt-select-ldap-users [(model)]="users" [multiple]="true" [placeholder]="'Получатели'"></mggt-select-ldap-users>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button [ladda]="sended" data-spinner-color="#FFFFFF" class="btn btn-primary ladda-button" data-style="expand-right" type="button" (click)="ok()">Отправить по e-mail</button>
    <button type="button" class="btn btn-white" (click)="cancel()">Отмена</button>
  </div>
</div>
