.mobile-assignments-showcase {
  .ibox-content {
    padding: 15px 20px !important;
    border-width: 1px 0 0 0 !important;
  }
}

.body-small {

  @-webkit-keyframes delaeydShow {
    0% {
      display: none;
    }
    99% {
      display: none;
    }
    100% {
      display: inherit;
    }
  }
  @keyframes delaeydShow {
    0% {
      display: none;
    }
    99% {
      display: none;
    }
    100% {
      display: inherit;
    }
  }

  $highlight: #fae8ca;
  $highlight-lt: opacify($highlight, 0.95);

  h2 {
    color: #222;
  }
  input.form-control {
    font-size: 16px;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .search-form {
    input.form-control::placeholder {
      font-size: 14px;
    }
  }
  .input-group-addon:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .form-control-feedback-addon {
    right: 39px;
    z-index: 10;
    cursor: pointer;
    pointer-events: all;
    color: #999b9c;
  }
  #mobile-nav-tabs.nav-tabs {
    display: flex;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    .active-tab-bottom {
      color: #222;
      font-weight: 600;
      border-bottom: none;
    }
    li > a {
      background-color: inherit;
      border: none !important;
    }
  }
  #mobile-nav-tabs.nav-tabs > li > a {
    padding: 10px 5px 10px 5px;
    font-weight: normal;
  }

  .icon-right {
    float: right;
    line-height: inherit;
  }
  .mobile-task-date {
    color: #999b9c;
  }
  #mobile-sort-btn,
  #mobile-filter-btn {
    background-color: #eaeaeb;
    height: 34px;
    font-size: 12px;
  }
  #mobile-sorting-dropdown.dropdown-menu {
    position: absolute;
    width: 200% !important;
    top: inherit;
    font-size: 14px;
  }
  #mobile-sort-btn > span:first-child {
    width: calc(100% - 16px);
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .highlight {
    background-color: $highlight !important;
    border-color: $highlight-lt !important;
  }

  mggt-assignment-list-mobile {
    select {
      font-size: 16px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
    input.form-control::placeholder {
      font-size: 14px;
    }
    .ui-select-multiple.ui-select-bootstrap input.ui-select-search {
      width: 100% !important;
    }
    input {
      font-size: 16px !important;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
    input[type=date] {
      vertical-align: baseline;
      line-height: inherit;
    }
    .date-range {
      display: flex;
      input.form-control:first-child {
        font-size: 14px !important;
        line-height: 20px;
        border-right: none;
        padding-right: 0;
      }
      div.input-group-addon {
        border-right: none;
        border-left: none;
        padding-left: 10px;
        padding-right: 15px;
      }
      input.form-control:last-child {
        font-size: 14px !important;
        line-height: 20px;
        border-left: none;
        padding-left: 0;
        padding-right: 10px;
      }
    }
    .mobile-select-search {
      .text-shorter {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: block;
      }
      $animationTime: 0.5s;
      .btn {
        padding: 0;
        .main-control {
          width: 100%;
          padding: 6px 12px 6px 12px;
          -webkit-transition: width $animationTime;
          .title {
            width: calc(100% - 8px);
          }
        }
        .remove-control {
          padding: 6px 12px;
        }
      }
      .btn.remove-show {
        .main-control {
          padding-right: 0px;
          width: calc(100% - 38px);
          -webkit-transition: width $animationTime;
        }
      }

      .remove-control.ng-hide {
        opacity: 0;
      }
      .remove-control.ng-hide-add {
        transition: all linear $animationTime;
        display: none;
      }
      .remove-control.ng-hide-remove {
        transition: all linear $animationTime;
        display: none;
      }

      ul.dropdown-menu {
        font-size: 14px;
      }
      ul.dropdown-menu li:not(:first-child):not(:last-child) {
        border-bottom: 1px solid #e7eaec;
      }
    }
    .ui-select-bootstrap .ui-select-toggle > .caret {
      display: none;
    }
  }

  .ibox {
    margin-bottom: -1px;
  }
  .ibox-content.float-e-margins{
    padding: 0px;
  }
  .ibox-content:not(:last-child) {
    border-bottom: none;
  }

  .ibox-content.no-top-border {
    border-top: none;
  }

  .ibox-content {
    padding-bottom: 15px;
    border-width: 1px 0 0 0;
  }

  .nav.nav-tabs {
    border-bottom: none;
  }

  .mobile-instruction-title {
    font-size: 14px;
    font-weight: bold;
  }
  a.virtual-link {
    display: block;
    color: inherit;
  }

  .ui-select-bootstrap .ui-select-choices-row.active > span:hover {
    background-color: #428bca;
  }
}

#mobile-nav-pills-stacked.nav-pills {
  .active-tab-bottom {
    color: #222;
    font-weight: 600;
    border-bottom: none !important;
  }
  li > a {
    padding-left: 5px;
    padding-right: 5px;
    background-color: inherit;
    border: none !important;
  }
}
