<div class="ibox mobile-assignments-showcase">
  <cdp-loading-block [loadingStatus]="loading">
    <div success>
      <div *ngIf="success">
        <div class="row">
          <div class="col-xs-12">
            <div class="ibox-content">
              <h2 style="margin-bottom: 15px;">
                <span class="font-bold m-b-md">Поручения</span>
                <span class="pull-right">
                  <div style="display: inline-block">
                    <a uiSref="app.instruction.instruction-new" [uiParams]="{}" placement="left"
                      tooltip="Дать поручение" class="btn btn-violet"
                      cdp-is-auth="INSTRUCTION_INSTRUCTION_ADD_BUTTON" (click)="saveLinkForNew()" ><i class="fa fa-file"></i></a>
                  </div>
                </span>
              </h2>
              <div class="search-form">
                <form (submit)="searchChanged();loseFocus();">
                  <div class="form-group" style="margin-bottom: 5px;">
                    <div class="input-group">
                      <input placeholder="Номер, автор или исполнитель" class="form-control" name="commonSearch"
                        [(ngModel)]="searchQuery">
                      <span class="form-control-feedback form-control-feedback-addon" *ngIf="searchQuery !== ''"
                        (click)="searchQuery=''; searchChanged();">&#10006;</span>
                      <div class="input-group-btn">
                        <button type="submit" class="btn btn-primary">
                          <i class="fa fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div>
                <ul class="nav nav-pills nav-stacked" id="mobile-nav-pills-stacked">
                  <li *ngFor="let tab of tabs" (click)="activate(tab.alias)"
                    [class]="hideOvers === false || isActive(tab.alias) ? '' : 'hidden'">
                    <a [class]="isActive(tab.alias) ? 'active-tab-bottom' : ''">
                      {{tab.title}}
                      <span class="pull-right" [hidden]="!isActive(tab.alias)">
                        <i class="glyphicon glyphicon-tasks"></i>
                      </span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="ibox-content" *ngIf="activeTab === null">
              <div style="height: 200px; padding-top: 70px;">
                <h1 class="text-center">Нет элементов для отображения или доступа к разделу</h1>
              </div>
            </div>
            <div *ngFor="let t of tabs">
              <mggt-assignment-list-mobile *ngIf="isActive(t.alias)" [dicts]="dicts" [filter]="filter"
                [preFilter]="preFilter[t.alias]" [filterChanged]="updateList"></mggt-assignment-list-mobile>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div error>
      <div class="ibox-content">
        <div class="container">
          <div class="row">
            <div class="m-t-sm" style="padding: 20px 45px;">
              <span class="fa fa-times-circle text-danger"></span>
              <span>Ошибка формирования витрины</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div loading>
      <div class="m-t-sm">
        <div style="height: 200px; padding-top: 45px;">
          <cdp-spinner style="margin:5px;" [type]="'three-bounce'"></cdp-spinner>
        </div>
      </div>
    </div>
  </cdp-loading-block>
</div>
