<div class="showcase-custom">
  <div class="clearfix">
    <div>
      <h2 class="font-bold pull-left">Внутренние документы</h2>
    </div>
    <div class="pull-right">
      <p class="m-t-md" style="display: inline-block">
        Найдено — <b>{{model.pagination.totalItems}}</b>
      </p>
    </div>
  </div>

  <div class="container-header">

    <div class="container-search">
      <common-search (changed)="commonSearchChanged()"
                     *ngIf="!model.settings.disableCommonSearch"
                     [model]="model"></common-search>
    </div>

    <div class="container-btn">
      <div class="pull-right">
        <div class="btn-right-overlay">

          <!-- custom btn -->
          <div class="custom-btn blue">
            <a class="btn btn-primary m-l-sm m-r-sm" href="/sdo/instruction/#/app/instruction/memo/new-short">
              Создать внутренний документ
            </a>
          </div><!-- // custom-btn -->

          <button class="btn btn-white" type="button"
                  (click)="advancedSearchExpand = !advancedSearchExpand"
                  [ngClass]="{'has-filters': model.selectedFiltersNumber}" *ngIf="model.settings.separateFilter">
            <i class="fa fa-filter"></i><span *ngIf="model.selectedFiltersNumber">({{model.selectedFiltersNumber}})</span>
          </button>

        </div>
      </div>
    </div>

  </div>

  <div *ngIf="model.settings.separateFilter">
    <div class="animated fadeIn m-t-md" [hidden]="!advancedSearchExpand">
      <showcase-filter [model]="model" (changed)="changeFilters()"></showcase-filter>
    </div>
  </div>

  <!--<div *ngIf="model.settings.defaultView === 'card' && searchResult && searchResult.docs">
    <cdp-showcase-builder-search-results-cards [model]="model"
                                               [items]="searchResult.docs"></cdp-showcase-builder-search-results-cards>
  </div>-->

  <div *ngIf="model.settings.defaultView === 'table' && searchResult">
    <showcase-search-result-table [model]="model" [items]="searchResult.docs || []"
                                  (sortingChanged)="sortingChanged()"
                                  (filterChanged)="changeFilters()"></showcase-search-result-table>
  </div>

  <div *ngIf="model.settings.defaultView === 'table' && searchResult && searchResult.docs">
    <showcase-paging [model]="model" (pageChanged)="_pageChanged()"
                     (itemsPerPageChanged)="_itemsPerPageChanged()"></showcase-paging>
  </div>

  <div *ngIf="firstLoading" style="text-align: center">
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>

</div>
