@import '../../../../../styles/variables';

@mixin theme($name, $color) {
  &.#{$name} {
    .fa-spinner, .fa-filter, .fa-table, .fa-th-list {
      color: $color;
    }
  }
}

.showcase-custom {
  @include theme('green', $green);
  @include theme('aero', $aero);
  @include theme('blue', $blue);
  @include theme('gray', $gray);
  @include theme('orange', $orange);
  @include theme('pink', $pink);


  .has-filters {
    background-color: #fff3cd;
  }
  .custom-btn {
    &.pink {color: $pink;}
    &.green {color: $green;}
    &.aero {color: $aero;}
    &.blue {color: $blue;}
    &.gray {color:  $gray;}
    &.orange {color:  $orange;}
  }
  .container-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    .container-search{
      flex: 1 1 auto;
      padding-right: 20px;
    }
    .container-btn{
      flex: 0 1 auto;
    }
    .btn-right-overlay {
      display: flex;
    }
  }
}

