<div class="search-form m-b-sm reinform-cdp-common-search" [ngClass]="model.settings.theme">
  <form>
    <div class="input-group">
      <input type="text" style="text-align: left;" placeholder="{{model.settings.placeholderForCommonSearch}}"
             class="form-control input-lg"
             [(ngModel)]="model.commonSearch" [ngModelOptions]="{standalone: true}" (change)="onChanged()">
      <div class="input-group-btn">
        <button type="button" class="btn btn-lg btn-search" (click)="onChanged()">Найти</button>
      </div>
    </div>
  </form>
</div>
