@import '../../../../../styles/variables';

@mixin theme($name, $color) {
  &.#{$name} {
    input[type="text"].form-control:focus {
      border: 1px solid $color !important;
    }
    textarea.form-control:focus {
      border: 1px solid $color !important;
    }
    select.form-control:focus {
      border: 1px solid $color !important;
    }
    .btn-search {
      background-color: $color;
      color: white;
      &:focus, &.focus {
        background-color: darken($color, 10%);
      }
      &:hover {
        background-color: darken($color, 10%);
      }
      &.disabled, &[disabled], fieldset[disabled] & {
        &:hover, &:focus, &.focus {
          background-color: $color;
        }
      }
    }
  }
}

.reinform-cdp-common-search {
  @include theme('green', $green);
  @include theme('aero', $aero);
  @include theme('blue', $blue);
  @include theme('gray', $gray);
  @include theme('orange', $orange);
  @include theme('pink', $pink);
}
