/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import "~@reinform-cdp/main-theme/dist/index.css";
@import "~@reinform-cdp/widgets/dist/index.css";
@import "~@reinform-cdp/skeleton/dist/index.css";
@import '~icheck/skins/square/orange.css';
@import '~jsoneditor/dist/jsoneditor.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~ladda/dist/ladda-themeless.min.css";
@import "~animate.css/animate.css";
@import "~metismenu/dist/metisMenu.css";
@import "~ui-select/dist/select.css";
@import "~ngdropzone/dist/ng-dropzone.css";
@import "~angular-toastr/dist/angular-toastr.css";
@import "~angular-block-ui/dist/angular-block-ui.css";
@import "~fullcalendar/dist/fullcalendar.css";
$fa-font-path: "~fontawesome-pro/webfonts";
@import "~fontawesome-pro/scss/v4-shims.scss";
@import "~fontawesome-pro/scss/fontawesome.scss";
@import "~fontawesome-pro/scss/brands.scss";
@import "~fontawesome-pro/scss/light.scss";
@import "~fontawesome-pro/scss/regular.scss";
@import "~fontawesome-pro/scss/solid.scss";
@import '~ngx-bootstrap/datepicker/bs-datepicker.css';

.oasi-components .nav-header {
  padding: 0 !important;
  background-color: #2F4050;
}


// dependency tree svg component
.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.zindex {
  z-index: 3050 !important;
}

/* You can add global styles to this file, and also import other style files */
.zindex {
  z-index: 3050 !important;
}

@media (min-width: 1200px) {
  .modal-xl {
    width: 1140px;
    max-width: 1140px;
  }
}

.multiline-select .ng-dropdown-panel-items .ng-option {
  white-space: normal!important;
}
.multiline-select .ng-value-container .ng-value  {
  white-space: normal!important;
}
.multiline-select.ng-select.ng-select-single .ng-select-container {
height: auto;
}

.search-result-table td a.label {
  width: 100%;
  display: inline-block;
  padding: 5px 10px;
}

.body-small .form-horizontal {
  .control-label.padding-xs {
    &.col-xs-1, &.col-xs-2, &.col-xs-3, &.col-xs-4, &.col-xs-5, &.col-xs-6,
    &.col-xs-7, &.col-xs-8, &.col-xs-9, &.col-xs-10, &.col-xs-11, &.col-xs-12 {
      padding-top: 7px;
    }

  }
}
