<div class="inmodal">
  <div class="modal-header">
    <h3 class="modal-title"><i class="fa fa-pencil text-primary" aria-hidden="true"></i> Добавление комментария</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label">Комментарий <span
          [hidden]="text" class="text-danger">*</span></label>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <textarea class="form-control" [(ngModel)]="text" rows="2" name="text"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="ok()">Добавить</button>
    <button type="button" class="btn btn-white" (click)="cancel()">Отмена</button>
  </div>
</div>
