<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">
      <div *blockUI="'editMemo'">
        <div class="clearfix">

          <div class="pull-left" *ngIf="!$localStorage.isMobile">
            <h3>{{document.memoKind.name}} № {{document.number}} от {{document.beginDate | date: 'dd.MM.yyyy'}}</h3>
          </div>
          <div class="pull-left" *ngIf="$localStorage.isMobile">
            <h3>{{document.memoKind.name}}</h3>
            <h3>№ {{document.number}} от {{document.beginDate | date: 'dd.MM.yyyy'}}</h3>
          </div>
        </div>
        <h2 class="m-t-sm m-b-sm semibold" style="font-weight: 600;">{{document.content}}</h2>

        <div class="m-t-xs m-b-xs">
          <div class="clearfix">
            <div class="row">
              <div class="col-xs-5 col-md-2">
                Кто подписал:
              </div>
              <div class="col-xs-7 col-md-6">
                <span style="font-weight:600">{{document.creator.fioFull}}</span>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-5 col-md-2">
                Кому:
              </div>
              <div class="col-xs-7 col-md-6">
                <span style="font-weight:600">
                  <span *ngFor="let executor of document.executor; let i = index">
                    <span *ngIf="i">,</span>{{executor.fioFull}}
                  </span>
                </span>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-5 col-md-2">
                Исполнитель:
              </div>
              <div class="col-xs-7 col-md-6">
                <span style="font-weight:600">{{document.recipient.fioFull}}</span>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-5 col-md-2">
                Карточку создал:
              </div>
              <div class="col-xs-7 col-md-6">
                <span style="font-weight:600">{{document.assistant.fioFull}}</span>
              </div>
            </div>

            <div class="row" (mouseover)="getAlt(document.limitedAccess,'hint', true)" (mouseout)="getAlt(document.limitedAccess,'hint')">
              <div class="col-xs-5 col-md-2">
                Ограниченный доступ:
              </div>
              <div class="col-xs-7 col-md-6">
                <span style="font-weight:600">{{document.limitedAccess? 'Да' : 'Нет'}}</span>
              </div>
            </div>

            <div id="hint" class="hint">
              {{document.limitedAccess? 'Документ доступен только участникам процесса' : ''}}
            </div>

          </div>
        </div>

        <div class="m-t-sm m-b-xs">
          <span class="label label-{{document.statusId.color}}">{{document.statusId.name}}</span>
        </div>

        <hr/>

        <div class="m-t-md">

          <div class="description">
            <dl class="dl-horizontal  m-t-md" [ngClass]="{'m-l-md': !$localStorage.isMobile}">
              <dt *ngIf="document.privacy && document.privacy.name"><span>Конфиденциальность</span></dt>
              <dd *ngIf="document.privacy && document.privacy.name"><span>{{document.privacy.name}}</span></dd>
              <dt *ngIf="document.description"><span>Текст</span></dt>
              <dd *ngIf="document.description" style="cursor: pointer;">
                <div
                  style="width: 300px; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;"
                  *ngIf="!isFullDescription" (click)="toggleDescription()">
                  {{document.description}}
                </div>
                <div *ngIf="isFullDescription" style="width: 300px;" (click)="toggleDescription()">
                  {{document.description}}
                </div>
              </dd>
            </dl>
          </div>

          <form class="form-horizontal">

            <div class="form-group" *ngIf="canEditReportTerm">
              <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                Срок рассмотрения
              </label>
              <div class="col-lg-7 col-md-8 col-sm-9" ng-if="false">
                <ng-select name="reportTerm" [items]="dicts.reportTerms" [closeOnSelect]="true"
                           [hideSelected]="true" bindLabel="Name" [(ngModel)]="model.reportTerm"></ng-select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                Ограниченный доступ
              </label>
              <div class="col-lg-1 col-md-1 col-sm-1" style="padding-top: 7px;">
                <input cdp-icheck type="checkbox" (ngModelChange)="limitedAccess()"
                       [(ngModel)]="document.limitedAccess" name="limitedAccess">
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                Тема рубрики
              </label>
              <div class="col-lg-7 col-md-8 col-sm-9" ng-if="false">
                <ng-select name="headingTopic" [placeholder]="'Тема рубрики'" [items]="memoHeadingTopics"
                           [multiple]="false"
                           [closeOnSelect]="true" [hideSelected]="true" bindLabel="name" bindValue="code"
                           [(ngModel)]="model.headingTopic.code" (change)="headingTopicChanged($event)">
                </ng-select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                Вид деятельности треста
              </label>
              <div class="col-lg-7 col-md-8 col-sm-9" ng-if="false">
                <ng-select name="activityKind" [placeholder]="'Вид деятельности треста'"
                           [items]="memoTrestActivityKinds"
                           [multiple]="false" [closeOnSelect]="true" [hideSelected]="true" bindLabel="name"
                           bindValue="code"
                           [(ngModel)]="model.activityKind.code" (change)="activityKindChanged($event)">
                </ng-select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                Связанные документы
              </label>
              <div class="col-lg-7 col-md-8 col-sm-9">
                <ng-select name="relatedDocuments"
                           [items]="relatedDocuments$ | async"
                           bindLabel="title"
                           [multiple]="true"
                           [hideSelected]="true"
                           [loading]="relatedDocumentsLoading"
                           [typeahead]="relatedDocumentsInput$"
                           placeholder="Введите 1 символ для начала поиска"
                           [(ngModel)]="relateId"
                           (change)="onRelateIdChange($event)">
                </ng-select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                Примечание
              </label>
              <div class="col-lg-7 col-md-8 col-sm-9" ng-if="false">
                <textarea class="form-control" [(ngModel)]="model.note" rows="2" name="note"></textarea>
              </div>
            </div>

            <hr/>

            <div class="form-group" *ngIf="isOfficeMemo()">
              <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                Дополнительные материалы
              </label>
              <div class="col-lg-7 col-md-8 col-sm-9">
                <cdp-ex-file-manager [(files)]="document.attachedFile" [fileType]="'default'"
                                     (onChanged)="addFile('attachedFile')" [extPattern]="'docx, doc, pdf, xls, xlsx'"
                                     [folderGuid]="document?.folderId" [downloadable]="true" [deletable]="true"
                                     [downloadBlank]="true"
                                     [baseMode]="false" [showSize]="true">
                </cdp-ex-file-manager>
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
              <div class="col-lg-7 col-md-8 col-sm-9 control-block">
                <button (click)="save()" class="btn btn-primary margin-right m-r-xs">
                  Сохранить
                </button>
                <button (click)="cancel()" class="btn btn-warning margin-right">
                  Отмена
                </button>
              </div>
            </div>

          </form>

        </div>

      </div>
    </div>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>
