<div class="inmodal">
  <div class="modal-header">
    <h3 class="modal-title">Копирование поручения</h3>
  </div>
  <div class="modal-body">
    <p>Создать новое поручение или связанную подзадачу?</p>
  </div>
  <div class="modal-footer control-block">
    <button type="button" class="btn btn-primary" (click)="ok('new')">Новое поручение</button>
    <button type="button" class="btn btn-primary" (click)="ok('subTask')">Связанная подзадача</button>
    <button type="button" class="btn btn-white" (click)="cancel()">Отмена</button>
  </div>
</div>
