<div class="inmodal">
  <div class="modal-header">
    <h3 class="modal-title">Перенаправление служебной записки</h3>
  </div>
  <div class="modal-body">
    <div class="row form-group">
      <label class="col-lg-3 col-md-3 col-sm-3 control-label">
        Кому <span *ngIf="users.length === 0" class="text-danger">*</span>
      </label>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <mggt-select-ldap-users [(model)]="users" [multiple]="true" [placeholder]="'Получатели'"></mggt-select-ldap-users>
      </div>
    </div>
    <div class="row form-group">
      <label class="col-lg-3 col-md-3 col-sm-3 control-label">
        Комментарий
      </label>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <textarea class="form-control" [(ngModel)]="comment" rows="10" name="comment"></textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button [ladda]="redirect" data-spinner-color="#FFFFFF" class="btn btn-success ladda-button" data-style="expand-right" type="button" (click)="ok()">Перенаправить</button>
    <button type="button" class="btn btn-white" (click)="cancel()">Отмена</button>
  </div>
</div>
