<div class="clearfix showcase-builder-paging" [ngClass]="model.settings.theme">
  <div class="pull-left">
    <pagination [totalItems]="model.pagination.totalItems"
                [(ngModel)]="model.pagination.currentPage"
                [firstText]="'Первая'"
                [lastText]="'Последняя'"
                [previousText]="'Предыдущая'"
                [nextText]="'Следующая'"
                [rotate]="true"
                [disabled]="model.loading"
                (pageChanged)="onPageChanged($event)"
                [itemsPerPage]="model.pagination.itemsPerPage"
                [boundaryLinks]="true"
                [maxSize]="3"
                class="m-b-xs">
    </pagination>
  </div>
  <div class="pull-left m-l-xs" *ngIf="model.settings.changeNumberOfElementsPerPage">
    <select [(ngModel)]='model.pagination.itemsPerPage' (ngModelChange)="onItemsPerPageChanged()" class='pagination'>
      <option value='10'>10</option>
      <option value='20'>20</option>
      <option value='50'>50</option>
      <option value='100'>100</option>
    </select>
    <span *ngIf="model.loading" class="m-l-sm"><i class="fa fa-spinner fa-spin fa-1x fa-fw"></i></span>
  </div>
</div>
