@import '../../../../../styles/variables';

@mixin theme($name, $color) {
  &.#{$name} {
    .fa-spinner {
      color: $color;
      font-size:18px
    }
  }
}

.showcase-builder-paging {
  @include theme('green', $green);
  @include theme('aero', $aero);
  @include theme('blue', $blue);
  @include theme('gray', $gray);
  @include theme('orange', $orange);
  @include theme('pink', $pink);

  select {
    padding: 3px 10px;
    border: 1px solid rgb(221, 221, 221);
  }
}
