<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">
      <div *blockUI="'reviewMemo'">

        <div class="row description" *ngIf="lastResult?.reportButton === 'Перенаправил'">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <dl class="dl-horizontal">

              <dt><span>Перенаправил для работы</span></dt>
              <dd>{{lastResult.reportExecutor.fioFull}}</dd>

              <dt><span>Дата перенаправления</span></dt>
              <dd>{{lastResult.reportDate | date: 'dd.MM.yyyy'}}</dd>

              <dt><span>Комментарий</span></dt>
              <dd>{{lastResult.reportContent}}</dd>
            </dl>
          </div>
        </div>

        <div class="clearfix">
          <h2 class="m-b-md pull-left clearfix">{{document.content}}
            <div class="clearfix description"><span
                class="label label-{{document.statusId.color}}">{{document.statusId.name}}</span>
            </div>
          </h2>

          <div class="pull-right">
            <button (click)="mail()" class="btn btn-default visible-lg-inline-block">
              <span><i class="fa fa-envelope-o"></i> Отправить по e-mail</span>
            </button>
            <button placement="left" tooltip="Отправить по e-mail" (click)="mail()"
              class="btn btn-default visible-md-inline-block visible-sm-inline-block visible-xs-inline-block">
              <i class="fa fa-envelope-o"></i>
            </button>
            <a uiSref="app.instruction.memo-copy" [uiParams]="{ copiedId: document.documentId }"
              cdp-is-auth="INSTRUCTION_MEMO_COPY" class="btn btn-primary visible-lg-inline-block">
              <span><i class="fa fa-link"></i> Скопировать</span>
            </a>
            <a placement="left" tooltip="Скопировать" uiSref="app.instruction.memo-copy"
              cdp-is-auth="INSTRUCTION_MEMO_COPY" [uiParams]="{ copiedId: document.documentId }"
              class="btn btn-primary visible-md-inline-block visible-sm-inline-block visible-xs-inline-block">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>

        <h2>
          <a uiSref="app.instruction.memo-card" [uiParams]="{ id: document.documentId }">
            № {{document.number}} от {{document.beginDate | date: 'dd.MM.yyyy'}}
          </a>
        </h2>

        <div class="row description">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <dl class="dl-horizontal">

              <dt><span>Кто подписал</span></dt>
              <dd>{{document.creator.fioFull}}</dd>

              <dt><span>Срок рассмотрения</span></dt>
              <dd>{{document.reportTermDoc.reportTerm.name}}</dd>

              <dt><span>Кому</span></dt>
              <dd>
                <span *ngFor="let executor of document.executor; let i = index">
                  {{executor.fioFull}}
                </span>
              </dd>

              <dt *ngIf="document.attachedFile && document.attachedFile.length > 0">
                <span>Дополнительные материалы</span>
              </dt>
              <dd *ngIf="document.attachedFile && document.attachedFile.length > 0">
                <div *ngFor="let f of document.attachedFile">
                  <cdp-ex-file [fileInfo]="f" [showSize]="true" [showDate]="true" [checkSign]="true"
                    [downloadBaseHref]="'/filestore'">
                  </cdp-ex-file>
                </div>
              </dd>
            </dl>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 ">
            <dl class="dl-horizontal">

              <dt><span>Карточку создал</span></dt>
              <dd>{{document.assistant.fioFull}}</dd>

              <span class="form-inline" (mouseover)="getAlt(document.limitedAccess,'hint', true)" (mouseout)="getAlt(document.limitedAccess,'hint')">
              <dt><span>Ограниченный доступ</span></dt>
              <dd>{{document.limitedAccess? 'Да' : 'Нет'}}</dd>
            </span>

              <div id="hint" class="hint">
                {{document.limitedAccess? 'Документ доступен только участникам процесса' : ''}}
              </div>

            </dl>
          </div>
        </div>

        <div class="description clearfix">
          <div *ngIf="files.length > 0">
            <div class="fileMemo" *ngFor="let f of files">
              <cdp-ex-file [fileInfo]="f" [showSize]="true" [showDate]="true" [checkSign]="true"
                          [downloadBaseHref]="'/filestore'"></cdp-ex-file>
            </div>
          </div>
        </div>

        <div class="description m-b-md" *ngIf="document.description">
          <div class="m-b-sm"><span>Текст</span></div>
          <div class="single-line ">
            <span style="white-space:pre-wrap;">{{document.description}}</span></div>
        </div>

        <div class="row description" *ngIf="relatedMemos.length || document.note">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <dl class="dl-horizontal">
              <ng-container *ngIf="relatedMemos.length">
                <dt><span>Связанные документы</span></dt>
                <dd>
                  <div *ngFor="let relatedMemo of relatedMemos">
                    <a uiSref="app.instruction.memo-card" [uiParams]="{ id: relatedMemo.documentId }">
                      {{relatedMemo.memoKind.name}} № {{relatedMemo.number}} от {{relatedMemo.beginDate | date:
                      'dd.MM.yyyy'}}
                    </a>
                  </div>
                </dd>
              </ng-container>
              <ng-container *ngIf="document.note">
                <dt>Примечание</dt>
                <dd>
                  <span style="white-space:pre-wrap;">{{document.note}}</span>
                </dd>
              </ng-container>
            </dl>
          </div>
        </div>

        <div class="m-b-md" cdp-is-auth="SDO_LINK_LINK_VIEW">
          <cdp-expanded-section [expand]="showLinkedElements">
            <span header-slot style="display:inline;">Связанные элементы</span>
            <div content-slot>
              <div class="m-t-md">
                <sdo-linked-elements [docId]="document.documentId"
                                     [docType]="'SDO_INSTRUCTION_MEMO'"
                                     [subsystemCode]="'SDO_INSTRUCTION'"
                                     [mode]="'view'"></sdo-linked-elements>
              </div>
            </div>
          </cdp-expanded-section>
        </div>

        <hr />

        <!-- Mobile tabs header -->
        <div class="visible-xs visible-sm">
          <ul class="nav nav-pills nav-stacked" id="mobile-nav-pills-stacked">
            <li (click)="onTabSelected(0)" [class]="hideOvers === false || isActive(0) ? '' : 'hidden'">
              <a [class]="isActive(0) ? 'active-tab-bottom' : ''">
                Исполнение
                <span class="pull-right" [hidden]="!isActive(0)">
                  <i class="glyphicon glyphicon-tasks"></i>
                </span>
              </a>
            </li>

            <li *ngIf="instructions.length > 0" (click)="onTabSelected(1)"
              [class]="hideOvers === false || isActive(1) ? '' : 'hidden'">
              <a [class]="isActive(1) ? 'active-tab-bottom' : ''">
                Поручения
                <span class="pull-right" [hidden]="!isActive(1)">
                  <i class="glyphicon glyphicon-tasks"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>

        <!-- Desktop tabs header -->
        <div class="hidden-xs hidden-sm">
          <ul class="nav nav-tabs" (click)="$event.preventDefault()">
            <li class="nav-item" [class.active]="selectedTab === 0">
              <a href="javascript:void(0);" class="nav-link" [class.active]="selectedTab === 0"
                (click)="selectedTab = 0">
                <span>Исполнение</span>
              </a>
            </li>

            <li class="nav-item" [class.active]="selectedTab === 1" *ngIf="instructions.length > 0">
              <a href="javascript:void(0);" class="nav-link" [class.active]="selectedTab === 1"
                (click)="selectedTab = 1">
                <span>Поручения</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="tab-content m-t-md">
          <div *ngIf="isActive(0)">
            <form class="form-horizontal">
              <div class="row m-b-md">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Комментарий</label>
                <div class="col-lg-9 col-md-9 col-sm-9">
                  <textarea class="form-control" [(ngModel)]="reportContent" rows="10" name="comment"></textarea>
                </div>
              </div>

              <div class="row m-b-md">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Файлы</label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                  <cdp-ex-file-manager [(files)]="reportFile" [fileType]="'default'" [folderGuid]="document?.folderId"
                    [downloadable]="true" [deletable]="true" [downloadBlank]="true" [checkSign]="true"
                    [baseMode]="false" [showSize]="true">
                  </cdp-ex-file-manager>
                </div>
              </div>


            </form>
          </div>
          <div *ngIf="isActive(1)">
            <mggt-order-subtasks-doc [dicts]="instructionDicts" [subTasks]="instructions"></mggt-order-subtasks-doc>
          </div>
        </div>

        <form class="form-horizontal">
          <div class="row m-b-md">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
            <div class="col-lg-7 col-md-8 col-sm-9 control-block"><!--finishTask(false)-->
              <button (click)="finish()" class="btn btn-warning m-r-xs">Закрыть задачу</button>
              <a uiSref="app.instruction.instruction-fromMemo" [uiParams]="{memoId: document.documentId}"
                class="btn btn-violet  m-r-xs"><i class="fa fa-file"></i> Дать поручение
              </a>
              <!--
              <button (click)="saveDocument()" class="btn btn-default m-r-xs">Сохранить данные</button>
              -->
              <button (click)="reply()" *ngIf="visibleAnswerwBtn" class="btn btn-primary m-r-xs">Ответить</button>
              <button (click)="redirect()" *ngIf="visibleRedirectBtn" class="btn btn-success">Перенаправить</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div error>
    <div style="height: 200px; padding-top: 70px;">
      <h3 class="text-center"><i class="fa fa-exclamation-triangle text-warning"></i>&nbsp;Ошибка при формировании
        карточки задачи</h3>
    </div>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>

